Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

0.23.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.23.6 (#116)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/utils/gsea.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
Due: flake8, versionchecker

scrna.SeuratPreparing: update log message for transformation/scaling step
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

scrna_metabolic_landscape.MetabolicPathwayHeterogeneity: add utils.gsea script source to support localizeGmtfile
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
Due: flake8

0.23.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.23.7 (#117)
  biopipen/__init__.py
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

scrna.SeuratPreparing: log Seurat procedure arguments
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

scrna.ScFGSEA: add `subset` to filter cells
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScFGSEA.R
  tests/test_scrna/ScFGSEA/test.py
Due: flake8

0.23.8
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.23.8 (#118)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratPreparing.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_scrna/ScFGSEA/test.py
Due: flake8, versionchecker

cellranger: fix inferring sample name when fastqs from mulitple lanes
  biopipen/ns/cellranger.py
Due: flake8

deps: bump up deps by pipen 0.13
  poetry.lock
  pyproject.toml
Due: versionchecker

deps: add pipen-poplog to populate job logs to running log
  biopipen/core/proc.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat: add utils.caching.R
  biopipen/utils/caching.R
Due: flake8

scrna.SeuratClustering/SeuratSubClustering: cache Seurat procedures step by step
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

deps: bump pipen-poplog to 0.0.2
  poetry.lock
  pyproject.toml
Due: versionchecker

scrna.MetaMarkers: limit log messages to be populated to 15
  biopipen/ns/scrna.py
Due: flake8

scrna.SeuratPreparing: log procedure arguments at debug level
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

scrna_metabolic_landscape.MetabolicFeaturesIntraSubset: use logger to log so can be poplutated to running log
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
Due: flake8

scrna_metabolic_landscape.MetabolicPathwayActivity: use logger to log so can be poplutated to running log
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
Due: flake8

tcr.ImmunarchLoading: add logs for steps
  biopipen/scripts/tcr/ImmunarchLoading.R
Due: flake8

tcr.TCRClustering: use logger to log so can be poplutated to running log
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

tcr.TESSA: log command at debug level
  biopipen/scripts/tcr/TESSA.R
Due: flake8

tcr.Immunarch: add plot_type for divs to support boxplots
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/scripts/tcr/immunarch-patched.R
  tests/test_tcr/Immunarch/run.env
  tests/test_tcr/Immunarch/test.py
Due: flake8

tcr.TCRClustering: fix log_info not found
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

tcr.Immunarch: make poplog_max 999 to pop all job logs to running log
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch-vjjunc.R
Due: flake8

scrna_metabolic_landscape.MetabolicFeaturesIntraSubset: change log level for groups from warning to info
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
Due: flake8

0.24.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.24.0 (#119)
  biopipen/__init__.py
  biopipen/core/proc.py
  biopipen/ns/cellranger.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch-vjjunc.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/scripts/tcr/ImmunarchLoading.R
  biopipen/scripts/tcr/TCRClustering.R
  biopipen/scripts/tcr/TESSA.R
  biopipen/scripts/tcr/immunarch-patched.R
  biopipen/utils/caching.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_tcr/Immunarch/run.env
  tests/test_tcr/Immunarch/test.py
Due: flake8, versionchecker

tcr.Immunarch: update spectratyping output file extension to png
  biopipen/scripts/tcr/Immunarch-spectratyping.R
Due: flake8

0.24.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.24.1 (#120)
  biopipen/__init__.py
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

scrna.SeuratPreparing: fix displaying filters in report
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

deps: bump pipen-report to 0.17.3
  poetry.lock
  pyproject.toml
Due: versionchecker

cellranger: add CellRangerSummary
  biopipen/ns/cellranger.py
  biopipen/reports/cellranger/CellRangerSummary.svelte
  biopipen/scripts/cellranger/CellRangerSummary.R
Due: flake8

cellranger_pipeline: Add `CellRangerCountPipeline` and `CellRangerVdjPipeline`
  biopipen/ns/cellranger_pipeline.py
Due: flake8

cell_ranger: Use `Iframe` in report to have loading indicators
  biopipen/reports/cellranger/CellRangerCount.svelte
  biopipen/reports/cellranger/CellRangerVdj.svelte
Due: flake8

chore: use internal `slugify` instead of `slugify` library
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/RadarPlots.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-hists.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  biopipen/scripts/tcr/CloneResidency.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-vjjunc.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/scripts/tcr/TCRClusterStats.R
  biopipen/utils/gsea.R
  biopipen/utils/misc.R
  tests/conda/env_r.yml
Due: flake8

scrna.SeuratPreparing: fix logging Seurat procedure arguments
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

0.24.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker
