Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

scrna.CellsDistribution: Add descr for cases in report
  biopipen/ns/scrna.py
Due: flake8

Add biopipen palette
  biopipen/scripts/delim/SampleInfo.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/utils/misc.R
Due: flake8

scrna.CellsDistribution: Save the table only with necessary columns
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

scrna.MarkersFinder: Add dot plot
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

scrna.MetaMarkers: Use logger to log messages
  biopipen/scripts/scrna/MetaMarkers.R
Due: flake8

scrna.SeuratClustering: Use logger to log messages
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

Fix header formatting in CellsDistribution.R
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

Bump pipen-board to 0.13.8 (pipen-report to 0.16)
  poetry.lock
Due: none

delim.SampleInfo: Fix handling of null exclude_cols
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

scrna.SeuratClustering: Add cache option to cache the clustering results if nothing changed except ncores
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClustering.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

scrna.SeuratClustering: Allow cache to be a directory path where cached files are saved
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClustering.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

0.22.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  docs/pipelines/scrna_basic.md
  pyproject.toml
Due: flake8, versionchecker

tcr.ImmunarchLoading: Change `metacols` to `extracols` so essential columns get exported
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/ImmunarchLoading.R
Due: flake8

scrna.CellsDistribution: Export table with distinct columns
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

scrna.SeuratMetadataMutater: Warn about existing columns in seurat object
  biopipen/scripts/scrna/SeuratMetadataMutater.R
Due: flake8

tcr.Attach2Seurat: Detach prefix from template in code
  biopipen/scripts/tcr/Attach2Seurat.R
Due: flake8

tcr.CDR3AAPhyschem: Detach prefix from template in code
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

tcr.Immunarch: Use `immdata$prefix` as prefix by default
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

tcr.TCRClustering: Use `immdata$prefix` as prefix by default
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

tcr.TESSA: Allow `in.immdata` to be either an RDS file of immunarch object or a text file of cell-level expanded data
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TESSA.R
Due: flake8

0.22.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.22.1 (#98)
  biopipen/__init__.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/SeuratMetadataMutater.R
  biopipen/scripts/tcr/Attach2Seurat.R
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/scripts/tcr/ImmunarchLoading.R
  biopipen/scripts/tcr/TCRClustering.R
  biopipen/scripts/tcr/TESSA.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

docs: Update logo and favicon
  docs/img/favicon.ico
  docs/img/logo.png
  docs/img/rtd-logo.png
Due: none

docs: Update logo height in README.md
  README.md
Due: none

core.filters: Add `exclude` argument to dict_to_cli_args filter
  biopipen/core/filters.py
Due: flake8

cellranger: Add CellRangerCount and CellRangerVdj
  biopipen/core/config.toml
  biopipen/ns/cellranger.py
  biopipen/reports/cellranger/CellRangerCount.svelte
  biopipen/reports/cellranger/CellRangerVdj.svelte
  biopipen/scripts/cellranger/CellRangerCount.py
  biopipen/scripts/cellranger/CellRangerVdj.py
  pyproject.toml
Due: flake8, versionchecker

scrna.CellTypeAnnotation: Allow using NA to exclude clusters from output Seurat object
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
Due: flake8

cellranger.CellRangerCount: Fix report
  biopipen/reports/cellranger/CellRangerCount.svelte
Due: flake8

cellranger.CellRangerVdj: Fix report
  biopipen/reports/cellranger/CellRangerVdj.svelte
Due: flake8

cellranger.CellRangerCount: Fail the process when report is not created
  biopipen/scripts/cellranger/CellRangerCount.py
Due: flake8

cellranger.CellRangerVdj: Fail the process when report is not created
  biopipen/scripts/cellranger/CellRangerVdj.py
Due: flake8

scrna.SeuratClusterStats: Fix path of expression table file
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

scrna.MarkersFinder: Use `FindAllMarkers` if `ident.1` is not specified
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

scrna.CellsDistribution: Don't add rownames to the output table file
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

utils.mutate_helpers: Add `debug` and `each` to expanded, collapsed, vanished and emerged
  biopipen/utils/common_docstrs.py
  biopipen/utils/mutate_helpers.R
  tests/test_utils/mutate_helpers/test.py
Due: flake8

0.22.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.22.2 (#99)
  README.md
  biopipen/__init__.py
  biopipen/core/config.toml
  biopipen/core/filters.py
  biopipen/ns/cellranger.py
  biopipen/ns/scrna.py
  biopipen/reports/cellranger/CellRangerCount.svelte
  biopipen/reports/cellranger/CellRangerVdj.svelte
  biopipen/scripts/cellranger/CellRangerCount.py
  biopipen/scripts/cellranger/CellRangerVdj.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/utils/common_docstrs.py
  biopipen/utils/mutate_helpers.R
  docs/CHANGELOG.md
  docs/img/favicon.ico
  docs/img/logo.png
  docs/img/rtd-logo.png
  poetry.lock
  pyproject.toml
  tests/test_utils/mutate_helpers/test.py
Due: flake8, versionchecker

utils.mutate_helpers: Return ids only when subset is true and group is not NA for `uniq = TRUE` in expanded, collapsed, emerged and vanished
  biopipen/utils/mutate_helpers.R
Due: flake8

0.22.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
