Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

chore(deps): update pipen-report version to 0.23.1 and adjust file hashes
  poetry.lock
Due: none

0.33.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(delim.SampleInfo): fix when plot_type ending with "plot"
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

feat(scrna.LoomTo10X): add LoomTo10X to convert loom format of scRNA-seq data to 10X format
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/LoomTo10X.R
  tests/conda/env_biopipen.yml
  tests/test_scrna/LoomTo10X/run.env
  tests/test_scrna/LoomTo10X/test.py
Due: flake8

ci: update conditions for build and deploy jobs based on event type
  .github/workflows/ci.yml
Due: none

0.33.1
  .github/workflows/ci.yml
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.33.1 (#161)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/delim/SampleInfo.R
  biopipen/scripts/scrna/LoomTo10X.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/LoomTo10X/run.env
  tests/test_scrna/LoomTo10X/test.py
Due: flake8, versionchecker

fix: ignore private import usage warning for argx in filters.py
  biopipen/core/filters.py
  poetry.lock
Due: flake8

enh(bam.CNAClinic): change `envs.binsize` to bp instead of kbp
  biopipen/ns/bam.py
  biopipen/scripts/bam/CNAClinic.R
Due: flake8

fix(cnv.TMADScore): correct output filename
  biopipen/ns/cnv.py
Due: flake8

fix(bam.CNVpytor): fix report template
  biopipen/reports/bam/CNVpytor.svelte
Due: flake8

fix(bam.CNAClinic): fix CNAClinic package reordering chromsome issue and ignore when genomewide plot fails
  biopipen/scripts/bam/CNAClinic.R
Due: flake8

fix(bam.CNVpytor): change args type from dict to Diot for improved type safety
  biopipen/scripts/bam/CNVpytor.py
Due: flake8

fix(bam.ControlFREEC): fix failure when converting toml to ini
  biopipen/scripts/bam/ControlFREEC.py
Due: flake8

fix(cnv.AneuploidyScore): replace ggplot with plotthis for bar plotting and add error handling for chromosome start detection
  biopipen/scripts/cnv/AneuploidyScore.R
Due: flake8

enh(cnv.AneuploidyScoreSummary): use plotthis to replace ggplot2 for plots
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
Due: flake8

enh(cnv.TMADScoreSummary): replace ggplot2 with plotthis for plotting and improve metafile validation
  biopipen/scripts/cnv/TMADScoreSummary.R
Due: flake8

test(bam): add CNVpytor, CNVkit and ControlFREEC tests (only run locally)
  tests/test_bam/CNVCallers/run.env
  tests/test_bam/CNVCallers/test.py
  tests/test_bam/CNVpytor/test.py
Due: none

test(cnv): add tests for Aneuploidy and TMAD and their summary compartments
  tests/test_cnv/ASnTMAD/run.env
  tests/test_cnv/ASnTMAD/test.py
Due: none

feat: add common Svelte report template for job reporting (using report.json, generated by the job)
  biopipen/reports/common.svelte
Due: flake8

feat(utils): implement Reporter class for generating JSON reports for processes
  biopipen/utils/reporter.py
Due: flake8

test(cnv): disable report generation in TMADScoreSummary for testing
  tests/test_cnv/ASnTMAD/test.py
Due: none

feat(tests): add r-aneuploidyscore dependency to biopipen environment
  tests/conda/env_biopipen.yml
Due: none

test(cnv): add genome parameter to AneuploidyScore test
  tests/test_cnv/ASnTMAD/test.py
Due: none

feat(bam): add SamtoolsView for BAM file processing
  biopipen/ns/bam.py
  biopipen/scripts/bam/SamtoolsView.py
Due: flake8

chore(deps): update dependencies
  poetry.lock
Due: none

fix(delim.SampleInfo): fix plot functions being registered twice to gglogger
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

fix(SampleInfo): ensure reporter saves output to job output directory
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

chore(SampleInfo): use common report template
  biopipen/ns/delim.py
  biopipen/reports/delim/SampleInfo.svelte
Due: flake8

enh(scrna.SeuratPreparing): adopt biopipen.utils.R v0.1.0
  biopipen/ns/scrna.py
  biopipen/reports/common.svelte
  biopipen/reports/scrna/SeuratPreparing.svelte
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

enh(scrna.SeuratMap2Ref): adopt biopipen.utils.R v0.1.0
  biopipen/ns/scrna.py
  biopipen/reports/scrna/SeuratMap2Ref.svelte
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

docs(tcr.ScRepLoading): correct file path in error message and improve docstring formatting
  biopipen/ns/tcr.py
Due: flake8

fix(scrna.SeuratClusterStats): update ngenes_defaults to include more_formats and improve plot saving functionality
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
Due: flake8

chore(scrna.SeuratClusterStats): update plugin_opts to use common report template and add report paging
  biopipen/ns/scrna.py
  biopipen/reports/scrna/SeuratClusterStats.svelte
Due: flake8

chore(scrna.SeuratClusterStats): remove unused library(circlize) import
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

enh(scrna_metabolic_landscape): make metabolic landscape analysis for scRNA-seq data more flexible and stable
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/reports/common.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeatures.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayActivity.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.svelte
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
Due: flake8

enh(scrna.ExprImputation): handle threshold for the cells to be imputed
  biopipen/scripts/scrna/ExprImputation-alra.R
Due: flake8
