Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

fix(scrna.SeuratClusterStats): correct default dimension reduction function reference in feature plotting
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

chore(deps): update comment for r-biopipen.utils to for ci update conda env
  tests/conda/env_biopipen.yml
Due: none

1.3.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

1.3.1 (#226)
  biopipen/__init__.py
  biopipen/ns/cellranger.py
  biopipen/ns/cellranger_pipeline.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/cellranger/CellRangerMulti.py
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/Slingshot.R
  docker/cellranger_pipeline/CellrangerMultiPipeline.config.toml
  docs/CHANGELOG.md
  tests/conda/env_biopipen.yml
  tests/test_cellranger/CellRangerMulti/test.py
  uv.lock
Due: flake8, versionchecker

fix(tcr.ClonalStats): correct plot type handling in get_plot_descr function
  biopipen/scripts/tcr/ClonalStats.R
Due: flake8

chore(deps): update certifi to version 2026.4.22 and click to version 8.3.3
  uv.lock
Due: none

1.3.2
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

1.3.2 (#227)
  biopipen/__init__.py
  biopipen/scripts/tcr/ClonalStats.R
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

chore: bump pipen-log2file to v1.1.3
  uv.lock
Due: none

fix(scrna.ScFGSEA): handle null Seurat object in do_case function
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

1.3.3
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

ci: update build condition to exclude merge commits and WIP messages [wip]
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
Due: none

docs: update changelog (1.3.3) [wip]
  docs/CHANGELOG.md
Due: none

1.3.3 (#228)
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  biopipen/__init__.py
  biopipen/scripts/scrna/ScFGSEA.R
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

feat(scrna.MarkersFinder): add signature string extraction for Seurat object
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(scrna.ScFGSEA): add signature string extraction for Seurat object
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

fix(scrna.ScFGSEA): correct variable name for signature string extraction
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

1.3.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

1.3.4 (#229)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ScFGSEA.R
  docs/CHANGELOG.md
  tests/conda/env_biopipen.yml
  uv.lock
Due: flake8, versionchecker

fix(scrna.MarkersFinder): add support for filtering significant markers in all-marker processing
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

1.3.5
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

1.3.5 (#230)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
Due: flake8, versionchecker

feat(scrna.TopExpressingGenes): add description parameter for enrichment visualization plots
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/TopExpressingGenes.R
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.MarkersFinder): add description parameter for marker plots
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.ScFGSEA): add description parameter for pathway enrichment plots
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScFGSEA.R
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.PseudoBulkDEG): add description parameter for plots in PseudoBulkDEG process
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/PseudoBulkDEG.R
  tests/test_scrna/Seurat/test.py
Due: flake8

1.3.6
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

1.3.6 (#231)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  docs/CHANGELOG.md
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

fix(scrna.MarkersFinder): improve filtering of significant markers in marker processing
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

1.3.7
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

1.3.7 (#232)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
Due: flake8, versionchecker

ci(docker): update workflow trigger to include release events
  .github/workflows/docker.yml
Due: none

feat(scrna.SeuratPreparing): add ambient RNA removal and decontX arguments
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

chore: bump pipen to v1.1.16 (xqute to v2.1.0, which introduces timeout as scheduler_opts)
  uv.lock
Due: none

ci: update CACHE_NUMBER for conda environment to force updates
  .github/workflows/ci.yml
Due: none

1.3.8
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

feat(scrna.SeuratPreparing): added scCDC contamination correction and contam QC plots
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

chore(ci): bumped cache version number
  .github/workflows/ci.yml
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
