Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

⬆️ Bump pipen-board to 0.7.3
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.14.1
  biopipen/__init__.py
  biopipen/core/proc.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.14.1 (#58)
  biopipen/__init__.py
  biopipen/core/proc.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/CloneResidency.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🐛 [scrna.CellTypeAnnotate] Fix when no cell types is given for direct annotation
  biopipen/scripts/scrna/CellTypeAnnotate-direct.R
Due: flake8

🐛 [cnv.AneuploidyScore] Fix when `envs.cn_tranform` is a list of thresholds
  biopipen/ns/cnv.py
  biopipen/scripts/cnv/AneuploidyScore.R
Due: flake8

⬆️ Bump pipen-board to 0.7.4
  poetry.lock
Due: none

⬆️ Bump pipen-report to 0.12.3
  poetry.lock
Due: none

⚡️ Replace `do.call` with `do_call` in R scripts to improve performance
  biopipen/scripts/bam/CNAClinic.R
  biopipen/scripts/cnv/AneuploidyScore.R
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
  biopipen/scripts/plot/Heatmap.R
  biopipen/scripts/scrna/CellTypeAnnotate-direct.R
  biopipen/scripts/scrna/CellTypeAnnotate-sctype.R
  biopipen/scripts/scrna/DimPlots.R
  biopipen/scripts/scrna/ExprImpute-alra.R
  biopipen/scripts/scrna/GeneExpressionInvistigation.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/scripts/tcr/SampleDiversity.R
  biopipen/scripts/tcr/TCRClusteringStats.R
Due: flake8

🔖 0.14.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.14.2 (#59)
  biopipen/__init__.py
  biopipen/ns/cnv.py
  biopipen/scripts/bam/CNAClinic.R
  biopipen/scripts/cnv/AneuploidyScore.R
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
  biopipen/scripts/plot/Heatmap.R
  biopipen/scripts/scrna/CellTypeAnnotate-direct.R
  biopipen/scripts/scrna/CellTypeAnnotate-sctype.R
  biopipen/scripts/scrna/DimPlots.R
  biopipen/scripts/scrna/ExprImpute-alra.R
  biopipen/scripts/scrna/GeneExpressionInvistigation.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/scripts/tcr/SampleDiversity.R
  biopipen/scripts/tcr/TCRClusteringStats.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen to 0.10.5
  poetry.lock
Due: none

🔧 [scrna_metabolic_landscape] Make proc group options for process readonly
  biopipen/ns/scrna_metabolic_landscape.py
Due: flake8

🎨 [scrna_metabolic_landscape.MetabolicFeatures] Add indicators during computation
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
Due: flake8

🔖 0.14.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.14.3 (#60)
  biopipen/__init__.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen-board to 0.7.7
  poetry.lock
Due: none

➖ Retire cmdy at all places
  biopipen/core/filters.py
  biopipen/scripts/bam/CNVpytor.py
  biopipen/scripts/bam/ControlFREEC.py
  biopipen/scripts/bcftools/BcftoolsAnnotate.py
  biopipen/scripts/bcftools/BcftoolsFilter.py
  biopipen/scripts/bcftools/BcftoolsSort.py
  biopipen/scripts/bed/Bed2Vcf.py
  biopipen/scripts/bed/BedConsensus.py
  biopipen/scripts/cnvkit/CNVkitAccess.py
  biopipen/scripts/cnvkit/CNVkitAutobin.py
  biopipen/scripts/cnvkit/CNVkitBatch.py
  biopipen/scripts/cnvkit/CNVkitCoverage.py
  biopipen/scripts/cnvkit/CNVkitDiagram.py
  biopipen/scripts/cnvkit/CNVkitFix.py
  biopipen/scripts/cnvkit/CNVkitHeatmap.py
  biopipen/scripts/cnvkit/CNVkitReference.py
  biopipen/scripts/cnvkit/CNVkitScatter.py
  biopipen/scripts/cnvkit/CNVkitSegment.py
  biopipen/scripts/tcgamaf/Maf2Vcf.py
  biopipen/scripts/vcf/VcfAnno.py
  biopipen/scripts/vcf/VcfIndex.py
  biopipen/scripts/vcf/VcfIntersect.py
  biopipen/scripts/vcf/VcfLiftOver.sh
  biopipen/scripts/web/Download.py
  biopipen/scripts/web/DownloadList.py
  biopipen/utils/misc.py
  biopipen/utils/reference.py
  poetry.lock
  pyproject.toml
  tests/data/prep_reference.py
  tests/test_core/filters/test.py
Due: flake8, versionchecker

✅ [core.filters] Add run.env to test
  tests/test_core/filters/run.env
Due: none

✅ Limit numpy to 1.24.4 in env_r.yml
  tests/conda/env_r.yml
Due: none

✅ Limit numpy to 1.24 in env_r.yml
  tests/conda/env_r.yml
Due: none

⬆️ Bump pipen to 0.10.6
  poetry.lock
  tests/conda/env_r.yml
Due: none

🎨 [scrna.MarkersFinder] Make envs.sigmarkers case wise for scrna.MarkersFinder (#53)
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

⬆️ Bump pipen-board to 0.7.8
  poetry.lock
Due: none

🚑 Fix run_command in multiple scripts
  biopipen/core/filters.py
  biopipen/scripts/bam/ControlFREEC.py
  biopipen/scripts/bcftools/BcftoolsAnnotate.py
  biopipen/scripts/bcftools/BcftoolsFilter.py
  biopipen/scripts/bcftools/BcftoolsSort.py
  biopipen/scripts/bed/Bed2Vcf.py
  biopipen/scripts/bed/BedtoolsMerge.py
  biopipen/scripts/cnvkit/CNVkitAccess.py
  biopipen/scripts/cnvkit/CNVkitAutobin.py
  biopipen/scripts/cnvkit/CNVkitBatch.py
  biopipen/scripts/cnvkit/CNVkitDiagram.py
  biopipen/scripts/cnvkit/CNVkitFix.py
  biopipen/scripts/cnvkit/CNVkitGuessBaits.py
  biopipen/scripts/cnvkit/CNVkitHeatmap.py
  biopipen/scripts/cnvkit/CNVkitReference.py
  biopipen/scripts/cnvkit/CNVkitScatter.py
  biopipen/scripts/cnvkit/CNVkitSegment.py
  biopipen/scripts/tcgamaf/Maf2Vcf.py
  biopipen/scripts/vcf/VcfAnno.py
  biopipen/scripts/vcf/VcfIntersect.py
  biopipen/scripts/web/Download.py
  biopipen/scripts/web/DownloadList.py
  tests/data/prep_reference.py
Due: flake8

✅ [core.filters] Add test for `dashify=True`
  tests/test_core/filters/test.py
Due: none

🐛 [cnvkit] Fix convert_args in scripts
  biopipen/scripts/cnvkit/CNVkitDiagram.py
  biopipen/scripts/cnvkit/CNVkitHeatmap.py
  biopipen/scripts/cnvkit/CNVkitScatter.py
Due: flake8

🔖 0.15.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.15.0 (#61)
  biopipen/__init__.py
  biopipen/core/filters.py
  biopipen/ns/scrna.py
  biopipen/scripts/bam/CNVpytor.py
  biopipen/scripts/bam/ControlFREEC.py
  biopipen/scripts/bcftools/BcftoolsAnnotate.py
  biopipen/scripts/bcftools/BcftoolsFilter.py
  biopipen/scripts/bcftools/BcftoolsSort.py
  biopipen/scripts/bed/Bed2Vcf.py
  biopipen/scripts/bed/BedConsensus.py
  biopipen/scripts/bed/BedtoolsMerge.py
  biopipen/scripts/cnvkit/CNVkitAccess.py
  biopipen/scripts/cnvkit/CNVkitAutobin.py
  biopipen/scripts/cnvkit/CNVkitBatch.py
  biopipen/scripts/cnvkit/CNVkitCoverage.py
  biopipen/scripts/cnvkit/CNVkitDiagram.py
  biopipen/scripts/cnvkit/CNVkitFix.py
  biopipen/scripts/cnvkit/CNVkitGuessBaits.py
  biopipen/scripts/cnvkit/CNVkitHeatmap.py
  biopipen/scripts/cnvkit/CNVkitReference.py
  biopipen/scripts/cnvkit/CNVkitScatter.py
  biopipen/scripts/cnvkit/CNVkitSegment.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/tcgamaf/Maf2Vcf.py
  biopipen/scripts/vcf/VcfAnno.py
  biopipen/scripts/vcf/VcfIndex.py
  biopipen/scripts/vcf/VcfIntersect.py
  biopipen/scripts/vcf/VcfLiftOver.sh
  biopipen/scripts/web/Download.py
  biopipen/scripts/web/DownloadList.py
  biopipen/utils/misc.py
  biopipen/utils/reference.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/data/prep_reference.py
  tests/test_core/filters/run.env
  tests/test_core/filters/test.py
Due: flake8, versionchecker

🎨 [tcr.CloneResidency] Add indicators during running
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

🐛 [misc.File2Proc] Check if input file exists
  biopipen/ns/misc.py
Due: flake8

🎨 [tcr.Immunarch] Allow cases for trackings and add mutaters for metadata
  biopipen/ns/tcr.py
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

🎨 [tcr.CloneResidency] Allow multiple cases add mutaters for metadata
  biopipen/ns/tcr.py
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

⬆️ Bump pipen-board to 0.8.0
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Bump pipen-report to 0.12.5 (to fix the pydantic error)
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.15.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.15.1 (#62)
  biopipen/__init__.py
  biopipen/ns/misc.py
  biopipen/ns/tcr.py
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/scripts/tcr/CloneResidency.R
  biopipen/scripts/tcr/Immunarch.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen-board to 0.8.1
  poetry.lock
  pyproject.toml
Due: versionchecker

✨ [scrna.RadarPlots] Add process
  biopipen/ns/scrna.py
  biopipen/reports/scrna/RadarPlots.svelte
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

🎨 [tcr.Immunarch] Separate diversity in script into a different file
  biopipen/ns/tcr.py
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

✨ [scrna.TopExpressingGenes] Add process
  biopipen/reports/scrna/TopExpressingGenes.svelte
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8
