Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

choir(plot.Manhattan): default `envs.title` to `None` (don't add title to the plot by default)
  biopipen/ns/plot.py
Due: flake8

fix(plot.Manhattan): fix `envs.ylabel` not working
  biopipen/scripts/plot/Manhattan.R
Due: flake8

fix(snp.PlinkIBD): add `--keep-allele-order` to keep the allele order
  biopipen/scripts/snp/PlinkIBD.R
Due: flake8

fix(delim.SampleInfo): fix numbers not split up when `each` is specified.
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

enh(delim.SampleInfo): make sizes of pie charts proportional to number of samples when `each` is specified
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

enh(plot.Manhattan): give warnings instead of errors about zooming chromosomes not existing
  biopipen/scripts/plot/Manhattan.R
Due: flake8

BREAKING: rename namespace regulation to regulatory
  biopipen/ns/regulatory.py
  biopipen/scripts/regulatory/MotifAffinityTest.R
  biopipen/scripts/regulatory/MotifAffinityTest_AtSNP.R
  biopipen/scripts/regulatory/MotifAffinityTest_MotifBreakR.R
  biopipen/scripts/regulatory/MotifScan.py
  biopipen/scripts/regulatory/atSNP.R
  biopipen/scripts/regulatory/motifBreakR.R
  pyproject.toml
  tests/test_regulation/MotifAffinityTest/test.py
  tests/test_regulation/MotifScan/test.py
Due: flake8, versionchecker

feat(plot.QQPlot): add support for custom theoratical values
  biopipen/ns/plot.py
  biopipen/scripts/plot/QQPlot.R
Due: flake8

tests(plot.QQPlot): add tests
  tests/conda/env_r.yml
  tests/test_plot/QQPlot/run.env
  tests/test_plot/QQPlot/test.py
Due: none

chore(snp.MatrixEQTL): allow pvalue cutoffs to be greater than 1 (but 1 will be used anyway)
  biopipen/scripts/snp/MatrixEQTL.R
Due: flake8

enh(scrna.MarkersFinder): run PrepSCTFindMarkers when necessary before calling FindMarkers
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(scrna.SeuratPreparing): add option to cache Seurat object at different steps
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

feat(scrna.SeuratPreparing): allow doubletfinder to run with a different number of cores
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

tests(scrna.SeuratClusterStats): use less stringent p-value cutoff for DEG/MarkersFinder
  tests/test_scrna/SeuratClusterStats/test.py
Due: none

chore(scrna.SeuratClustering): record PrepSCTFindMarkers command in sobj@commands
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

tests(scrna.SeuratPreparing): add doubletfinder in tests
  tests/conda/env_r.yml
  tests/test_scrna/SeuratPreparing/test.py
Due: none

chore(scrna.SeuratPreparing): let envs$DoubletFinder$ncores only controls `summarizeSweep`
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

feat(stats): add Mediation for mediation analysis
  biopipen/ns/stats.py
  biopipen/scripts/stats/Mediation.R
  tests/conda/env_r.yml
  tests/test_stats/Mediation/run.env
  tests/test_stats/Mediation/test.py
Due: flake8

0.29.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

Dev (#143)
  biopipen/__init__.py
  biopipen/ns/plot.py
  biopipen/ns/regulatory.py
  biopipen/ns/scrna.py
  biopipen/ns/stats.py
  biopipen/scripts/delim/SampleInfo.R
  biopipen/scripts/plot/Manhattan.R
  biopipen/scripts/plot/QQPlot.R
  biopipen/scripts/regulatory/MotifAffinityTest.R
  biopipen/scripts/regulatory/MotifAffinityTest_AtSNP.R
  biopipen/scripts/regulatory/MotifAffinityTest_MotifBreakR.R
  biopipen/scripts/regulatory/MotifScan.py
  biopipen/scripts/regulatory/atSNP.R
  biopipen/scripts/regulatory/motifBreakR.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/snp/MatrixEQTL.R
  biopipen/scripts/snp/PlinkIBD.R
  biopipen/scripts/stats/Mediation.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
  tests/test_plot/QQPlot/run.env
  tests/test_plot/QQPlot/test.py
  tests/test_regulation/MotifAffinityTest/test.py
  tests/test_regulation/MotifScan/test.py
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_scrna/SeuratPreparing/test.py
  tests/test_stats/Mediation/run.env
  tests/test_stats/Mediation/test.py
Due: flake8, versionchecker

chore(stats.Mediation): make better logging strategy for various number of cases
  biopipen/scripts/stats/Mediation.R
Due: flake8

chore(scrna.SeuratClusterStats): use ident label length to adjust default height for feature plots
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

chore(scrna.MetaMarkers): run PrepSCTFindMarkers when necessary before calling meta-markers
  biopipen/scripts/scrna/MetaMarkers.R
Due: flake8

fix(scrna.MarkersFinder): fix fetching command when composing the PrepSCTFindMarkers command
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

fix(scrna_metabolic_landscape): handle null values in for loop in MetabolicFeatures and MetabolicFeaturesIntraSubset for report generation
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
Due: flake8

0.29.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.29.2 (#144)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/stats/Mediation.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(stats.Mediation): fix when NAs in the data
  biopipen/scripts/stats/Mediation.R
Due: flake8

BREAKING(scrna): move clustree plots from SeuratClustering/SeuratSubClustering to SeuratClusterStats
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-clustree.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-hists.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

chore(scrna.MetaMarkers): remove `plugin_opts.poplog_max`
  biopipen/ns/scrna.py
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

fix(scrna): fix resolution expansion for SeuratClustering and SeuratSubClustering
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratSubClustering.R
Due: flake8

chore(tcr.CloneResidency): improve logging when handling subjects
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

feat(plot): add Scatter for scatter plots
  biopipen/ns/plot.py
  biopipen/scripts/plot/Scatter.R
  tests/conda/env_r.yml
  tests/test_plot/Scatter/run.env
  tests/test_plot/Scatter/test.py
Due: flake8

ci: fix CI due to conda env changes
  .github/workflows/ci.yml
  tests/conda/env_biopipen.yml
Due: none

chore: source the files for Immunarch scripts for better debugging
  Makefile
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch-vjjunc.R
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

tests(scrna.ScFGSEA): fix unavailable urls to GMT files
  tests/test_scrna/ScFGSEA/test.py
Due: none

docs(web): update docs of `envs.tool` for Download/DownloadList
  biopipen/ns/web.py
Due: flake8

chore(scrna.SeuratMap2Ref): optimize memory usage
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8
