Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

1.1.12
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.1.12 (#210)
  biopipen/__init__.py
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/tcr/ScRepLoading.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat(scrna.Seurat[Sub]Clustering): add python executable path for RunUMAP
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  tests/test_scrna/Seurat/test.py
Due: flake8

chore(deps): add umap-learn for Seurat's RunUMAP functionality in conda yml file
  tests/conda/env_biopipen.yml
Due: none

1.1.13
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.1.13 (#211)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

enh(scrna.SeuratClusterStats): improve dimensionality reduction plot description to include default identity context
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
Due: flake8

chore: bump pipen-report to 1.1.1
  poetry.lock
Due: none

feat(scrna.SeuratClusterStats): support 3D dimplots
  biopipen/ns/scrna.py
  biopipen/reports/common.svelte
  tests/test_scrna/Seurat/test.py
Due: flake8

1.1.14
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.1.14 (#212)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/reports/common.svelte
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

feat: support relative devpars width/height for saving plots
  biopipen/scripts/regulatory/motifs-common.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/scripts/snp/PlinkCallRate.R
  biopipen/scripts/snp/PlinkFreq.R
  biopipen/scripts/snp/PlinkHWE.R
  biopipen/scripts/snp/PlinkHet.R
  biopipen/scripts/snp/PlinkIBD.R
  biopipen/scripts/vcf/TruvariBenchSummary.R
Due: flake8

fix(regulatory): correct function calls to use biopipen.utils for height and width calculations in plot_variant_motifs
  biopipen/scripts/regulatory/motifs-common.R
Due: flake8

docs(scrna.ModuleScoreCalculator): add additional arguments description for AddModuleScore and CellCycleScoring
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.ModuleScoreCalculator): add support for mouse cell cycle genes in module scoring
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ModuleScoreCalculator.R
Due: flake8

feat: add pipseeker pipeline with full and summary processes
  .github/workflows/docker.yml
  biopipen/core/config.toml
  biopipen/ns/pipseeker.py
  biopipen/scripts/pipseeker/PipseekerFull.py
  biopipen/scripts/pipseeker/PipseekerSummary.R
  docker/pipseeker_pipeline/.gitignore
  docker/pipseeker_pipeline/Dockerfile
  docker/pipseeker_pipeline/PipseekerPipeline.config.toml
  docker/pipseeker_pipeline/board.toml
  docker/pipseeker_pipeline/entry.sh
  docker/pipseeker_pipeline/env.yml
  docker/pipseeker_pipeline/make-examples.sh
  docs/pipelines/pipseeker_pipeline.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: bump pipen to 1.1.10
  poetry.lock
Due: none

style(tcr): clean up code style for python scripts
  biopipen/core/config.py
  biopipen/core/testing.py
  biopipen/ns/cellranger_pipeline.py
  biopipen/ns/cnvkit_pipeline.py
  biopipen/scripts/bed/Bed2Vcf.py
  biopipen/scripts/cnvkit/CNVkitDiagram.py
  biopipen/scripts/cnvkit/CNVkitScatter.py
  biopipen/scripts/cnvkit/guess_baits.py
  biopipen/scripts/protein/MMCIF2PDB.py
  biopipen/scripts/protein/RMSD.py
  biopipen/scripts/scrna/VireoSNP.py
  biopipen/scripts/scrna/celltypist-wrapper.py
  biopipen/scripts/scrna/mquad_cli.py
  biopipen/scripts/scrna/scvelo_paga.py
  biopipen/scripts/scrna/seurat_anndata_conversion.py
  biopipen/scripts/snp/PlinkSimulation.py
  biopipen/scripts/tcr/GIANA/GIANA.py
  biopipen/scripts/tcr/GIANA/GIANA4.py
  biopipen/scripts/tcr/GIANA/query.py
  biopipen/scripts/vcf/Vcf2Bed.py
  biopipen/scripts/vcf/VcfFilter.py
  biopipen/utils/gene.py
Due: flake8

fix(pipseeker): correct input and output parameter names in PipseekerFull and PipseekerSummary classes
  biopipen/ns/pipseeker.py
Due: flake8

fix(pipseeker.PipseekerFull): fix when output is a on different file system
  biopipen/scripts/pipseeker/PipseekerFull.py
Due: flake8

feat(pipseeker): update report path in PipseekerSummary and add PipseekerFull report template
  biopipen/ns/pipseeker.py
  biopipen/reports/pipseeker/PipseekerFull.svelte
Due: flake8

fix(pipseeker): add name attribute to PipseekerSummary class in PipseekerPipeline
  biopipen/ns/pipseeker.py
Due: flake8

fix(pipseeker): correct metric handling and improve plotting logic
  biopipen/scripts/pipseeker/PipseekerSummary.R
Due: flake8

chore: bump pipen-report to 1.1.2
  poetry.lock
Due: none

chore: force rebuild pipseeker docker image
  biopipen/ns/pipseeker.py
Due: flake8

chore: update commit log retrieval to use merge commit instead of last tag
  Makefile
Due: none

1.2.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

chore: force rebuild pipseeker docker image
  biopipen/reports/pipseeker/PipseekerFull.svelte
Due: flake8

chore(deps): bump diot to version 0.3.3 and python-simpleconf to version 0.9.2
  poetry.lock
Due: none

chore: bump pipen to 1.1.12
  poetry.lock
Due: none

chore(pipseeker.PipseekerFull): add output_flatten attribute to PipseekerFull class to make output directories flattened in process output directory
  biopipen/ns/pipseeker.py
Due: flake8

chore(cellranger): add output_flatten attribute to CellRangerCount and CellRangerVdj classes for flattened output directories
  biopipen/ns/cellranger.py
Due: flake8

1.2.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.2.1 (#214)
  biopipen/__init__.py
  biopipen/ns/cellranger.py
  biopipen/ns/pipseeker.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(scrna.MarkersFinder): add devpars for Dot Plot dimensions
  biopipen/ns/scrna.py
Due: flake8

1.2.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker
