Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

chore(deps): add samplot dependency for enhanced BAM file visualization
  tests/conda/env_biopipen.yml
Due: none

docs: enhance README with additional badges and usage examples (force docker-test)
  README.md
Due: none

test: remove LOCAL_ONLY variable from run.env for samplot test
  tests/test_bam/Samplot/run.env
Due: none

ci: update docker-test-deps to include output for changed files
  .github/workflows/docker.yml
Due: none

chore(deps): add filelock dependency for improved file handling
  tests/conda/env_biopipen.yml
Due: none

docs: update favicon.ico for improved branding
  docs/img/favicon.ico
Due: none

1.4.0a4
  biopipen/__init__.py
Due: flake8, versionchecker

fix: correct variable name from 'chrome' to 'chrom' in Samplot.py
  biopipen/scripts/bam/Samplot.py
Due: flake8

chore: bump up liquidpy to 0.10.0
  uv.lock
Due: none

feat(bam): add Bedtools coverage and summary processing for BAM files (BedtoolsCoverageBam and BedtoolsCoverageBamSummary)
  biopipen/ns/bam.py
  biopipen/scripts/bam/BedtoolsCoverageBam.py
  biopipen/scripts/bam/BedtoolsCoverageBamSummary.R
  tests/test_bam/SamplotCoverage/run.env
  tests/test_bam/SamplotCoverage/test.py
Due: flake8

chore: bump pipen-report to 1.2.4
  uv.lock
Due: none

fix(bam.BedtoolsCoverageBamSummary): update envs extraction to handle keys with dashes as dots
  biopipen/scripts/bam/BedtoolsCoverageBamSummary.R
Due: flake8

feat(scrna.CellCellCommunication): enhance CellCellCommunication to support multiple split_by columns in analysis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunication.py
  tests/test_scrna/CellCellCommunication/test.py
Due: flake8

1.4.0a5
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

fix(scrna.CellTypeAnnotation): fix celltypist to be not treated as cluster-based when over_clustering is not given
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

chore: bump pipen to 1.2.0 and xqute to 2.2.0
  uv.lock
Due: none

fix(scrna.MarkersFinder): update comparison_by to use case$group_by instead of group_by
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

1.4.0a6
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

docs(README): update logo image size for better display
  README.md
Due: none

feat(utils.misc): add write_table and read_table functions for DataFrame handling
  biopipen/utils/misc.py
  tests/test_utils/misc/test.py
Due: flake8

feat(scrna.CellCellCommunication): enhance output table handling by inheriting factor levels from categorical columns
  biopipen/scripts/scrna/CellCellCommunication.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  tests/test_scrna/CellCellCommunication/test.py
Due: flake8

1.4.0a7
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

test(scrna.MarkersFinder): enhance ClusterMarkers heatmap configuration with additional parameters
  tests/test_scrna/Seurat/test.py
Due: none

docs(scrna.SeuratPreparing): update ScaleData documentation to clarify feature scaling options
  biopipen/ns/scrna.py
Due: flake8

chore(scrna.SeuratPreparing): remove unnecessary parameters from SCTransform configuration (missing features from scale.data will be handled downstream)
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.SeuratClusterStats): add handling for missing features in scale.data during feature processing
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

test(scrna.Seurat): enhance SCTransform configuration and add new heatmap options for ClusterMarkers
  tests/test_scrna/Seurat/test.py
Due: none

refactor(scrna.SeuratPreparing): simplify metadata reading by removing tryCatch block
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

fix(misc.Plot): correct data reading logic for .rds files and ensure proper handling of read options
  biopipen/scripts/misc/Plot.R
Due: flake8

feat(scrna.MarkersFinder): add select_overall option for overall top markers selection in heatmap plots
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_scrna/Seurat/test.py
Due: flake8

1.4.0a8
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

fix(scrna.SeuratClusterStats): update missing features check to use GetAssayData for scale.data
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

1.4.0a9
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

chore(scrna.SeuratClusterStats): change log level to debug for missing features in scale.data
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

1.4.0a10
  Makefile
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

test(scrna.SeuratClusterStats): remove feature from scale.data check for test stability
  tests/test_scrna/Seurat/test.py
Due: none

fix(scrna.MarkersFinder): adopt scplotter 0.8.0-2
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_scrna/Seurat/test.py
Due: flake8

1.4.0a11
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

feat(scrna.MarkersFinder): enhance logging for marker processing and enrichment analysis
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

1.4.0a12
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
