Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

deps: bump pipen-report to 0.20.1 (pipen to 0.15.2)
  poetry.lock
  pyproject.toml
Due: versionchecker

0.31.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.31.4 (#150)
  biopipen/__init__.py
  biopipen/ns/plot.py
  biopipen/scripts/plot/VennDiagram.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/utils/plot.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

ci: do not print verbose logs for tests
  .github/workflows/ci.yml
Due: none

feat(protein): add the protein module and Prodigy and ProdigySummary to calculate the binding affinity of a complex structure
  biopipen/ns/protein.py
  biopipen/ns/vcf.py
  biopipen/reports/protein/ProdigySummary.svelte
  biopipen/scripts/protein/Prodigy.py
  biopipen/scripts/protein/ProdigySummary.R
  pyproject.toml
Due: flake8, versionchecker

deps: update pipen to version 0.15.3 and xqute to version 0.5.2
  poetry.lock
Due: none

chore(bam.BamMerge): use logger instead of print for logging
  biopipen/scripts/bam/BamMerge.py
Due: flake8

feat(bam): add BamSampling process for sampling a fraction of reads from a bam file
  biopipen/ns/bam.py
  biopipen/scripts/bam/BamSampling.py
Due: flake8

0.31.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

test: exclude ENSG00000230373 from gene name conversion tests as it returns unstable results by mygeneinfo
  tests/test_gene/GeneNameConversion/test.py
  tests/test_utils/gene/test.py
Due: none

0.31.5 (#151)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/bam.py
  biopipen/ns/protein.py
  biopipen/ns/vcf.py
  biopipen/reports/protein/ProdigySummary.svelte
  biopipen/scripts/bam/BamMerge.py
  biopipen/scripts/bam/BamSampling.py
  biopipen/scripts/protein/Prodigy.py
  biopipen/scripts/protein/ProdigySummary.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_gene/GeneNameConversion/test.py
  tests/test_utils/gene/test.py
Due: flake8, versionchecker

refactor(regulatory.MotifAffinityTest): optimize code base
  biopipen/scripts/regulatory/MotifAffinityTest.R
  biopipen/scripts/regulatory/MotifAffinityTest_AtSNP.R
  biopipen/scripts/regulatory/MotifAffinityTest_MotifBreakR.R
  biopipen/scripts/regulatory/atSNP.R
  biopipen/scripts/regulatory/motifBreakR.R
  biopipen/scripts/regulatory/motifs-common.R
  tests/test_regulatory/MotifAffinityTest/test.py
Due: flake8

chore(regulatory.MotifAffinityTest): fix arguments when calling ensure_regulator_motifs
  biopipen/scripts/regulatory/MotifAffinityTest.R
Due: flake8

feat(regulatory): add VariantMotifPlot to plot motif and surrounding sequences with mutations
  biopipen/ns/regulatory.py
  biopipen/scripts/regulatory/VariantMotifPlot.R
  biopipen/scripts/regulatory/motifs-common.R
Due: flake8

ci: add verbosal output for tests
  .github/workflows/ci.yml
Due: none

fix(regulatory.motifs-common): handle empty regmotifs argument in ensure_regulator_motifs
  biopipen/scripts/regulatory/motifs-common.R
Due: flake8

test(regulatory): add motifdb argument to VariantMotifPlot's
  tests/test_regulatory/MotifAffinityTest/test.py
Due: none

test(regulatory.MotifAffinityTest): add regmotifs argument to VariantMotifPlotAtSNP_WithTFOnly
  tests/test_regulatory/MotifAffinityTest/test.py
Due: none

test(regulatory): add regmotifs argument to VariantMotifPlotBreakR_WithTFOnly
  tests/test_regulatory/MotifAffinityTest/test.py
Due: none

feat(vcf): adopt truvari v4+ for related processes
  biopipen/ns/vcf.py
  biopipen/scripts/vcf/TruvariBench.sh
  biopipen/scripts/vcf/TruvariBenchSummary.R
  tests/conda/env_biopipen.yml
Due: flake8

deps: pin the channels of conda dependencies for tests
  biopipen/scripts/vcf/TruvariBench.sh
  tests/conda/env_biopipen.yml
Due: flake8

0.31.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.31.6 (#152)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/regulatory.py
  biopipen/ns/vcf.py
  biopipen/scripts/regulatory/MotifAffinityTest.R
  biopipen/scripts/regulatory/MotifAffinityTest_AtSNP.R
  biopipen/scripts/regulatory/MotifAffinityTest_MotifBreakR.R
  biopipen/scripts/regulatory/VariantMotifPlot.R
  biopipen/scripts/regulatory/atSNP.R
  biopipen/scripts/regulatory/motifBreakR.R
  biopipen/scripts/regulatory/motifs-common.R
  biopipen/scripts/vcf/TruvariBench.sh
  biopipen/scripts/vcf/TruvariBenchSummary.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_regulatory/MotifAffinityTest/test.py
Due: flake8, versionchecker

chore: update pyright configuration to include biopipen/**/*.py
  pyproject.toml
Due: versionchecker

feat(bam): add BamSubsetByBed process for subsetting bam file by regions in a bed file
  biopipen/ns/bam.py
  biopipen/scripts/bam/BamSubsetByBed.py
Due: flake8

feat(bed): add BedtoolsMakeWindows process for generating windows from a BED file or genome size file
  biopipen/ns/bed.py
  biopipen/scripts/bed/BedtoolsMakeWindows.py
Due: flake8

deps: bump pipen-args to 0.16
  poetry.lock
Due: none

0.31.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.31.7 (#153)
  biopipen/__init__.py
  biopipen/ns/bam.py
  biopipen/ns/bed.py
  biopipen/scripts/bam/BamSubsetByBed.py
  biopipen/scripts/bed/BedtoolsMakeWindows.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.SeuratMap2Ref): fix report and add stats to report
  biopipen/reports/scrna/SeuratMap2Ref.svelte
  biopipen/scripts/scrna/SeuratMap2Ref.R
  tests/test_scrna/SeuratMap2Ref/run.env
Due: flake8

refactor(scrna.Seurat2AnnData): abstract seurat_to_anndata() for reuse
  biopipen/scripts/scrna/Seurat2AnnData.R
  biopipen/utils/single_cell.R
Due: flake8

fix(utils.single_cell.R): fix categorical data when converting seurat to anndata format
  biopipen/scripts/scrna/AnnData2Seurat.R
  biopipen/utils/single_cell.R
Due: flake8

deps: update pipen-runinfo dependency to version 0.8.1
  poetry.lock
Due: none

enh(tcr.TCRClustering): make GIANA compatible with latest BioPython
  biopipen/scripts/tcr/GIANA/GIANA.py
  biopipen/scripts/tcr/GIANA/GIANA4.py
  biopipen/scripts/tcr/GIANA/query.py
Due: flake8

feat(scrna): add CellCellCommunication and CellCellCommunicationPlots
  biopipen/ns/scrna.py
  biopipen/reports/scrna/CellCellCommunicationPlots.svelte
  biopipen/scripts/scrna/CCPlotR-patch.R
  biopipen/scripts/scrna/CellCellCommunication.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  tests/conda/env_biopipen.yml
  tests/test_scrna/CellCellCommunication/run.env
  tests/test_scrna/CellCellCommunication/test.py
Due: flake8

fix(tcr.TCRClstering): fix clusTCR error due to scipy update (v1.14)
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

0.32.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.32.0 (#154)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/reports/scrna/CellCellCommunicationPlots.svelte
  biopipen/reports/scrna/SeuratMap2Ref.svelte
  biopipen/scripts/scrna/AnnData2Seurat.R
  biopipen/scripts/scrna/CCPlotR-patch.R
  biopipen/scripts/scrna/CellCellCommunication.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  biopipen/scripts/scrna/Seurat2AnnData.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/scripts/tcr/GIANA/GIANA.py
  biopipen/scripts/tcr/GIANA/GIANA4.py
  biopipen/scripts/tcr/GIANA/query.py
  biopipen/scripts/tcr/TCRClustering.R
  biopipen/utils/single_cell.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/CellCellCommunication/run.env
  tests/test_scrna/CellCellCommunication/test.py
  tests/test_scrna/SeuratMap2Ref/run.env
Due: flake8, versionchecker

deps: bump pipen-report to 0.21
  poetry.lock
Due: none
