Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

🐛 [scrna.SeuratPerparing] Fix when input contains a single sample
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

🎨 [tests] Use --reuse instead of --former
  biopipen/core/testing.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/run.env
Due: flake8

✨ Add board.toml for pipen-board to run
  .gitignore
  board.toml
Due: none

🐛 [vcf.VcfSplitSamples] Fix missing mutations for extract samples
  biopipen/scripts/vcf/VcfSplitSamples.py
Due: flake8

🎨 [scrna_metabolic_landscape.MetabolicPathwayHeterogeneity] Add progress indicator
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.svelte
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

🎨 [scrna.SeuratClustering] Allow sample names to be assigned for reference for FindIntegrationAnchors
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

🎨 [scrna_metabolic_landscape.MetabolicPathwayActivity] Add merged heatmaps for subsets
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayActivity.svelte
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
Due: flake8

🐛 [scrna_metabolic_landscape.MetabolicPathwayIntraSubsets] Fix fetching subsetting_comparison and limit nproc for FGSEA to 1
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubsets.R
Due: flake8

🎨 [scrna_metabolic_landscape.MetabolicPathwayFeatures] Ignore NAs in subsets
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
Due: flake8

🎨 [scrna_metabolic_landscape] Adopt pipen-args 0.9.7
  biopipen/ns/scrna_metabolic_landscape.py
Due: flake8

✨ [scrna.SeuratMap2Ref] Add process
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

➖ [utils] Retire cmdy
  .gitignore
  biopipen/utils/__init__.py
  biopipen/utils/misc.py
  biopipen/utils/reference.py
Due: flake8

✨ [bed.BedtoolsMerge] Add process
  biopipen/ns/bed.py
  biopipen/scripts/bed/BedtoolsMerge.py
Due: flake8

🎨 [core.testing] Use --cache to control of reusing previous run
  biopipen/core/testing.py
Due: flake8

🎨 [csv.BindRows] Allow to add filename
  biopipen/ns/csv.py
  biopipen/scripts/csv/BindRows.py
Due: flake8

📌 [scrna_basic] Adopt pipen-board 0.1.2
  biopipen/ns/scrna_basic.py
Due: flake8

🐛 [web.Download] Fix when args is Diot
  biopipen/scripts/web/Download.py
Due: flake8

🎨 [cnvkit.CNVkitCall] Detach cmdy
  biopipen/scripts/cnvkit/CNVkitCall.py
Due: flake8

✨ [bam.BamSplitChroms] Add process
  biopipen/ns/bam.py
  biopipen/scripts/bam/BamSplitChroms.py
  biopipen/utils/misc.py
Due: flake8

✨ [bam.Merge] Add process and test
  biopipen/ns/bam.py
  biopipen/scripts/bam/BamMerge.py
  biopipen/utils/reference.py
  tests/test_bam/BamSplitChroms/run.env
  tests/test_bam/BamSplitChroms/test.py
Due: flake8

🐛 [core] Fix repr filter in templates for Diot objects
  biopipen/core/proc.py
Due: flake8

🐛 [docs] Add mygene dep for building utils.gene
  docs/requirements.txt
Due: none

➕ Add pipen-board as optional dependency
  poetry.lock
  pyproject.toml
Due: versionchecker

✅ [vcf.TruvariBench] Pin truvari to v3.4.0 for tests
  tests/conda/env_r.yml
Due: none

📌 make pipen-board required
  pyproject.toml
Due: versionchecker

💚 [ci] Add pyproject.toml change to trigger docs building
  .github/workflows/docs.yml
  poetry.lock
Due: none

🔖 0.11.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🎨 [scrna.SeuratMap2Ref] Add envs.MappingScore
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

⬆️ Bump pipen-board to 0.2.6
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  poetry.lock
Due: flake8

✨ [scrna.CellTypeAnnotate] Add ScCATCH for cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotate-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotate.R
Due: flake8

✨ [scrna.SeuratMap2Ref] Add report template
  biopipen/ns/scrna.py
  biopipen/reports/scrna/SeuratMap2Ref.svelte
Due: flake8

📝 [scrna_basic] Import docs for the pipeline
  biopipen/ns/scrna.py
  biopipen/ns/scrna_basic.py
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

💄 [scrna.SeuratMap2Ref] Make figures in 2 columns in report
  biopipen/reports/scrna/SeuratMap2Ref.svelte
Due: flake8

👷 [scrna_basic] Init docker image building action
  .github/workflows/docker.yml
  docker/scrna_basic/Dockerfile
  docker/scrna_basic/entry.sh
  docker/scrna_basic/env.yml
Due: none

👷 [scrna_basic] Fix dockhub credentials
  .github/workflows/docker.yml
Due: none

⬆️ Bump `pipen` to 0.10
  .gitignore
  poetry.lock
  pyproject.toml
Due: versionchecker

🔨 [scrna_basic] Update Docker configuration files
  docker/scrna_basic/Dockerfile
  docker/scrna_basic/board.toml
  docker/scrna_basic/env.yml
Due: none

🔨 Update Docker build and push action configuration
  .github/workflows/docker.yml
Due: none

🔨 [scrna_basic] Update Docker configuration files Updated the configuration files and add make-examples.sh to fix errors
  docker/scrna_basic/Dockerfile
  docker/scrna_basic/make-examples.sh
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
