Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

docs(scrna.CellTypeAnnotation): add support for celltypist in cell type annotations
  biopipen/ns/scrna.py
Due: flake8

chore(deps): add mscorefonts to conda environment dependencies
  tests/conda/env_biopipen.yml
Due: none

docs(scrna.SeuratClustering): add support for specifying features in UMAP analysis
  biopipen/ns/scrna.py
Due: flake8

docs(scrna.SeuratClustering/SeuratSubClusering): add support for specifying features in UMAP arguments
  biopipen/ns/scrna.py
Due: flake8

0.34.29
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.29 (#192)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/conda/env_biopipen.yml
Due: flake8, versionchecker

chore(scrna.SeuratPreparing): adjust SCTransform parameters for improved data processing
  biopipen/ns/scrna.py
Due: flake8

0.34.30
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.30 (#193)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.CellTypeAnnotation): streamline identity handling and improve cell type renaming logic
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/CellTypist/test.py
Due: flake8

ci: update CACHE_NUMBER for conda environments to force updates
  .github/workflows/ci.yml
  poetry.lock
Due: none

chore(deps): bump pipen-log2file to version 0.10.3
  poetry.lock
  pyproject.toml
Due: versionchecker

0.34.31
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.31 (#194)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/CellTypist/test.py
Due: flake8, versionchecker

fix(scrna.CellTypeAnnotation): handle NA values in cell type processing to prevent errors
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
Due: flake8

fix(scrna.CellSNPLite): add functionality to fix corrupted Matrix Market files
  biopipen/scripts/scrna/CellSNPLite.py
Due: flake8

chore: bump pipen to 0.17.27
  poetry.lock
Due: none

0.34.32
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.32 (#195)
  biopipen/__init__.py
  biopipen/scripts/scrna/CellSNPLite.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat(scrna.MQuadMerge): add MQuadMerge process to merge multiple MQuad results for multiple samples
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MQuadMerge.py
Due: flake8

feat(scrna.VireoSNP): enhance VireoSNP analysis with sample information loading and dual annotations
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

feat(scrna.MQuad): add mquad CLI integration and improve error handling for executable path
  biopipen/scripts/scrna/MQuad.py
  biopipen/scripts/scrna/mquad_cli.py
Due: flake8

ci(docker): add docker-test-deps job for dependency management and build process
  .github/workflows/docker.yml
  docker/test/Dockerfile
  docker/test/Dockerfile.deps
Due: none

chore: bump pipen to 0.17.28
  poetry.lock
Due: none

fix(scrna.CellSNPLite): remove header update logic to maintain consistency with AD/DP files
  biopipen/scripts/scrna/CellSNPLite.py
Due: flake8

ci(docker): add conditional checks for QEMU and Buildx setup based on file changes
  .github/workflows/docker.yml
Due: none

fix(scrna.VireoSNP): handle cases with insufficient variants in AD matrix
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

fix(misc): implement flush functionality in custom stream handler for logging
  biopipen/utils/misc.py
Due: flake8

chore(scrna.SeuratPreparing): update min_cells parameter to require at least 3 cells for SCTransform
  biopipen/ns/scrna.py
Due: flake8

chore(scrna.VireoSNP): dynamically adjust heatmap dimensions based on number of cells and variants
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

chore(scrna.CellSNPLite): ensure cellSNP.base.vcf.gz exists before processing
  biopipen/scripts/scrna/CellSNPLite.py
Due: flake8

fix(scrna.CellSNPLite): correct header entry count in Matrix Market files after removal of corrupted lines
  biopipen/scripts/scrna/CellSNPLite.py
Due: flake8

chore: bump pipen to 1.0
  poetry.lock
  pyproject.toml
Due: versionchecker

fix(scrna.MQuadMerge): handle duplicate sample names by renaming with suffix
  biopipen/scripts/scrna/MQuadMerge.py
Due: flake8

1.0.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.0.0 (#196)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellSNPLite.py
  biopipen/scripts/scrna/MQuad.py
  biopipen/scripts/scrna/MQuadMerge.py
  biopipen/scripts/scrna/VireoSNP.py
  biopipen/scripts/scrna/mquad_cli.py
  biopipen/utils/misc.py
  docker/test/Dockerfile
  docker/test/Dockerfile.deps
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat(scrna.MQuad): add plugin options for report generation in MQuad process
  biopipen/ns/scrna.py
  biopipen/reports/scrna/MQuad.svelte
Due: flake8

chore(scrna.VireoSNP): adjust heatmap height calculation for better visualization
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

feat(scrna.VireoSNP): add support for multi-core model fitting
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
