Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

fix(scrna.HitypeWeightTrainer): update references from `envs.markers` to `in.markerfile` for clarity and consistency in marker file handling
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/HitypeWeightTrainer.R
  tests/test_scrna/HitypeWeightTrainer/test.py
Due: flake8

fix(scrna.GarnettClassifierTrainer): add support for Unicode cell type names in garnett's marker-file parser to prevent syntax errors
  biopipen/scripts/scrna/CellTypeAnnotation-garnett.R
  biopipen/scripts/scrna/GarnettClassifierTrainer.R
Due: flake8

fix(scrna.HitypeWeightTrainer): rename 'only_pos' flag to 'pos_only' for consistency in parameter naming
  biopipen/ns/scrna.py
Due: flake8

fix(scrna.CellTypeAnnotation): prevent filtering of NA values in apply_marker_filters function
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
Due: flake8

feat(scrna.CellTypeAnnotation-hitype): update RunHitype to support both annotation levels based on ident argument
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/CellTypeAnnotation/test.py
  tests/test_scrna/HitypeWeightTrainer/test.py
Due: flake8

1.4.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

test(scrna.CellTypeAnnotation): update test to assert existence of cluster2celltype.tsv file
  tests/test_scrna/CellTypeAnnotation/test.py
Due: none

1.4.1 (#241)
  .gitignore
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-garnett.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/GarnettClassifierTrainer.R
  biopipen/scripts/scrna/HitypeWeightTrainer.R
  docs/CHANGELOG.md
  tests/test_scrna/CellTypeAnnotation/test.py
  tests/test_scrna/CellTypeAnnotationGarnett/data/garnett_markers.tsv
  tests/test_scrna/CellTypeAnnotationGarnett/data/garnett_markers_native.txt
  tests/test_scrna/CellTypeAnnotationGarnett/run.env
  tests/test_scrna/CellTypeAnnotationGarnett/test.py
  tests/test_scrna/HitypeWeightTrainer/data/markers.tsv
  tests/test_scrna/HitypeWeightTrainer/data/markers_native.txt
  tests/test_scrna/HitypeWeightTrainer/run.env
  tests/test_scrna/HitypeWeightTrainer/test.py
  uv.lock
Due: flake8, versionchecker

refactor(scrna.CellTypeAnnotation): delegate annotation runs to biopipen.utils::RunCellTypeAnnotation
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

refactor(scrna.CellTypeAnnotation): move the tool implementations into biopipen.utils
  biopipen/scripts/scrna/CellTypeAnnotation-cell.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellid.R
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-garnett.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-llmcelltype.R
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
  biopipen/scripts/scrna/CellTypeAnnotation-scagenttype.R
  biopipen/scripts/scrna/CellTypeAnnotation-scbert.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-schdeepinsight.R
  biopipen/scripts/scrna/CellTypeAnnotation-scina.R
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation-singler.R
  biopipen/scripts/scrna/GarnettClassifierTrainer.R
  biopipen/scripts/scrna/HitypeWeightTrainer.R
  biopipen/scripts/scrna/sctype.R
  tests/test_scrna/CellTypeAnnotation/test.py
  tests/test_scrna/CellTypeAnnotationGarnett/test.py
  tests/test_scrna/HitypeWeightTrainer/test.py
Due: flake8

feat(scrna.CellTypeAnnotation): wire the 14 new annotation tools into the proc
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/maca-wrapper.py
  biopipen/scripts/scrna/scmapnet-wrapper.py
  biopipen/scripts/scrna/scsa-wrapper.py
Due: flake8

fix(scrna.scsa): stop crashing on dense X, ship SCSA's compat shims, add mapquery envs
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/scsa-compat/sitecustomize.py
  biopipen/scripts/scrna/scsa-wrapper.py
Due: flake8

docs(scrna.CellTypeAnnotation): mapquery is a cell-level tool
  biopipen/ns/scrna.py
Due: flake8

fix(scrna.maca): report MACA's empty-candidate failure actionably
  biopipen/scripts/scrna/maca-wrapper.py
Due: flake8

chore(scrna): gate schdeepinsight explicitly, expose garnett/cellid option envs
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/schdeepinsight-wrapper.py
Due: flake8

docs(scrna.CellTypeAnnotation): update tool descriptions and add new annotation methods
  biopipen/ns/scrna.py
Due: flake8

refactor(scrna.CellTypeAnnotation): move the tool implementations into biopipen.utils (#242)
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cell.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellid.R
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-garnett.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-llmcelltype.R
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
  biopipen/scripts/scrna/CellTypeAnnotation-scagenttype.R
  biopipen/scripts/scrna/CellTypeAnnotation-scbert.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-schdeepinsight.R
  biopipen/scripts/scrna/CellTypeAnnotation-scina.R
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation-singler.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/GarnettClassifierTrainer.R
  biopipen/scripts/scrna/HitypeWeightTrainer.R
  biopipen/scripts/scrna/maca-wrapper.py
  biopipen/scripts/scrna/schdeepinsight-wrapper.py
  biopipen/scripts/scrna/scmapnet-wrapper.py
  biopipen/scripts/scrna/scsa-compat/sitecustomize.py
  biopipen/scripts/scrna/scsa-wrapper.py
  biopipen/scripts/scrna/sctype.R
  docs/CHANGELOG.md
  tests/test_scrna/CellTypeAnnotation/test.py
  tests/test_scrna/CellTypeAnnotationGarnett/test.py
  tests/test_scrna/HitypeWeightTrainer/test.py
Due: flake8

test(prep_data): set local_only flag for pbmc_multimodal download decorator
  tests/data/prep_data.py
Due: none

fix(env_biopipen): correct motifbreakr dependency source to bioconda
  tests/conda/env_biopipen.yml
Due: none

fix(env_biopipen): update motifbreakr dependency source to pwwang
  biopipen/scripts/scrna/CCPlotR-patch.R
  tests/conda/env_biopipen.yml
Due: flake8

chore(.gitignore): add logs directory to ignore list
  .gitignore
  biopipen/scripts/scrna/scsa-compat/sitecustomize.py
Due: flake8

test(scrna.SeuratMap2Ref): update environment variables and enhance CellTypeAnnotation classes
  tests/data/prep_data.py
  tests/test_scrna/SeuratMap2Ref/run.env
  tests/test_scrna/SeuratMap2Ref/test.py
Due: none

refactor: refactor cell type annotation tools and update dependencies and add tests
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/maca-wrapper.py
  biopipen/scripts/scrna/scsa-wrapper.py
  tests/conda/env_biopipen.yml
  tests/test_scrna/CellTypeAnnotation/test.py
  tests/test_scrna/CellTypeAnnotationLLM/test.py
Due: flake8

test(protein): add LOCAL_ONLY variable to environment configuration
  tests/test_protein/PDB2Fasta/run.env
Due: none

fix(scrna.CellTypeAnnotation): set default value of only_pos to False
  biopipen/ns/scrna.py
Due: flake8

fix(scrna.CellTypeAnnotation): ensure tool environment variable is downcased
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

test(scrna.ModuleScoreCalculator): add ctrl and nbin parameters to CC configuration
  tests/test_scrna/Seurat/test.py
Due: none

fix(CellTypeAnnotation): update output filename from cluster2celltype to cell2celltype
  biopipen/ns/scrna.py
  tests/test_scrna/CellTypeAnnotation/test.py
Due: flake8

1.5.0
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

1.5.0 (#244)
  .gitignore
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CCPlotR-patch.R
  biopipen/scripts/scrna/CellTypeAnnotation-cell.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellid.R
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-garnett.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-llmcelltype.R
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
  biopipen/scripts/scrna/CellTypeAnnotation-scagenttype.R
  biopipen/scripts/scrna/CellTypeAnnotation-scbert.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-schdeepinsight.R
  biopipen/scripts/scrna/CellTypeAnnotation-scina.R
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation-singler.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/GarnettClassifierTrainer.R
  biopipen/scripts/scrna/HitypeWeightTrainer.R
  biopipen/scripts/scrna/maca-wrapper.py
  biopipen/scripts/scrna/schdeepinsight-wrapper.py
  biopipen/scripts/scrna/scmapnet-wrapper.py
  biopipen/scripts/scrna/scsa-wrapper.py
  biopipen/scripts/scrna/sctype.R
  docs/CHANGELOG.md
  tests/conda/env_biopipen.yml
  tests/data/prep_data.py
  tests/test_protein/PDB2Fasta/run.env
  tests/test_scrna/CellTypeAnnotation/test.py
  tests/test_scrna/CellTypeAnnotationGarnett/test.py
  tests/test_scrna/CellTypeAnnotationLLM/test.py
  tests/test_scrna/HitypeWeightTrainer/test.py
  tests/test_scrna/Seurat/test.py
  tests/test_scrna/SeuratMap2Ref/run.env
  tests/test_scrna/SeuratMap2Ref/test.py
Due: flake8, versionchecker

feat(scrna.CellTypeAnnotation): add layer parameter for assay analysis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

feat(scrna.SeuratMap2Ref): mark class as deprecated, suggest using CellTypeAnnotation with mapquery
  biopipen/ns/scrna.py
Due: flake8

1.5.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

1.5.1 (#245)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation.R
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
