Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

0.24.2 (#121)
  biopipen/__init__.py
  biopipen/ns/cellranger.py
  biopipen/ns/cellranger_pipeline.py
  biopipen/reports/cellranger/CellRangerCount.svelte
  biopipen/reports/cellranger/CellRangerSummary.svelte
  biopipen/reports/cellranger/CellRangerVdj.svelte
  biopipen/scripts/cellranger/CellRangerSummary.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/RadarPlots.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-hists.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  biopipen/scripts/tcr/CloneResidency.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-vjjunc.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/scripts/tcr/TCRClusterStats.R
  biopipen/utils/gsea.R
  biopipen/utils/misc.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
Due: flake8, versionchecker

deps: bump pipen to 0.13.1
  poetry.lock
Due: none

scrna.MarkersFinder: allow to cache FindAllMarkers results
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat: add scrna.AnnData2Seurat and scrna.Seurat2AnnData
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/AnnData2Seurat.R
  biopipen/scripts/scrna/Seurat2AnnData.R
Due: flake8

scrna.CellTypeAnnotation: support celltypist (#111)
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/celltypist-wrapper.py
Due: flake8

test: add tests for celltypist of CellTypeAnnotation, AnnData2Seurat and Seurat2AnnData
  tests/conda/env_r.yml
  tests/test_scrna/CellTypist/data/Immune_All_High.pkl
  tests/test_scrna/CellTypist/run.env
  tests/test_scrna/CellTypist/test.py
Due: none

deps: bump pipen to 0.13.2
  poetry.lock
Due: none

scrna.SeuratSubClustering: add `envs_depth = 1` to replace `envs.cases` when new case assigned
  biopipen/ns/scrna.py
Due: flake8

0.25.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.25.0 (#122)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/AnnData2Seurat.R
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/Seurat2AnnData.R
  biopipen/scripts/scrna/celltypist-wrapper.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
  tests/test_scrna/CellTypist/data/Immune_All_High.pkl
  tests/test_scrna/CellTypist/run.env
  tests/test_scrna/CellTypist/test.py
Due: flake8, versionchecker

scrna.CellTypeAnnotation: leave the meta data as is in celltypist wrapper.
  biopipen/scripts/scrna/celltypist-wrapper.py
Due: flake8

0.25.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.25.1 (#123)
  biopipen/__init__.py
  biopipen/scripts/scrna/celltypist-wrapper.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(scrna_metabolic_landscape.MetabolicPathwayHeterogeneity): fix output directory path is not slugified
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

0.25.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

chore(tcr.Immunarch): change case filling log to debug level
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-diversity.R
Due: flake8

0.25.2
  docs/CHANGELOG.md
Due: none

0.25.2 (#124)
  biopipen/__init__.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.CellTypeAnnotation): keep factor meta data when input and output are RDS for celltypist
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
Due: flake8

0.25.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.25.3 (#125)
  biopipen/__init__.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

deps: bump datar to 0.15.4 (support pandas 2.2)
  poetry.lock
  pyproject.toml
Due: versionchecker

fix(utils.single_cell.R): fix immdata_from_expanded missing other data columns
  biopipen/utils/single_cell.R
Due: flake8

fix(tcr.Immunarch): fix mutaters not working when no subset is set
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

fix(scrna.CellsDistribution): fix hm_devpars not working
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

0.25.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.25.4 (#126)
  biopipen/__init__.py
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/utils/single_cell.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat: add rnaseq.Simulation to simulate RNAseq data
  biopipen/ns/rnaseq.py
  biopipen/scripts/rnaseq/Simulation.R
Due: flake8

feat(rnaseq.Simulation): support RUVcorr for RNAseq data simulation
  biopipen/ns/rnaseq.py
  biopipen/scripts/rnaseq/Simulation-ESCO.R
  biopipen/scripts/rnaseq/Simulation-RUVcorr.R
  biopipen/scripts/rnaseq/Simulation.R
Due: flake8

deps: bump pipen to 0.14
  poetry.lock
  pyproject.toml
Due: versionchecker

deps: bump pipen-report to 0.18.1
  poetry.lock
Due: none

fix(scrna.CellsDistribution): fix multiple `cells_by` columns and speed up plotting
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

choir(tcr.CloneResidency): mark singletons in Venn diagrams more clear
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

fix(scrna.RadarPlots): fix the order of groups on radar plots
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

choir(scrna.RadarPlots): transpose the count/percentage table to save to files
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

fix(scrna.MarkersFinder): fix generating report json file when no significant genes found
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

choir(scrna.MarkersFinder): Plot maximum 20 genes in dotplots
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

choir(scrna.MarkersFinder): Do not convert dashs in case names to dots
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat: add rnaseq.UnitConversion and tests
  biopipen/ns/rnaseq.py
  biopipen/scripts/rnaseq/UnitConversion.R
  tests/test_rnaseq/UnitConversion/data/exprs.txt
  tests/test_rnaseq/UnitConversion/run.env
  tests/test_rnaseq/UnitConversion/test.py
Due: flake8

feat(rnaseq.UnitConversion): allow transformation for the same unit
  biopipen/ns/rnaseq.py
  biopipen/scripts/rnaseq/UnitConversion.R
  tests/test_rnaseq/UnitConversion/test.py
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
