Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

fix(scrna.MarkersFinder): update marker selection parameter to 'each' for consistency
  biopipen/ns/scrna.py
  tests/test_scrna/Seurat/test.py
Due: flake8

fix(scrna.MarkersFinder): improve marker processing and plotting logic for better clarity and performance
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_scrna/Seurat/test.py
Due: flake8

1.4.0a13
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

chore(scrna): enhance cache log messages to include cache paths for better traceability
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/tcr/ClonalStats.R
Due: flake8

1.4.0a14
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

feat(scrna, tcr): add ncores parameter for parallel processing in various scripts
  biopipen/ns/misc.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/misc/Plot.R
  biopipen/scripts/scrna/AnnData2Seurat.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/ExprImputation-alra.R
  biopipen/scripts/scrna/ExprImputation-rmagic.R
  biopipen/scripts/scrna/ExprImputation-scimpute.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ModuleScoreCalculator.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/scripts/scrna/SeuratMetadataMutater.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  biopipen/scripts/scrna/Slingshot.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  biopipen/scripts/tcr/CDR3Clustering.R
  biopipen/scripts/tcr/ClonalStats.R
  biopipen/scripts/tcr/ScRepCombiningExpression.R
  biopipen/scripts/tcr/TESSA.R
Due: flake8

feat(scrna.MarkersFinder): add default assay handling and check for SCTAssay preparation
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(scrna.AnnData2Seurat): add layer parameter to FeatureStatPlot for improved plotting
  biopipen/scripts/scrna/AnnData2Seurat.R
Due: flake8

1.4.0a15
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

feat(pipen-process): add SKILL.md and evals.json for process creation guidelines and evaluation prompts
  .claude/skills/pipen-process/SKILL.md
  .claude/skills/pipen-process/evals/evals.json
Due: none

feat(scrna): add HdWGCNA class for weighted gene co-expression network analysis
  .gitignore
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/HdWGCNA-core.R
  biopipen/scripts/scrna/HdWGCNA-downstream.R
  biopipen/scripts/scrna/HdWGCNA-motifs.R
  biopipen/scripts/scrna/HdWGCNA-plots.R
  biopipen/scripts/scrna/HdWGCNA-preservation.R
  biopipen/scripts/scrna/HdWGCNA-tf-network.R
  biopipen/scripts/scrna/HdWGCNA.R
  tests/test_scrna/HdWGCNA/data/.gitignore
  tests/test_scrna/HdWGCNA/run.env
  tests/test_scrna/HdWGCNA/test.py
Due: flake8

refactor(scrna.ModuleScoreCalculator): refactor ModuleScoreCalculator to use biopipen.utils::RunModuleScoring (supporting multiple tools)
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ModuleScoreCalculator.R
  tests/test_scrna/Seurat/test.py
Due: flake8

test(scrna.ScFGSEAEach): use if_else instead of ifelse in mutaters function for ScFGSEAEach class to keep factor
  tests/test_scrna/Seurat/test.py
Due: none

1.4.0a16
  .gitignore
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

fix(dependencies): constrain mkdocs version to <2 for compatibility
  pyproject.toml
  uv.lock
Due: versionchecker

feat(SampleInfo): use biopipen.utils::read_table and write_table so factor levels can be saved and loaded
  biopipen/scripts/delim/SampleInfo.R
  tests/test_delim/delim/test.py
Due: flake8

1.4.0a17
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

fix(scrna.CellTypeAnnotation): normalize tool name to lowercase in switch statement
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

fix(scrna.CellTypeAnnotation): add validation for species, cancer, and tissue types in custom marker file
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  tests/test_scrna/Seurat/test.py
Due: flake8

fix(CellTypeAnnotation): update default cancer type to "Normal" when using custom markers
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
Due: flake8

fix(scrna.CellTypeAnnotation): improve error message for the wrong scSorter package
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
Due: flake8

feat(scrna.CellTypeAnnotation): support universal marker format for marker-based tools
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellid.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-scina.R
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/CellTypeAnnotation/data/markers.tsv
  tests/test_scrna/CellTypeAnnotation/test.py
Due: flake8

fix(scrna.CellTypeAnnotation): add default NA columns for pmid and subtypes in scCATCH format
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
Due: flake8

docs(scrna.CellTypeAnnotation): clarify annotation methods with tool categories for better understanding
  biopipen/ns/scrna.py
Due: flake8

fix(scrna.CellTypeAnnotation): ensure default value for mc.cores in scsorter_args
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
Due: flake8

docs: update markdown extensions for improved documentation formatting
  mkdocs.yml
Due: none

ci: update setup-miniconda action to version 4
  .github/workflows/ci.yml
Due: none

fix(scrna.CellTypeAnnotation): enhance markers_to_named_list to filter by tissue, cancer, and species
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellid.R
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
  biopipen/scripts/scrna/CellTypeAnnotation-scina.R
Due: flake8

feat(scrna.CellTypeAnnotation): extend annotation functions to filter by tissue, cancer, and species for marker-based tools
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

feat(scrna.CellTypeAnnotation): add cluster size information to output TSV files and update tests accordingly
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/CellTypeAnnotation/test.py
Due: flake8

fix(scrna.CellTypeAnnotation): improve signature filtering against expression matrix to prevent empty signatures for SCINA
  biopipen/scripts/scrna/CellTypeAnnotation-scina.R
Due: flake8

fix(scrna.CellTypeAnnotation): correct enrichment matrix orientation and update related tests for accurate cell type predictions for SCINA
  biopipen/scripts/scrna/CellTypeAnnotation-cellid.R
  tests/test_scrna/CellTypeAnnotation/test.py
Due: flake8

fix(scrna.CellTypeAnnotation): enforce and document tissue/cancer/species marker filters
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
  biopipen/scripts/scrna/CellTypeAnnotation-cellid.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-markers.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-scina.R
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  tests/test_scrna/CellTypeAnnotation/data/markers.tsv
  tests/test_scrna/CellTypeAnnotation/test.py
Due: flake8

fix(scrna.CellTypeAnnotation): optimize size factor calculation and update cellassign arguments for improved marker gene filtering [wip]
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
Due: flake8

feat(scrna.CellTypeAnnotation): replace GPTCelltype with LLMCelltype and add tests
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-gptcelltype.R
  biopipen/scripts/scrna/CellTypeAnnotation-llmcelltype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/CellTypeAnnotationLLM/run.env
  tests/test_scrna/CellTypeAnnotationLLM/test.py
Due: flake8

1.4.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

chore: bump up dependencies
  uv.lock
Due: none

feat(scrna.CellTypeAnnotation): add support for `garnett` tool with new annotation function and tests
  .gitignore
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-garnett.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/CellTypeAnnotationGarnett/run.env
  tests/test_scrna/CellTypeAnnotationGarnett/test.py
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
