Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

0.16.4 (#68)
  biopipen/__init__.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

💥 [scrna.SeuratMetadataMutater] Move mutaters from in to envs
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMetadataMutater.R
  tests/test_scrna/CellsDistribution/test.py
Due: flake8

🔥 [scrna.CellsDistribution] Remove unnecessary in.casefile
  biopipen/ns/scrna.py
Due: flake8

🔖 0.16.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🚑 [scrna.CellTypeAnnotation] Hotfix when envs.hitype_db as a file starts with "hitypedb_" (0.16.5)
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  docs/CHANGELOG.md
Due: flake8

🔖 0.16.5 (#69)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/SeuratMetadataMutater.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_scrna/CellsDistribution/test.py
Due: flake8, versionchecker

🚑 [scrna] Hotfix for docstring when parsed by argparse help
  biopipen/ns/scrna.py
Due: flake8

🔖 0.16.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.16.6 (#70)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔥 [scrna.SeuratMetadataMutater] Remove unnecessary in.mutaters
  biopipen/ns/scrna.py
Due: flake8

📝 [docs] Use kmdocs-rtd
  docs/jquery.js
  docs/requirements.txt
  docs/style.css
  mkdocs.yml
Due: none

📝 [docs] Fix CI
  .github/workflows/docs.yml
Due: none

📝 [scrna_basic] Fix docs
  docs/pipelines/scrna_basic.md
Due: none

📝 [docs] Fix CI when files in docs/ changes
  .github/workflows/docs.yml
Due: none

📝 [docs] Fix CI when CI config file changes
  .github/workflows/docs.yml
Due: none

📝 [scrna_basic] Update docs for processes
  docs/pipelines/scrna_basic.md
Due: none

🔧 [scrna_basic] Update example config file
  .gitignore
  docker/scrna_basic/ScrnaBasic.config.toml
Due: none

📝 [docs] Add logo and favicon
  README.md
  docs/img/favicon.ico
  docs/img/logo.png
  docs/style.css
  mkdocs.yml
Due: none

📝 [docs] Fix font-sizes in APIs
  docs/style.css
Due: none

📝 [docs] Fix logo size in README
  README.md
Due: none

🔖 0.16.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.16.7 (#71)
  .github/workflows/docs.yml
  .gitignore
  README.md
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docker/scrna_basic/ScrnaBasic.config.toml
  docs/CHANGELOG.md
  docs/img/favicon.ico
  docs/img/logo.png
  docs/jquery.js
  docs/pipelines/scrna_basic.md
  docs/requirements.txt
  docs/style.css
  mkdocs.yml
  pyproject.toml
Due: flake8, versionchecker

📝 [docs] Update logo
  docs/img/logo.png
  docs/img/rtd-logo.png
  mkdocs.yml
Due: none

📝 [docs] Update logo
  docs/img/logo.png
Due: none

📝 [docs] Add css due to mkdocs-rtd change
  docs/style.css
Due: none

✨ [scrna.ModuleScoreCalculator] Add proc
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ModuleScoreCalculator.R
  biopipen/utils/misc.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

🚑 [utils.mutate_helpers.R] Allow accessing metadata using `.`
  biopipen/utils/mutate_helpers.R
  tests/test_utils/mutate_helpers/test.py
Due: flake8

💥 [core.filters] Default `sortkeys` to `False` for filter `r`
  biopipen/core/filters.py
Due: flake8

🐛 [scrna.CellsDistribution] Fix when `cells_by` or `group_by` is not an identifier
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

🐛 [scrna.ModuleScoreCalculator] Fix name for cell cycle scores
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ModuleScoreCalculator.R
Due: flake8

⬆️ Bump pipen-board to 0.11.4
  poetry.lock
Due: none

🐛 [scrna.SeuratClusterStats] Fix typo for default stats
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

🐛 [scrna.ModuleScoreCalculator] Fix aggregation values of programs
  biopipen/scripts/scrna/ModuleScoreCalculator.R
Due: flake8

🔖 0.17.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.17.0 (#72)
  biopipen/__init__.py
  biopipen/core/filters.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/ModuleScoreCalculator.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/utils/misc.R
  biopipen/utils/mutate_helpers.R
  docs/CHANGELOG.md
  docs/img/logo.png
  docs/img/rtd-logo.png
  docs/style.css
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_utils/mutate_helpers/test.py
Due: flake8, versionchecker

🎨 [scrna.CellTypeAnnotation] Change `seurat_clusters_old` to `seurat_clusters_id` to save old seurat_clusters
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

💥 [csv] Rename to `delim`
  biopipen/ns/csv.py
  biopipen/ns/delim.py
  pyproject.toml
Due: flake8, versionchecker

🚚 [csv.BindRows] Rename to `delim.RowsBinder`
  biopipen/scripts/csv/BindRows.py
  biopipen/scripts/delim/RowsBinder.R
  tests/test_delim/RowsBinder/data/A.txt
  tests/test_delim/RowsBinder/data/B.txt
  tests/test_delim/RowsBinder/run.env
  tests/test_delim/RowsBinder/test.py
Due: flake8

✨ [utils.mutate_helpers.R] Add `paired()` to identify paired records
  biopipen/utils/mutate_helpers.R
  tests/test_utils/mutate_helpers/test.py
Due: flake8

✨ [delim.SampleInfo] Add process
  biopipen/ns/delim.py
  biopipen/scripts/delim/SampleInfo.R
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_delim/RowsBinder/data/A.txt
  tests/test_delim/RowsBinder/data/B.txt
  tests/test_delim/RowsBinder/test.py
Due: flake8
