Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

feat(scrna.SeuratPreparing): support DoubletFinder
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

docs: update CHANGELOG
  docs/CHANGELOG.md
Due: none

0.27.3 (#133)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratPreparing.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/ScFGSEA/test.py
Due: flake8, versionchecker

feat: add plot.ROC
  biopipen/ns/plot.py
  biopipen/scripts/plot/ROC.R
  tests/conda/env_r.yml
  tests/test_plot/ROC/data/multi.txt
  tests/test_plot/ROC/data/single.txt
  tests/test_plot/ROC/run.env
  tests/test_plot/ROC/test.py
Due: flake8

choir(delim.SampleInfo): add alpha to the colors of the plots using biopipen color pallete
  biopipen/ns/delim.py
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

feat: add snp.MatrixEQTL
  biopipen/ns/snp.py
  biopipen/scripts/snp/MatrixEQTL.R
Due: flake8

docs(tcr.TCRClusterStats): update urls of images in docs
  biopipen/ns/tcr.py
Due: flake8

docs(tcr/scrna/scrna_metabolic_landscape): update links of images in docs
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
Due: flake8

0.27.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.27.4 (#134)
  biopipen/__init__.py
  biopipen/ns/delim.py
  biopipen/ns/plot.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/snp.py
  biopipen/ns/tcr.py
  biopipen/scripts/delim/SampleInfo.R
  biopipen/scripts/plot/ROC.R
  biopipen/scripts/snp/MatrixEQTL.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
  tests/test_plot/ROC/data/multi.txt
  tests/test_plot/ROC/data/single.txt
  tests/test_plot/ROC/run.env
  tests/test_plot/ROC/test.py
Due: flake8, versionchecker

fix(scrna.Subset10X/SeuratTo10X): correct the paths to the scripts
  biopipen/scripts/scrna/SeuratTo10X.R
  biopipen/scripts/scrna/Subset10X.R
  biopipen/scripts/scrna/Write10X.R
Due: flake8

feat(testing): allow to enable report for testing pipelines
  biopipen/core/testing.py
Due: flake8

feat(scrna.SeuratPreparing): add `envs.cell_qc_per_sample` to filter cells before merging instead after
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

test: add tests to scrna.SeuratTo10X and scrna.SeuratPreparing
  tests/conda/env_r.yml
  tests/test_scrna/SeuratPreparing/run.env
  tests/test_scrna/SeuratPreparing/test.py
Due: none

fix(scrna.SeuratClusterStats): fix color palette for ridge plots
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

0.27.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.27.5 (#135)
  biopipen/__init__.py
  biopipen/core/testing.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/SeuratTo10X.R
  biopipen/scripts/scrna/Subset10X.R
  biopipen/scripts/scrna/Write10X.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
  tests/test_scrna/SeuratPreparing/run.env
  tests/test_scrna/SeuratPreparing/test.py
Due: flake8, versionchecker

fix(scrna_metabolic_landscape.MetabolicFeatures): fix return value of groups with less than 5 cells in `do_one_group`
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
Due: flake8

choir(utils.gsea): avoid printing NULL for `runFGSEA`
  biopipen/utils/gsea.R
Due: flake8

tests: use the return value of pipen.run() to test the success
  .gitignore
  Makefile
  biopipen/core/testing.py
  tests/test_bam/BamSplitChroms/test.py
  tests/test_bam/CNVpytor/test.py
  tests/test_bed/Bed2Vcf/test.py
  tests/test_bed/BedConsensus/test.py
  tests/test_delim/RowsBinder/test.py
  tests/test_gene/GeneNameConversion/test.py
  tests/test_gsea/FGSEA/test.py
  tests/test_gsea/GSEA/test.py
  tests/test_misc/File2Proc/test.py
  tests/test_plot/Heatmap/test.py
  tests/test_plot/ROC/test.py
  tests/test_rnaseq/UnitConversion/test.py
  tests/test_scrna/CellTypist/test.py
  tests/test_scrna/CellsDistribution/test.py
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_scrna/SeuratFilter/test.py
  tests/test_scrna/SeuratMap2Ref/test.py
  tests/test_scrna/SeuratPreparing/test.py
  tests/test_scrna/SeuratSubset/test.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
  tests/test_tcr/CloneSizeQQPlot/test.py
  tests/test_tcr/Immunarch/test.py
  tests/test_tcr/TCRClusterStats/test.py
  tests/test_tcr/TESSA/test.py
  tests/test_vcf/TruvariBenchSummary/test.py
  tests/test_vcf/Vcf2Bed/test.py
  tests/test_vcf/VcfFix/test.py
Due: flake8

0.27.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.27.6 (#136)
  .gitignore
  Makefile
  biopipen/__init__.py
  biopipen/core/testing.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/utils/gsea.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_bam/BamSplitChroms/test.py
  tests/test_bam/CNVpytor/test.py
  tests/test_bed/Bed2Vcf/test.py
  tests/test_bed/BedConsensus/test.py
  tests/test_delim/RowsBinder/test.py
  tests/test_gene/GeneNameConversion/test.py
  tests/test_gsea/FGSEA/test.py
  tests/test_gsea/GSEA/test.py
  tests/test_misc/File2Proc/test.py
  tests/test_plot/Heatmap/test.py
  tests/test_plot/ROC/test.py
  tests/test_rnaseq/UnitConversion/test.py
  tests/test_scrna/CellTypist/test.py
  tests/test_scrna/CellsDistribution/test.py
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_scrna/SeuratFilter/test.py
  tests/test_scrna/SeuratMap2Ref/test.py
  tests/test_scrna/SeuratPreparing/test.py
  tests/test_scrna/SeuratSubset/test.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
  tests/test_tcr/CloneSizeQQPlot/test.py
  tests/test_tcr/Immunarch/test.py
  tests/test_tcr/TCRClusterStats/test.py
  tests/test_tcr/TESSA/test.py
  tests/test_vcf/TruvariBenchSummary/test.py
  tests/test_vcf/Vcf2Bed/test.py
  tests/test_vcf/VcfFix/test.py
Due: flake8, versionchecker

fix(utils.gsea): fix gsea table not being printed for `runFGSEA`
  biopipen/utils/gsea.R
Due: flake8

fix(core.filters): fix slugified pathway plot file name in report
  biopipen/core/filters.py
  biopipen/utils/gsea.R
  biopipen/utils/misc.R
Due: flake8

chore: fix typo in class name ExprImpution to ExprImputation
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna/ExprImputation-alra.R
  biopipen/scripts/scrna/ExprImputation-rmagic.R
  biopipen/scripts/scrna/ExprImputation-scimpute.R
  biopipen/scripts/scrna/ExprImputation.R
  biopipen/scripts/scrna/ExprImpution.R
Due: flake8

fix(scrna_metabolic_landscape): fix mutaters not working
  biopipen/ns/scrna_metabolic_landscape.py
Due: flake8

fix(scrna_metabolic_landscape.MetabolicFeatures/MetabolicFeaturesIntraSubset): skip groups with less than 5 cells in `do_one_group` and save a warning file under the case
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
Due: flake8

fix(utils.gsea): do not switch 1st and 2nd columns when 2nd column is numeric for `localizeGmtfile`
  biopipen/utils/gsea.R
Due: flake8

choir(tests): remove KEGG_metabolism.gmt for `prep_reference.py`
  tests/data/prep_reference.py
Due: none

tests(scrna_metabolic_landscape): fix tests
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
Due: none

0.27.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.27.7 (#137)
  biopipen/__init__.py
  biopipen/core/filters.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna/ExprImputation-alra.R
  biopipen/scripts/scrna/ExprImputation-rmagic.R
  biopipen/scripts/scrna/ExprImputation-scimpute.R
  biopipen/scripts/scrna/ExprImputation.R
  biopipen/scripts/scrna/ExprImpution.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/utils/gsea.R
  biopipen/utils/misc.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/data/prep_reference.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
Due: flake8, versionchecker

fix(scrna.SeuratClusterStats): fix selected columns not unique for stats
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

feat(scrna.SeuratMap2Ref): allow non-SCTransform'ed reference
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.SeuratMap2Ref): allow splitting query object for mapping
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
  tests/test_scrna/SeuratMap2Ref/test.py
Due: flake8

deps: update pipen-board to version 0.15.1
  poetry.lock
Due: none

0.27.8
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.27.8 (#138)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/SeuratMap2Ref/test.py
Due: flake8, versionchecker

feat(tcr.TCRClusterStats): add `sample_order` to set sample order on heatmap and `cluster_rows` to switch row clustering on/off
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TCRClusterStats.R
  tests/test_tcr/TCRClusterStats/test.py
Due: flake8

0.27.9
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
