Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

chore(docker): update Dockerfile to use micromamba base image and streamline dependency installation
  docker/test/Dockerfile
  tests/conda/env_biopipen.yml
Due: none

ci: add step to delete cache for space optimization
  .github/workflows/ci.yml
Due: none

chore(docker): update Dockerfile to install dependencies using micromamba env install
  docker/test/Dockerfile
Due: none

chore(docker): update Dockerfile to use micromamba env update for dependency installation
  docker/test/Dockerfile
Due: none

chore(deps): comment out r-immunarch dependency in environment file
  tests/conda/env_biopipen.yml
Due: none

chore(docker): move WORKDIR instruction to improve Dockerfile structure
  docker/test/Dockerfile
Due: none

enh(misc): enable line buffering for stdout/stderr when redirecting to files or pipes
  biopipen/utils/misc.py
Due: flake8

chore(deps): add pipen-log2file as an optional dependency
  poetry.lock
  pyproject.toml
Due: versionchecker

0.34.26
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

chore(scrna): enable line buffering for stdout/stderr in run_command
  biopipen/scripts/scrna/CellSNPLite.py
  biopipen/scripts/scrna/MQuad.py
  biopipen/utils/misc.py
Due: flake8

0.34.26 (#189)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/core/config.toml
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellSNPLite.py
  biopipen/scripts/scrna/MQuad.py
  biopipen/utils/misc.py
  docker/base/Dockerfile
  docker/cellranger_pipeline/Dockerfile
  docker/cnvkit_pipeline/Dockerfile
  docker/test/Dockerfile
  docs/CHANGELOG.md
  docs/pipelines/cellranger_pipeline.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
Due: flake8, versionchecker

fix(scrna.AnnData2Seurat): resolve issue with pdf device not opening correctly for dotplot generation
  biopipen/scripts/scrna/AnnData2Seurat.R
Due: flake8

fix(scrna.CellTypeAnnotation): update package requirement from celltypist to celltypist2 (a version adopts numpy v2)
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
Due: flake8

feat(tcr.CDR3Clustering): add verbose output option for GIANA command
  biopipen/scripts/tcr/CDR3Clustering.R
Due: flake8

fix(tcr.GIANA): update length dictionary to allow a wider range of sequence lengths
  biopipen/scripts/tcr/GIANA/GIANA.py
Due: flake8

test(tcr.CDR3Clustering): add CDR3Clustering tests for ClusTCR and GIANA tools
  tests/test_tcr/CDR3AAPhyschemTESSA/test.py
Due: none

fix(tcr.TESSA): add Keras model migration support for v2 and v3
  biopipen/scripts/tcr/TESSA_source/BriseisEncoder.py
  biopipen/scripts/tcr/TESSA_source/KERAS_MIGRATION.md
  biopipen/scripts/tcr/TESSA_source/migrate_keras_model.py
Due: flake8

test(tcr.CDR3Clustering): conditionally set requires for clustering classes
  tests/test_tcr/CDR3AAPhyschemTESSA/test.py
Due: none

chore(deps): bump pipen-report to 0.23.15
  poetry.lock
Due: none

chore(deps): update celltypist dependency to celltypist2
  tests/conda/env_biopipen.yml
Due: none

0.34.27
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.27 (#190)
  biopipen/__init__.py
  biopipen/scripts/scrna/AnnData2Seurat.R
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/tcr/CDR3Clustering.R
  biopipen/scripts/tcr/GIANA/GIANA.py
  biopipen/scripts/tcr/TESSA_source/BriseisEncoder.py
  biopipen/scripts/tcr/TESSA_source/KERAS_MIGRATION.md
  biopipen/scripts/tcr/TESSA_source/migrate_keras_model.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_tcr/CDR3AAPhyschemTESSA/test.py
Due: flake8, versionchecker

fix(misc): update require_package to use distribution for package checks
  biopipen/utils/misc.py
  tests/test_utils/misc/test.py
Due: flake8

feat(scrna.VireoSNP): add VireoSNP process for demultiplexing single-cell RNA-seq data
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

fix(scrna.VireoSNP): update colormap retrieval method for consistency
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

fix(scrna.VireoSNP): correct allele frequency matrix calculation to use dense array representation
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

feat(scrna.VireoSNP): add plugin options for report generation
  biopipen/ns/scrna.py
  biopipen/reports/scrna/VireoSNP.svelte
  biopipen/scripts/scrna/VireoSNP.py
Due: flake8

fix(scrna.VireoSNP): correct job output directory reference in report generation
  biopipen/reports/scrna/VireoSNP.svelte
Due: flake8

fix(scrna.VireoSNP): improve clarity in clone identification description
  biopipen/reports/scrna/VireoSNP.svelte
Due: flake8

chore(deps): bump pipen, pydantic, varname, werkzeug, and xqute to latest versions
  poetry.lock
Due: none

chore(deps): update python version to 3.12 and add time dependency for pipen-runinfo
  tests/conda/env_biopipen.yml
Due: none

chore(scrna.SeuratClusterStats): move dimplots to the front
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

test(scrna.CellTypeAnnotation): add ModifyCellType process for cell type modification in Seurat
  tests/test_scrna/CellTypist/test.py
Due: none

fix(scrna.CellTypeAnnotation): improve handling of over_clustering assignment from Seurat object for celltypist
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
Due: flake8

chore(deps): specify version for clustcr to avoid old versions
  tests/conda/env_biopipen.yml
Due: none

chore(deps): update conda channels for biopipen environment
  tests/conda/env_biopipen.yml
Due: none

chore(deps): downgrade python version to 3.11 in biopipen environment
  tests/conda/env_biopipen.yml
Due: none

0.34.28
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.34.28 (#191)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/reports/scrna/VireoSNP.svelte
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/VireoSNP.py
  biopipen/utils/misc.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/CellTypist/test.py
  tests/test_utils/misc/test.py
Due: flake8, versionchecker
