Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

feat: add snp module and snp.PlinkSimulation process
  biopipen/core/config.toml
  biopipen/ns/snp.py
  biopipen/scripts/snp/PlinkSimulation.py
  pyproject.toml
Due: flake8, versionchecker

feat(utils.misc): add logger for python
  biopipen/utils/misc.py
Due: flake8

feat: add stats module
  pyproject.toml
Due: versionchecker

feat(snp.PlinkSimulation): add genotype matrix output
  biopipen/ns/snp.py
  biopipen/scripts/snp/PlinkSimulation.py
Due: flake8

feat(rnaseq.Simulation): add expression matrix as outfile
  biopipen/ns/rnaseq.py
  biopipen/scripts/rnaseq/Simulation-ESCO.R
  biopipen/scripts/rnaseq/Simulation-RUVcorr.R
  biopipen/scripts/rnaseq/Simulation.R
Due: flake8

feat: add stats module
  biopipen/ns/stats.py
Due: flake8

feat: add stats.ChowTest
  biopipen/ns/stats.py
  biopipen/scripts/stats/ChowTest.R
Due: flake8

feat: add stats.LiquidAssoc
  biopipen/ns/stats.py
  biopipen/scripts/stats/LiquidAssoc.R
Due: flake8

feat: add stats.DiffCoexpr
  biopipen/ns/stats.py
  biopipen/scripts/stats/DiffCoexpr.R
Due: flake8

feat: add stats.MetaPvalue
  biopipen/ns/stats.py
  biopipen/scripts/stats/MetaPvalue.R
Due: flake8

deps: bump pipen to 0.14.1
  poetry.lock
Due: none

0.26.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.26.0 (#127)
  biopipen/__init__.py
  biopipen/core/config.toml
  biopipen/ns/rnaseq.py
  biopipen/ns/scrna.py
  biopipen/ns/snp.py
  biopipen/ns/stats.py
  biopipen/scripts/rnaseq/Simulation-ESCO.R
  biopipen/scripts/rnaseq/Simulation-RUVcorr.R
  biopipen/scripts/rnaseq/Simulation.R
  biopipen/scripts/rnaseq/UnitConversion.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/RadarPlots.R
  biopipen/scripts/snp/PlinkSimulation.py
  biopipen/scripts/stats/ChowTest.R
  biopipen/scripts/stats/DiffCoexpr.R
  biopipen/scripts/stats/LiquidAssoc.R
  biopipen/scripts/stats/MetaPvalue.R
  biopipen/scripts/tcr/CloneResidency.R
  biopipen/utils/misc.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_rnaseq/UnitConversion/data/exprs.txt
  tests/test_rnaseq/UnitConversion/run.env
  tests/test_rnaseq/UnitConversion/test.py
Due: flake8, versionchecker

deps: bump pipen to 0.14.3
  poetry.lock
Due: none

fix(utils.misc.R): replace latin and greek characters with closest ascii chars for `slugify()`
  biopipen/utils/misc.R
Due: flake8

feat(scrna.TopExpressingGenes): support `subset`
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

fix(scrna.CellsDistribution): fix the row order of the heatmaps
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

enh(tcr.CloneResidency): add legend for multiplets in upset plots
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

deps: pin ggplot2 to 3.4 due to breaking changes of 3.5
  tests/conda/env_r.yml
Due: none

feat(scrna.SeuratClusterStats): add circos plot for cell composition stats (pwwang/immunopipe#46)
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

fix(scrna.CellsDistribution): fix heatmap split when only one `cells_by` is provided.
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

0.26.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix: remove non-existing namespace plink
  pyproject.toml
Due: versionchecker

0.26.1 (#128)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/tcr/CloneResidency.R
  biopipen/utils/misc.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8, versionchecker

deps: bump datar-pandas to 0.5.5 to dismiss depr warnings
  poetry.lock
Due: none

0.26.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.26.2 (#129)
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

enh(tcr.CloneResidency): support log scale for y axis of upset bar plots
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

enh(scrna.SeuratClusterStats): allow to rotate labels in circos plot (pwwang/immunopipe#48)
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

enh(scrna.SeuratClusterStats): use pal_biopipen for ident colors in circos plot
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

deps: bump datar to 0.15.6, pipen to 0.14.4
  poetry.lock
  pyproject.toml
Due: versionchecker

tests: add assertion for success of the pipelines
  biopipen/core/testing.py
  tests/test_bam/BamSplitChroms/test.py
  tests/test_bam/CNVpytor/test.py
  tests/test_bed/Bed2Vcf/test.py
  tests/test_bed/BedConsensus/test.py
  tests/test_core/filters/test.py
  tests/test_delim/RowsBinder/test.py
  tests/test_gene/GeneNameConversion/test.py
  tests/test_gsea/FGSEA/test.py
  tests/test_gsea/GSEA/test.py
  tests/test_misc/File2Proc/test.py
  tests/test_plot/Heatmap/test.py
  tests/test_rnaseq/UnitConversion/test.py
  tests/test_scrna/CellTypist/test.py
  tests/test_scrna/CellsDistribution/test.py
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_scrna/SeuratFilter/test.py
  tests/test_scrna/SeuratSubset/test.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
  tests/test_tcr/CloneSizeQQPlot/test.py
  tests/test_tcr/Immunarch/test.py
  tests/test_tcr/TCRClusterStats/test.py
  tests/test_tcr/TESSA/test.py
  tests/test_utils/common_docstrs/test.py
  tests/test_utils/gene/test.py
  tests/test_utils/mutate_helpers/test.py
  tests/test_utils/single_cell/test.py
  tests/test_vcf/TruvariBenchSummary/test.py
  tests/test_vcf/Vcf2Bed/test.py
  tests/test_vcf/VcfFix/test.py
Due: flake8

choir: extract case expansion pattern (scrna.CellsDistribution, scrna.MarkersFinder, scrna.MetaMarkers, scrna.RadarPlots, scrna.ScFGSEA, scrna.TopExpressingGenes)
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/RadarPlots.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/utils/misc.R
Due: flake8

tests: add tests for utils.misc.R
  tests/test_utils/misc/run.env
  tests/test_utils/misc/test.py
Due: none

tests: add r-presto to env_r.yml
  tests/conda/env_r.yml
Due: none

tests: simplify tests for r functions
  biopipen/core/testing.py
Due: flake8

choir(scrna.SeuratClusterStats): use logger instead of print for log messages
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
Due: flake8

fix(scrna.SeuratClusterStats): fix when split-by is specified
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

feat(scrna.CellsDistribution): support `prefix_each`
  biopipen/ns/scrna.py
Due: flake8
