Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

♻️ [scrna_basic] Change detault tag from dev to master for docker image
  docker/scrna_basic/board.toml
  docker/scrna_basic/example.json
Due: none

📝 [scrna_metabolic_landscape] Update docstrings to adopt pipen-board
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.svelte
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
Due: flake8

📝 [scrna_basic] Change detault tag from dev to master in docs
  docs/pipelines/scrna_basic.md
Due: none

🔧 [scrna_basic] Change detault tag from dev to master in entry.sh
  docker/scrna_basic/entry.sh
Due: none

🔧 [scrna_basic] Fix make-examples.sh when running indenpendently
  docker/scrna_basic/make-examples.sh
Due: none

🚧 [cnvkit_pipeline] Init docker building
  .github/workflows/docker.yml
  biopipen/ns/cnvkit_pipeline.py
  docker/cnvkit_pipeline/Dockerfile
  docker/cnvkit_pipeline/board.toml
  docker/cnvkit_pipeline/entry.sh
  docker/cnvkit_pipeline/env.yml
  docker/cnvkit_pipeline/make-examples.sh
  docker/cnvkit_pipeline/pipen-board.patch
Due: flake8

⚙️[cnvkit_pipeline] Make examples
  biopipen/ns/cnvkit_pipeline.py
  docker/cnvkit_pipeline/Dockerfile
  docker/cnvkit_pipeline/cnvkit-cbs.patch
  docker/cnvkit_pipeline/cnvkit-export.patch
  docker/cnvkit_pipeline/env.yml
  docker/cnvkit_pipeline/make-examples.sh
Due: flake8

⬆️ Bump pipen-board to 0.5.7
  poetry.lock
Due: none

⚙️[cnvkit_pipeline] Add example.json for pipen-board
  docker/cnvkit_pipeline/example.json
Due: none

⚙️[cnvkit_pipeline] Update example.json for pipen-board
  docker/cnvkit_pipeline/example.json
Due: none

⬆️ Bump pipen-board to 0.5.8
  poetry.lock
Due: none

📝 [utils.misc] Add docstring for run_command
  biopipen/utils/misc.py
Due: flake8

🐛 [cnvkit.CNVkitGuessBaits] Use a better way to determine python of cnvkit.py
  biopipen/scripts/cnvkit/CNVkitGuessBaits.py
Due: flake8

🔧 [scrna_basic] Add plugin_opts.report_no_collapse in board.html
  docker/scrna_basic/board.toml
Due: none

🔧 [cnvkit_pipeline] Fix example in docker image
  docker/cnvkit_pipeline/board.toml
  docker/cnvkit_pipeline/env.yml
  docker/cnvkit_pipeline/example.json
Due: none

🔖 0.13.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.13.0 (#56)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/ns/cnvkit_pipeline.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.svelte
  biopipen/scripts/cnvkit/CNVkitGuessBaits.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/utils/misc.py
  docker/cnvkit_pipeline/Dockerfile
  docker/cnvkit_pipeline/board.toml
  docker/cnvkit_pipeline/cnvkit-cbs.patch
  docker/cnvkit_pipeline/cnvkit-export.patch
  docker/cnvkit_pipeline/entry.sh
  docker/cnvkit_pipeline/env.yml
  docker/cnvkit_pipeline/example.json
  docker/cnvkit_pipeline/make-examples.sh
  docker/cnvkit_pipeline/pipen-board.patch
  docker/scrna_basic/entry.sh
  docker/scrna_basic/example.json
  docker/scrna_basic/make-examples.sh
  docs/CHANGELOG.md
  docs/pipelines/scrna_basic.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

✨ [tcr.CDR3AAphyschem] Add process
  biopipen/ns/tcr.py
  biopipen/reports/tcr/CDR3AAPhyschem.svelte
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

🚑 [cnv.AneuploidyScoreSummary] Adjust with of CAA plot based on number of samples
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
Due: flake8

✨ [cnv.TMADScore] Add TMADScore and TMADScoreSummary
  biopipen/ns/cnv.py
  biopipen/scripts/cnv/TMADScore.R
  biopipen/scripts/cnv/TMADScoreSummary.R
Due: flake8

⬆️ Bump pipen-board to 0.6.0
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Adopt pipen-board 0.6
  docker/cnvkit_pipeline/pipen-board.patch
  docker/scrna_basic/pipen-board.patch
  docs/pipelines/scrna_basic.md
Due: none

🚑 [scrna_basic] Fix "Issued certificate has expired" in making examples for docker
  docker/scrna_basic/make-examples.sh
Due: none

🔧 Fix make-examples.sh for docker images for pipelines
  docker/cnvkit_pipeline/make-examples.sh
  docker/scrna_basic/make-examples.sh
Due: none

🚑 [cnv.TMADScore] Fix wrong `envs.seg_transform` received in script
  biopipen/scripts/cnv/TMADScore.R
Due: flake8

⬆️ Bump pipen-board to 0.6.1
  poetry.lock
Due: none

📝 [cnv.TMADScoreSummary] Add report template
  biopipen/ns/cnv.py
  biopipen/reports/cnv/TMADScoreSummary.svelte
  biopipen/scripts/cnv/TMADScore.R
Due: flake8

💥 [cnv.AneuploidyScore] Change `envs.include_sex` to `envs.excl_chroms` so exclusion of chroms is more flexible
  biopipen/ns/cnv.py
  biopipen/scripts/cnv/AneuploidyScore.R
Due: flake8

✨ [cnv.TMADScoreSummary] Support grouping by 2 groups hierarchically
  biopipen/ns/cnv.py
  biopipen/reports/cnv/TMADScoreSummary.svelte
  biopipen/scripts/cnv/TMADScoreSummary.R
Due: flake8

✨ [cnv.AneuploidyScoreSummary] Support grouping by 2 groups hierarchically
  biopipen/ns/cnv.py
  biopipen/reports/cnv/AneuploidyScoreSummary.svelte
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
Due: flake8

⬆️ Bump pipen-board to 0.6.3
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.14.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.14.0 (#57)
  biopipen/__init__.py
  biopipen/ns/cnv.py
  biopipen/ns/tcr.py
  biopipen/reports/cnv/AneuploidyScoreSummary.svelte
  biopipen/reports/cnv/TMADScoreSummary.svelte
  biopipen/reports/tcr/CDR3AAPhyschem.svelte
  biopipen/scripts/cnv/AneuploidyScore.R
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
  biopipen/scripts/cnv/TMADScore.R
  biopipen/scripts/cnv/TMADScoreSummary.R
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  docker/cnvkit_pipeline/make-examples.sh
  docker/cnvkit_pipeline/pipen-board.patch
  docker/scrna_basic/make-examples.sh
  docker/scrna_basic/pipen-board.patch
  docs/CHANGELOG.md
  docs/pipelines/scrna_basic.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen-board to 0.6.4
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Bump pipen-board to 0.7
  biopipen/ns/tcr.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen-board to 0.7.1
  poetry.lock
Due: none

🎨 [scrna] Add type=int for envs.ncores
  biopipen/ns/scrna.py
Due: flake8

🚑 [tcr.CloneResidency] Dismiss warnings from pivot_wider
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

⬆️ Bump pipen-board to 0.7.2
  poetry.lock
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
