Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

⬆️ Bump pipen-board to 0.13.4
  poetry.lock
Due: none

🔖 0.20.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.20.6 (#92)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/reports/scrna/CellsDistribution.svelte
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/CellsDistribution/test.py
Due: flake8, versionchecker

(delim.SampleInfo) Add `distinct` to case to perform stats on distinct records
  biopipen/ns/delim.py
  biopipen/scripts/delim/SampleInfo.R
  tests/test_delim/RowsBinder/test.py
Due: flake8

🔖 0.20.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

(scrna_basic) Fix docker image building
  docker/scrna_basic/make-examples.sh
  docs/CHANGELOG.md
Due: none

🔖 0.20.7 (#93)
  biopipen/__init__.py
  biopipen/ns/delim.py
  biopipen/scripts/delim/SampleInfo.R
  docker/scrna_basic/make-examples.sh
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_delim/RowsBinder/test.py
Due: flake8, versionchecker

tcr.Immunarch: fix empty groups in diversity plot after filtering
  biopipen/scripts/tcr/Immunarch-diversity.R
Due: flake8

scrna.CellsDistribution: allow multiple columns for cells_by
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

cnv.AneuploidyScoreSummary: Ignore `.call` suffix to get sample name
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
Due: flake8

cnv.AneuploidyScoreSummary: Fix image path in report while `envs.group_cols` is a string
  biopipen/reports/cnv/AneuploidyScoreSummary.svelte
Due: flake8

scrna.RadarPlots: Fix `envs.order` not working
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

utils.single_cell: Add functions to expand, filter and restore immunarch objects
  biopipen/utils/single_cell.R
  tests/test_utils/single_cell/run.env
  tests/test_utils/single_cell/test.py
Due: flake8

tcr.Immunarch:
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

tcr.TCRClusterStats: Fix tests
  tests/test_tcr/TCRClusterStats/test.py
Due: none

utils.single_cell: Fix tests
  tests/test_utils/single_cell/test.py
Due: none

scrna.CellsDistribution: Add `subset` for cases to subset cells
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

utils.common_docstrs: Extract some common docstrings for procs
  biopipen/utils/common_docstrs.py
  tests/test_utils/common_docstrs/test.py
  tox.ini
Due: flake8

scrna.MarkersFinder: Add `overlap` to find overlapping markers between cases (pwwang/immunopipe#24)
  biopipen/ns/scrna.py
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

scrna.MarkersFinder: Add `subset` for each case to subset cells
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

utils.misc.R: Use r-logger for logging for R scripts
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/utils/misc.R
  tests/test_utils/common_docstrs/run.env
Due: flake8

scrna.MarkersFinder: Add dot plots for cases
  biopipen/ns/scrna.py
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

utils.mutate_helpers.R: Add include_emerged for `expanded()` and include_vanished for `collapsed()`
  biopipen/utils/mutate_helpers.R
Due: flake8

utils.mutate_helpers.R: Fix tests
  tests/test_utils/mutate_helpers/test.py
Due: none

tests: Add r-logger to test dependencies
  tests/conda/env_r.yml
Due: none

0.21.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.21.0 (#94)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/reports/cnv/AneuploidyScoreSummary.svelte
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/RadarPlots.R
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch.R
  biopipen/utils/common_docstrs.py
  biopipen/utils/misc.R
  biopipen/utils/mutate_helpers.R
  biopipen/utils/single_cell.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
  tests/test_tcr/TCRClusterStats/test.py
  tests/test_utils/common_docstrs/run.env
  tests/test_utils/common_docstrs/test.py
  tests/test_utils/mutate_helpers/test.py
  tests/test_utils/single_cell/run.env
  tests/test_utils/single_cell/test.py
  tox.ini
Due: flake8, versionchecker

docs: Adopt mkdocs-rtd 0.0.10
  docs/style.css
Due: none

delim.SampleInfo: Refactor data subset logic in SampleInfo class
  biopipen/ns/delim.py
  biopipen/scripts/delim/SampleInfo.R
  tests/test_delim/RowsBinder/test.py
Due: flake8

docs: Fix internal reference in API docs
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
Due: flake8

Update pipen-board and pygments versions
  poetry.lock
Due: none

0.21.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.21.1 (#95)
  biopipen/__init__.py
  biopipen/ns/delim.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  biopipen/scripts/delim/SampleInfo.R
  docs/CHANGELOG.md
  docs/style.css
  poetry.lock
  pyproject.toml
  tests/test_delim/RowsBinder/test.py
Due: flake8, versionchecker

tcr.Immunarch: Add V-J junction circos plots
  biopipen/ns/tcr.py
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/scripts/tcr/Immunarch-vjjunc.R
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

tcr.Immunarch: Refactor logging statements using r-`logger`
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
Due: flake8

0.21.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.21.2 (#96)
  biopipen/__init__.py
  biopipen/ns/tcr.py
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch-vjjunc.R
  biopipen/scripts/tcr/Immunarch.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

Update pipen-board and pipen-report versions
  poetry.lock
Due: none

scrna.SeuratClusterStats: Add subset for dimplots to
  biopipen/ns/scrna.py
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
