Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

♻️ [scrna.SeuratClusterStats] Redesign envs
  biopipen/ns/scrna.py
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  tests/conda/env_r.yml
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

✨ [scrna.MarkersFinder] Add volcano plot
  biopipen/ns/scrna.py
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

⬆️ Bump pipen to 0.11.1
  poetry.lock
Due: none

Avoid installing scipy as dep
  pyproject.toml
Due: versionchecker

⬆️ Bump datar to 0.15.1
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Bump datar to 0.15.2
  pyproject.toml
Due: versionchecker

⬆️ Bump datar to 0.15.2
  poetry.lock
Due: none

✅ [gsea.FGSEA] Fix tests
  tests/test_gsea/FGSEA/test.py
Due: none

🚨 Make line length to 88 for linting
  pyproject.toml
  tox.ini
Due: versionchecker

✨ [tcr.TESSA] Add `envs.assay` for seurat object input
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TESSA.R
Due: flake8

🐛 [tcr.TESSA] Fix when a V-gene/J-gene is missing
  biopipen/scripts/tcr/TESSA.R
  biopipen/scripts/tcr/TESSA_source/BriseisEncoder.py
  biopipen/scripts/tcr/TESSA_source/real_data.R
Due: flake8

🚸 [scrna.SeuratClustering] Add clear message when `k.weight` is too large for `IntegrateData`
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

🔖 0.18.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.18.0 (#80)
  .gitignore
  biopipen/__init__.py
  biopipen/core/filters.py
  biopipen/ns/delim.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/scripts/delim/SampleInfo.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/tcr/TESSA.R
  biopipen/scripts/tcr/TESSA_source/BriseisEncoder.py
  biopipen/scripts/tcr/TESSA_source/real_data.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
  tests/test_core/filters/test.py
  tests/test_gsea/FGSEA/test.py
  tests/test_scrna/SeuratClusterStats/test.py
  tox.ini
Due: flake8, versionchecker

🎨 [scrna.MetaMarkers/ScFGSEA/SeuratClusterStats] Remove `tidyseurat::` prefix for `filter`
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

✨ [tcr.TESSA] Allow the results to be saved to seurat object
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TESSA.R
Due: flake8

📝 [tcr.TESSA] Fix docs about envs.assay
  biopipen/ns/tcr.py
Due: flake8

⬆️ Bump datar to 0.15.3
  poetry.lock
Due: none

🔖 0.18.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.18.1 (#81)
  biopipen/__init__.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/tcr/TESSA.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🐛 [tcr.CDR3AAphyschem.R] Fix a bug when the min length of CDR3 seqs > 12
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

🔖 0.18.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.18.2 (#82)
  biopipen/__init__.py
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🐛 [scrna.MarkersFinder] Fix when either ident is empty
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

🔖 0.18.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.18.3 (#83)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen-report 0.13.1 (pwwang/immunopipe#9, 2)
  poetry.lock
Due: none

💄 [docs] Hide unnecessary items in nav bar
  docs/style.css
Due: none

💄 [docs] Get docs, especially API docs, formatted better
  biopipen/ns/bed.py
  biopipen/ns/cnvkit_pipeline.py
  biopipen/ns/scrna_basic.py
  biopipen/ns/scrna_metabolic_landscape.py
  docs/extra.js
  docs/style.css
Due: flake8

🎨 [scrna.SeuratPreparing] Improve QC plots
  biopipen/reports/scrna/SeuratPreparing.svelte
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

📝 [scrna.SeuratPreparing] Fix type annotation for `envs.features_defaults.ncol` in docstring
  biopipen/ns/scrna.py
Due: flake8

🐛 [scrna.CellsDistribution] Fix the cluster order in pie charts
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

🐛 [scrna.SeuratClusterStats] Fix the cluster order in pie charts
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

🐛 [delim.SampleInfo] Fix order in pie charts
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

✨ [scrna.SeuratClustering] Add number of clusters at the end of log
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

📝 [tcr.Immunarch] Fix docstring for `envs.div.args`
  biopipen/ns/tcr.py
Due: flake8

✨ [scrna.SeuratClusterStats] Allow mutiple columns in the file for `envs.features_defaults.features`
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

⬆️ Bump pipen-board to 0.12.5
  poetry.lock
Due: none

🎨 [delim.SampleInfo] Add stricter checker for input file (pwwang/immunopipe#13)
  biopipen/scripts/delim/SampleInfo.R
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
