Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

feat(web): add GCloudStorageDownloadFile and GCloudStorageDownloadBucket to download files from GCP
  biopipen/core/config.toml
  biopipen/ns/web.py
  biopipen/scripts/web/GCloudStorageDownloadBucket.py
  biopipen/scripts/web/GCloudStorageDownloadFile.py
  biopipen/scripts/web/gcloud_common.py
Due: flake8

fix(cellranger.CellRangerCount): fix falsy `envs.create_bam` not working for cellranger v7
  biopipen/scripts/cellranger/CellRangerCount.py
Due: flake8

feat(scrna.SeuratPreparing): add scDblFinder to detect doublets
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing-doubletfinder.R
  biopipen/scripts/scrna/SeuratPreparing-scdblfinder.R
  biopipen/scripts/scrna/SeuratPreparing.R
  tests/conda/env_biopipen.yml
  tests/test_scrna/SeuratPreparing/test.py
Due: flake8

feat(scrna.SeuratMap2Ref): add envs.skip_if_normalized option to skip normalization if query is already normalized using the same method as the reference
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

chore(regulatory.MotifAffinityTest): use template filter source_r to source R files
  biopipen/core/filters.py
  biopipen/scripts/regulatory/MotifAffinityTest.R
Due: flake8

tests(regulatory.MotifAffinityTest): rename regulation to regulatory
  tests/test_regulatory/MotifAffinityTest/data/variants.bed
  tests/test_regulatory/MotifAffinityTest/run.env
  tests/test_regulatory/MotifAffinityTest/test.py
  tests/test_regulatory/MotifScan/data/motif1.txt
  tests/test_regulatory/MotifScan/data/motif2.txt
  tests/test_regulatory/MotifScan/data/motifdb.txt
  tests/test_regulatory/MotifScan/data/seq.fa
  tests/test_regulatory/MotifScan/run.env
  tests/test_regulatory/MotifScan/test.py
Due: none

fix(stats): handle case when p-value is 0 for MetaPvalue and MetaPvalue1
  biopipen/scripts/stats/MetaPvalue.R
  biopipen/scripts/stats/MetaPvalue1.R
Due: flake8

feat(scrna.CellTypeAnnotation): allow to merge/not to merge the clusters with the same labels predicted
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-common.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/CellTypist/test.py
  tests/test_scrna/ScCATCH/test.py
Due: flake8

fix(scrna): Fix generating PrepSCTFindMarkers command when no previous commands present
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/MetaMarkers.R
Due: flake8

refactor(scnra.SeuratClustering): refactor the script for better debugging
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

refactor(scnra.SeuratPreparing): refactor the script for better debugging
  biopipen/scripts/scrna/SeuratPreparing-common.R
  biopipen/scripts/scrna/SeuratPreparing-doublet_detection.R
  biopipen/scripts/scrna/SeuratPreparing-doubletfinder.R
  biopipen/scripts/scrna/SeuratPreparing-scdblfinder.R
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

0.30.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

docs: fix CHANGELOG format
  docs/CHANGELOG.md
Due: none

feat(scrna): add ScSimulation process for simulating single-cell data using splatter
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScSimulation.R
  tests/conda/env_biopipen.yml
  tests/test_scrna/ScSimulation/run.env
  tests/test_scrna/ScSimulation/test.py
Due: flake8

refactor(scrna.CellsDistribution): fix same colors for more than 16 clusters
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

BREAKING(scrna.SeuratClusterStats): change envs.stats.frac option to calculate fraction of cells in each group or ident
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

feat(scrna.SeuratMap2Ref): run PrepSCTFindMarkers when necessary
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

deps: bump pipen to 0.15
  poetry.lock
  pyproject.toml
Due: versionchecker

0.31.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.31.0 (#146)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/ScSimulation.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/ScSimulation/run.env
  tests/test_scrna/ScSimulation/test.py
Due: flake8, versionchecker

enh(scrna.SeuratMap2Ref): check if reference has SCTModel if SCTransform'ed (likely prepared by old Seurat)
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

0.31.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.31.1 (#147)
  biopipen/__init__.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(tcr.CDR3AAPhyschem): use sequence from TRB chain only
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

fix(tcr.TCRClustering): fix for multi-chain TCRs, use TRB only if on_multi is false
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

0.31.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.31.2 (#148)
  biopipen/__init__.py
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  biopipen/scripts/tcr/TCRClustering.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

test: fix test not failing when tests failed
  .github/workflows/ci.yml
  Makefile
Due: none

test: fix gene name conversion tests due to external API change
  tests/test_gene/GeneNameConversion/test.py
  tests/test_utils/gene/test.py
Due: none

fix(tcr.CDR3AAPhyschem): fix when chain is not available
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

fix(tcr.TCRClustering): fix when chain is not available
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

test: fix gene name conversion test due to external API change
  tests/test_gene/GeneNameConversion/test.py
Due: none

fix(tcr.CDR3AAPhyschem): fix typo in the script
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

0.31.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.31.3 (#149)
  .github/workflows/ci.yml
  Makefile
  biopipen/__init__.py
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  biopipen/scripts/tcr/TCRClustering.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_gene/GeneNameConversion/test.py
  tests/test_utils/gene/test.py
Due: flake8, versionchecker

fix(plot.VennDiagram): update default devpars and fix issues with computed data
  biopipen/ns/plot.py
  biopipen/scripts/plot/VennDiagram.R
  biopipen/utils/plot.R
Due: flake8

fix(scrna.SeuratMap2Ref): fix identifying the normalization method of reference
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
