Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

docs(scrna.MetabolicPathwayActivity): add merged heatmap example
  biopipen/ns/scrna_metabolic_landscape.py
Due: flake8

0.34.17
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

docs: improve documentation for SeuratPreparing to make sure new line… (#180)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  biopipen/ns/web.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/tcr/ClonalStats.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

style: update Dockerfile formatting for consistency
  docker/base/Dockerfile
  docker/test/Dockerfile
Due: none

fix(scrna): update group_by assignment to use GetIdentityColumn
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

0.34.18
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.34.18 (#181)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  docker/base/Dockerfile
  docker/test/Dockerfile
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat(scrna.SeuratClustering): add envs.ident as shortcut for custom cluster name
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

chore(scrna.SeuratClusterStats): set default group_by for dimplots to None
  biopipen/ns/scrna.py
Due: flake8

docs(scrna): correct parameter names in docstring (ident-1 to ident_1, and ident-2 to ident-2)
  biopipen/ns/scrna.py
Due: flake8

fix(tests): update testing directory path to not use temporary directory
  .github/workflows/ci.yml
  .gitignore
  biopipen/core/testing.py
Due: flake8

refactor: remove common_docstrs.py and related tests from the repository
  biopipen/utils/common_docstrs.py
  tests/test_utils/common_docstrs/run.env
  tests/test_utils/common_docstrs/test.py
  tox.ini
Due: flake8

feat(utils.misc): add require_package function and comprehensive tests for package requirements and command execution
  biopipen/utils/misc.py
  tests/test_utils/misc/test.py
Due: flake8

feat(scrna): add return option for identity column in convert_seurat_to_anndata function
  biopipen/scripts/scrna/seurat_anndata_conversion.py
Due: flake8

feat(scrna.ScVelo): allow envs.group_by to be None to use default ident for Seurat objects
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScVelo.py
  biopipen/scripts/scrna/scvelo_paga.py
  tests/test_scrna/ScVelo/test.py
  tests/test_utils/misc/run.env
Due: flake8

chore: add commit message instructions for GitHub Copilot
  .copilot-commit-message-instructions.md
Due: none

feat(scrna.Slingshot): allow group_by to be None for default identity column in Seurat object
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/Slingshot.R
  tests/test_scrna/Slingshot/run.env
  tests/test_scrna/Slingshot/test.py
Due: flake8

feat(scrna.AnnData2Seurat): add ident parameter to specify identity column for Seurat object after conversion
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/AnnData2Seurat.R
Due: flake8

feat(scrna.CellCellCommunication): enhance groupby handling for Seurat objects
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunication.py
  tests/test_scrna/CellCellCommunication/test.py
Due: flake8

feat(scrna.CellTypeAnnotation): add support for specifying identity column in CellTypeAnnotation for celltypist
  .gitignore
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/CellTypist/test.py
Due: flake8

feat(scrna.CellTypeAnnotation): enhance identity column handling and add backup column support
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/SeuratClusterStats-clustree.R
  tests/test_scrna/Seurat/test.py
Due: flake8

0.34.19
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.19 (#182)
  .copilot-commit-message-instructions.md
  .github/workflows/ci.yml
  .gitignore
  biopipen/__init__.py
  biopipen/core/testing.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/AnnData2Seurat.R
  biopipen/scripts/scrna/CellCellCommunication.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/ScVelo.py
  biopipen/scripts/scrna/SeuratClusterStats-clustree.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/Slingshot.R
  biopipen/scripts/scrna/scvelo_paga.py
  biopipen/scripts/scrna/seurat_anndata_conversion.py
  biopipen/utils/common_docstrs.py
  biopipen/utils/misc.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_scrna/CellCellCommunication/test.py
  tests/test_scrna/CellTypist/test.py
  tests/test_scrna/ScVelo/test.py
  tests/test_scrna/Seurat/test.py
  tests/test_scrna/Slingshot/run.env
  tests/test_scrna/Slingshot/test.py
  tests/test_utils/common_docstrs/test.py
  tests/test_utils/misc/run.env
  tests/test_utils/misc/test.py
  tox.ini
Due: flake8, versionchecker

feat(scrna.CellTypeAnnotation): enhance classifier initialization and input handling for celltypist
  biopipen/scripts/scrna/celltypist-wrapper.py
Due: flake8

enh(scrna.MarkersFinder): add logging for plot processing in marker and enrichment functions
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(utils.misc): add support for specifying Python interpreter in require_package
  biopipen/utils/misc.py
  tests/test_utils/misc/test.py
Due: flake8

feat(scrna.CellTypeAnnotation): require celltypist package with specified version and python interpreter
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
Due: flake8

0.34.20
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.20 (#183)
  biopipen/__init__.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/celltypist-wrapper.py
  biopipen/utils/misc.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_utils/misc/test.py
Due: flake8, versionchecker

fix(cellranger.CellRangerCount): ensure reference path exists before processing
  biopipen/scripts/cellranger/CellRangerCount.py
Due: flake8

chore(docker/cellranger_pipeline): ensure telemetry is disabled for cellranger in Dockerfile
  docker/cellranger_pipeline/Dockerfile
Due: none

chore(cellranger.CellRangerCount): print detected cellranger version for better debugging
  biopipen/scripts/cellranger/CellRangerCount.py
Due: flake8

docs(cellranger_pipeline): update reference URLs for clarity and consistency
  docs/pipelines/cellranger_pipeline.md
Due: none

feat(cellranger.CellRangerVdj): add support for handling mounted output directories
  biopipen/ns/cellranger.py
  biopipen/scripts/cellranger/CellRangerVdj.py
Due: flake8

ci(docker): update Dockerfiles to use 'latest' tag for base images
  .github/workflows/docker.yml
  docker/cellranger_pipeline/Dockerfile
  docker/cnvkit_pipeline/Dockerfile
  docker/test/Dockerfile
Due: none

ci: simplify conditions for docker-test, docker-cnvkit-pipeline, and docker-cellranger-pipeline jobs
  .github/workflows/docker.yml
  docker/base/Dockerfile
Due: none

ci: update conditions in docker workflow to use join for modified files
  .github/workflows/docker.yml
  docker/base/Dockerfile
Due: none

ci(docker): update docker workflow to trigger on additional file changes
  .github/workflows/docker.yml
  docker/base/Dockerfile
Due: none

ci(docker): improve change detection in Docker workflows
  .github/workflows/docker.yml
  docker/base/Dockerfile
Due: none

ci(docker): simplify Docker workflow by removing change detection steps
  .github/workflows/docker.yml
Due: none
