Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

🔖 0.7.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🐛 [scrna.CellTypeAnnotate] Fix the order for direct specifying cell types (0.7.0)
  biopipen/scripts/scrna/CellTypeAnnotate-direct.R
Due: flake8

✨ [scrna.MarkersFinder] Add `each` for cases to run on each value of metadata variable `each`
  biopipen/ns/scrna.py
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

⬆️ Upgrade pipen-filters to 0.2
  poetry.lock
  pyproject.toml
Due: versionchecker

👽️ Adopt pipen-filters 0.2 in reports
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeaturesIntraSubsets.svelte
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/reports/tcr/TCRClusteringStats.svelte
  biopipen/reports/vcf/TruvariConsistency.svelte
Due: flake8

🔧 Rename `scrna_metabolic` namespace to `scrna_metabolic_landscape` in entry points
  pyproject.toml
Due: versionchecker

✨ [tcgamaf.Maf2Vcf] Add proc
  biopipen/core/config.toml
  biopipen/ns/tcgamaf.py
  biopipen/scripts/tcgamaf/Maf2Vcf.py
  biopipen/scripts/tcgamaf/maf2vcf.pl
Due: flake8

✨ [bcftools.BcftoolsSort] Add proc
  biopipen/ns/bcftools.py
  biopipen/scripts/bcftools/BcftoolsSort.py
Due: flake8

✨ [tcgamaf.MafAddChr] Add proc
  biopipen/ns/tcgamaf.py
  biopipen/scripts/tcgamaf/MafAddChr.py
Due: flake8

🔖 0.7.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.7.1 (#49)
  biopipen/__init__.py
  biopipen/core/config.toml
  biopipen/ns/bcftools.py
  biopipen/ns/scrna.py
  biopipen/ns/tcgamaf.py
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeaturesIntraSubsets.svelte
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/reports/tcr/TCRClusteringStats.svelte
  biopipen/reports/vcf/TruvariConsistency.svelte
  biopipen/scripts/bcftools/BcftoolsSort.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/tcgamaf/Maf2Vcf.py
  biopipen/scripts/tcgamaf/MafAddChr.py
  biopipen/scripts/tcgamaf/maf2vcf.pl
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🚀 [vcf.VcfAnno] Add VcfAnno to use vcfanno to annotate VCF files
  biopipen/core/config.toml
  biopipen/ns/vcf.py
  biopipen/scripts/vcf/VcfAnno.py
Due: flake8

✨ [tcgamaf.Maf2Vcf] Add Variant_Classification and Variant_Type to output vcf
  biopipen/scripts/tcgamaf/maf2vcf.pl
Due: flake8

✨ [vcf.VcfFix] Allow gziped vcf as input
  biopipen/scripts/vcf/VcfFix_utils.py
Due: flake8

🔒 Lock poetry package versions in poetry.lock file
  poetry.lock
Due: none

📝 Update usage and metadata in README
  README.md
Due: none

🧹 Remove tests for core pipeline
  tests/test_core/pipeline/run.env
  tests/test_core/pipeline/test.py
Due: none

🔖 0.8.0
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/scrna_metabolic_landscape.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen to 0.6
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.9.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.9.0 (#51)
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Adopt pipen-report 0.7 for report templates
  biopipen/reports/bam/CNAClinic.svelte
  biopipen/reports/bam/CNVpytor.svelte
  biopipen/reports/bam/ControlFREEC.svelte
  biopipen/reports/cnv/AneuploidyScore.svelte
  biopipen/reports/cnv/AneuploidyScoreSummary.svelte
  biopipen/reports/cnvkit/CNVkitDiagram.svelte
  biopipen/reports/cnvkit/CNVkitHeatmap.svelte
  biopipen/reports/cnvkit/CNVkitScatter.svelte
  biopipen/reports/gsea/FGSEA.svelte
  biopipen/reports/gsea/GSEA.svelte
  biopipen/reports/scrna/CellsDistribution.svelte
  biopipen/reports/scrna/DimPlots.svelte
  biopipen/reports/scrna/GeneExpressionInvistigation.svelte
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/reports/scrna/SeuratPreparing.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeaturesIntraSubsets.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayActivity.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.svelte
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/reports/tcr/SampleDiversity.svelte
  biopipen/reports/tcr/TCRClusteringStats.svelte
  biopipen/reports/tcr/VJUsage.svelte
  biopipen/reports/utils/gsea.liq
  biopipen/reports/utils/misc.liq
  biopipen/reports/vcf/TruvariBenchSummary.svelte
  biopipen/reports/vcf/TruvariConsistency.svelte
Due: flake8

⚡️ Add todot and sortkeys arguments for filter r
  biopipen/core/filters.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  tests/test_scrna/CellsDistribution/test.py
Due: flake8

🐛 Set default lang for processes using bash
  biopipen/ns/misc.py
Due: flake8

⚡️ Update docstrings for processes for pipen-cli-config
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

⚡️ [scrna.ExprImpute] Add progress indicators for alra
  biopipen/scripts/scrna/ExprImpute-alra.R
Due: flake8

🐛 [scrna.ExprImpute] Set default assay to RNA for rmagic
  biopipen/scripts/scrna/ExprImpute-rmagic.R
Due: flake8

⚡️ [scrna_metaoblic_landscape.MetabolicPathwayHeterogeneity] Save plot data for debugging
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

🔖 0.10.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🐛 [cnvkit.CNVkitCoverage] Fix error when generating flat reference
  biopipen/ns/cnvkit.py
Due: flake8

🎨 [bed.BedConsensus] Use bedtools genomecov to calculate the consensus regions
  biopipen/ns/bed.py
  biopipen/scripts/bed/BedConsensus.py
Due: flake8

🐛 [core.filters] Keep list of dict in python as list of list in R
  biopipen/core/filters.py
Due: flake8

✨ [scrna_metabolic_landscape] Allow multiple subsettings for the data
  .gitignore
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubsets.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

✨ [scrna_basic] Initialize the pipeline
  biopipen/ns/scrna.py
  biopipen/ns/scrna_basic.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen to 0.9 ⬆️ Drop support for python3.7
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

🐛 [bed.Bed2Vcf] Fix OrderedDiot not found
  biopipen/scripts/bed/Bed2Vcf.py
Due: flake8

🎨 [cnvkit_pipeline] Import cached_property directly
  biopipen/ns/cnvkit_pipeline.py
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
