Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

🎨 [tcr.CloneResidency] Allow order to be optional
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

🎨 [scrna.SeuratClusterStats] Indicate the case name in logs when pie is enable for group-by
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

🎨 [tcr.Immunarch] Allow to skip overlap and gene usage analyses by setting method to `none` (pwwang/immunopipe#11, pwwang/immunopipe#12)
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-overlap.R
Due: flake8

🐛 [tcr.TCRClusteringStats] Don't cluster on heatmap when there are only 2 samples
  biopipen/scripts/tcr/TCRClusteringStats.R
Due: flake8

🐛 [scrna_metabolic_landscape.MetabolicFeatures] Import Seurat explictly to avoid satijalab/seurat#2853
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
Due: flake8

🐛 [scrna_metabolic_landscape.MetabolicPathwayActivity] Fix when NA values in data for heatmap
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
Due: flake8

🐛 [scrna_metabolic_landscape.MetabolicPathwayHeterogeneity] Fix error when no significant pathways selected
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

🩹 [scrna.ModuleScoreCalculator] Set default assay to RNA in case module scores only caculated using integrated features
  biopipen/ns/scrna.py
Due: flake8

🔖 0.19.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.19.0 (#84)
  biopipen/__init__.py
  biopipen/ns/bed.py
  biopipen/ns/cnvkit_pipeline.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_basic.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  biopipen/reports/scrna/SeuratPreparing.svelte
  biopipen/scripts/delim/SampleInfo.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/scripts/tcr/CloneResidency.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/TCRClusteringStats.R
  docs/CHANGELOG.md
  docs/extra.js
  docs/style.css
  poetry.lock
  pyproject.toml
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8, versionchecker

⬆️ Bump pipen to 0.12
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.20.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.20.0 (#85)
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

📝 [scrna_basic/scrna_metabolic_landscape/scrna/tcr] Update docstring
  biopipen/ns/scrna.py
  biopipen/ns/scrna_basic.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
Due: flake8

🎨[scrna.MarkersFinder] Try include more genes in volcano plot (pwwang/immunopipe#17)
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

🎨 [scrna.CellsDistribution] Give better error message in CellsDistribution if group value not found (pwwang/immunopipe#16)
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

🚚 [tcr.TCRClusterStats] Rename TCRClusteringStats to TCRClusterStats (pwwang/immunopipe#15)
  biopipen/ns/tcr.py
  biopipen/reports/tcr/TCRClusterStats.svelte
  biopipen/scripts/tcr/TCRClusterStats.R
  tests/test_tcr/CloneSizeQQPlot/test.py
  tests/test_tcr/TCRClusterStats/run.env
  tests/test_tcr/TCRClusterStats/test.py
Due: flake8

🔖 0.20.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🐛 [scrna_basic/cnvkit_pipeline] Use pipen.utils.is_loading_pipeline() instead of from_pipen_board()
  biopipen/ns/cnvkit_pipeline.py
  biopipen/ns/scrna_basic.py
Due: flake8

🔖 0.20.1 (#86)
  biopipen/__init__.py
  biopipen/ns/cnvkit_pipeline.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_basic.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  biopipen/reports/tcr/TCRClusterStats.svelte
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/tcr/TCRClusterStats.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_tcr/CloneSizeQQPlot/test.py
  tests/test_tcr/TCRClusterStats/run.env
  tests/test_tcr/TCRClusterStats/test.py
Due: flake8, versionchecker

🚑 [scrna.SeuratPreparing] Fix % in docstring to crash the pipeline
  biopipen/ns/scrna.py
Due: flake8

🔖 0.20.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.20.2 (#87)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🐛 [scrna.SeuratPreparing] Fix when cell_qc is None
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

🎨 [scrna.MarkersFinder] Add margins to volcano plot
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

🐛 [scrna.SeuratClusterStats] Fix `ident` in cases of `envs.dimplots` not working
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
Due: flake8

🔖 0.20.3
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.20.3 (#88)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratPreparing.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🐛 [scrna.SeuratClusterStats] Fix toc not saved correct (causing report not including the right sections)
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

🔖 0.20.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.20.4 (#89)
  biopipen/__init__.py
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🏗️ [tcr.CloneResidency] Rename `envs.sample_groups` to `envs.section` to be consistent with other processes
  biopipen/ns/tcr.py
Due: flake8

🏗️ [tcr.CloneResidency] Allow additional metadata from input for more flexible case definition (i.e. analysis for specific seurat clusters)
  biopipen/ns/tcr.py
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

📝 [scrna.ScFGSEA] Remove the link in the summary of the docstring (since they are not transformed in the report)
  biopipen/ns/scrna.py
Due: flake8

⬆️ Bump pipen-board to 0.13.3
  poetry.lock
Due: none

🎨 [tcr.CDR3AAPhyschem] Give better error message when wrong group items are given
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

🔖 0.20.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.20.5 (#91)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  biopipen/scripts/tcr/CloneResidency.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

✨ [scrna.MarkersFinder] Allow to set assay for `Seurat::FindMarkers()`
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

✨ [scrna.CellsDistribution] Add venn/upset plot for overlapping cell groups in different cases
  biopipen/reports/scrna/CellsDistribution.svelte
  biopipen/scripts/scrna/CellsDistribution.R
  tests/test_scrna/CellsDistribution/test.py
Due: flake8
