Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

fix(delim.SampleInfo): fix report
  biopipen/scripts/delim/SampleInfo.R
  biopipen/utils/misc.R
Due: flake8

refactor(tcr.ScRepLoading): improve sample handling and combine TCR data
  biopipen/scripts/tcr/ScRepLoading.R
Due: flake8

deps: add R package biopipen.utils to conda environment
  tests/conda/env_biopipen.yml
Due: none

refactor(scrna.MarkersFinder): refactor to use R packages biopipen.utils and plotthis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

feat(core.filters): support 'x:y' to be converted to R sequence by `r()`
  biopipen/core/filters.py
Due: flake8

feat(core.filters): add chdir to source_r
  biopipen/core/filters.py
Due: flake8

chore(scrna.MarkersFinder): separate figures for enrichment gene sets
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

refactor(scrna.SeuratClusterStats): adopt scplotter for visualization
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-clustree.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-hists.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

fix(scrna.ScFGSEA): fix case gmtfile not working
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

fix(TopExpressingGenes): add InlineNotification component to TopExpressingGenes.svelte
  biopipen/reports/scrna/TopExpressingGenes.svelte
Due: flake8

feat(scrna.SeuratPreparing): add `envs.species` so that `percent.mt`, `percent.ribo`, `percent.hb` and `percent.plat` can be correctly calculated for mouse
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing-common.R
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

fix(scrna.SeuratClusterStats): fix `kind` not being added to the figure file name for plots of features
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

0.32.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(ci): abondon mambaforge as miniforge-variant in CI workflow
  .github/workflows/ci.yml
Due: none

fix(ci): replace mamba with conda for environment creation in CI workflow
  .github/workflows/ci.yml
Due: none

feat(scrna.SeuratPreparing): support `percent.mt`, `percent.ribo`, `percent.hb` and `percent.plat` for mouse
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing-common.R
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

0.32.1 (#155)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/reports/scrna/TopExpressingGenes.svelte
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratPreparing-common.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat(bam): add BamSort process for sorting BAM files with samtools or sambamba
  biopipen/ns/bam.py
  biopipen/scripts/bam/BamSort.py
Due: flake8

feat(SampleInfo): enhance plotting functionality and reporting integration
  biopipen/scripts/delim/SampleInfo.R
  tests/test_delim/delim/test.py
Due: flake8

0.32.1 (#155) (#156)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/scripts/scrna/SeuratPreparing-common.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(tests): enable r-scplotter dependency and adjust pipeline reporting
  tests/conda/env_biopipen.yml
  tests/test_delim/delim/test.py
Due: none

fix(ci): update conda environment creation command for consistency
  .github/workflows/ci.yml
Due: none

fix(mkdocs): update logo path in configuration file
  docs/img/logo.png
  docs/img/rtd-logo.png
  mkdocs.yml
Due: none

fix(tests): disable reporting in pipeline function for SeuratClusterStats test
  tests/test_scrna/SeuratClusterStats/test.py
Due: none

refactor(scrna.SeuratPreparing): using biopipen.utils to refactor the script
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing-common.R
  biopipen/scripts/scrna/SeuratPreparing-doublet_detection.R
  biopipen/scripts/scrna/SeuratPreparing.R
  tests/test_scrna/SeuratPreparing/test.py
Due: flake8

chore(scrna.SeuratClusterStats): remove redundant 'png' format from image reporting
  biopipen/scripts/scrna/SeuratClusterStats-clustree.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

fix(scrna.MarkersFinder): update function call from RunDEAnalysis to RunSeuratDEAnalysis
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

fix(scrna.SeuratClusterStats): add validation for save_data parameter and update tests
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

tests(scrna.ScCATCH): fix tests
  tests/test_scrna/ScCATCH/test.py
Due: none

feat(tcr.ClonalStats): add description for the figures in report
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/ClonalStats.R
  biopipen/scripts/tcr/ScRep-common.R
Due: flake8

feat(protein): add PDB2Fasta class for converting PDB files to FASTA format
  biopipen/ns/protein.py
  biopipen/scripts/protein/PDB2Fasta.py
  tests/conda/env_biopipen.yml
  tests/test_protein/PDB2Fasta/run.env
  tests/test_protein/PDB2Fasta/test.py
Due: flake8

feat(protein.PDB2Fasta): add wrap parameter to PDB2Fasta for customizable line length in FASTA output
  biopipen/ns/protein.py
  biopipen/scripts/protein/PDB2Fasta.py
  tests/test_protein/PDB2Fasta/test.py
Due: flake8

feat(scrna.SeuratClusterStats): add 'descr' variable extraction and reporting functionality
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

chore: update dependencies to latest versions
  poetry.lock
Due: none

feat: add PDF output option for SampleInfo plots
  biopipen/scripts/delim/SampleInfo.R
  tests/test_delim/RowsBinder/test.py
Due: flake8

feat: add PDF output options for violin and scatter plots in Seurat preparation scripts
  biopipen/scripts/scrna/SeuratPreparing-common.R
  biopipen/scripts/scrna/SeuratPreparing-doublet_detection.R
  tests/test_scrna/SeuratPreparing/test.py
Due: flake8

feat: add PDF output options for volcano, dotplot, venn, and upset plots; update filters for type hints
  biopipen/core/filters.py
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

feat: add PDF output option for Enrichr plots in TopExpressingGenes script
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8
