Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

✨ [tcr.TCRClustering] Save the souce code of GIANA with this package
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/GIANA/GIANA.py
  biopipen/scripts/tcr/GIANA/GIANA4.py
  biopipen/scripts/tcr/GIANA/Imgt_Human_TRBV.fasta
  biopipen/scripts/tcr/GIANA/query.py
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

✨ [tcr.TCRClusteringStats] Allow multiple cases
  biopipen/ns/tcr.py
  biopipen/reports/tcr/TCRClusteringStats.svelte
  biopipen/scripts/tcr/TCRClusteringStats.R
Due: flake8

⬆️ Bump pipen-board to 0.11
  poetry.lock
  pyproject.toml
Due: versionchecker

📝 [tcr.ImmunarchLoading] Update docstring
  biopipen/ns/tcr.py
Due: flake8

✨ [utils] Add mutate_helpers to identify expanded, collapsed, emerged and vanished clones
  biopipen/utils/mutate_helpers.R
  tests/test_utils/mutate_helpers/run.env
  tests/test_utils/mutate_helpers/test.py
Due: flake8

🚨 Fix some linting issues
  biopipen/utils/misc.py
  tests/test_utils/gene/test.py
Due: flake8

🐛 [utils/misc.R] Fix list_setdefault and list_update when value is NULL
  biopipen/utils/misc.R
Due: flake8

🐛 [scrna.TopExpressionGenes] Fix expanding cases
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

✨ [scrna.SeuratClustering] Allow envs.FindIntegrationAnchors.reference to be a string separated by comma
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

✨ [scrna.ScFGSEA] Allow multiple cases
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

✨ [scrna.MarkersFinder] Allow to use mutate_helpers in envs.mutaters
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

🎨 [scrna.CellsDistribution] Redesign envs to support multiple cases
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

💄 [tcr.Immunarch] Fix report generation for rarefraction analysis
  biopipen/reports/tcr/Immunarch.svelte
Due: flake8

🔧 [tcr.Immunarch] Change envs to be less error prone
  biopipen/ns/tcr.py
Due: flake8

💄 [scrna.CellsDistribution] Fix reports
  biopipen/reports/scrna/CellsDistribution.svelte
Due: flake8

💄 [scrna.ScFGSEA] Fix reports
  biopipen/reports/scrna/ScFGSEA.svelte
Due: flake8

✅ [tests] Fix tests
  tests/test_scrna/CellsDistribution/test.py
  tests/test_scrna/ScFGSEA/test.py
  tests/test_tcr/TCRClusteringStats/test.py
Due: none

🔖 0.16.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.16.1 (#65)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/reports/scrna/CellsDistribution.svelte
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/reports/tcr/TCRClusteringStats.svelte
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/tcr/GIANA/GIANA.py
  biopipen/scripts/tcr/GIANA/GIANA4.py
  biopipen/scripts/tcr/GIANA/Imgt_Human_TRBV.fasta
  biopipen/scripts/tcr/GIANA/query.py
  biopipen/scripts/tcr/TCRClustering.R
  biopipen/scripts/tcr/TCRClusteringStats.R
  biopipen/utils/misc.R
  biopipen/utils/misc.py
  biopipen/utils/mutate_helpers.R
  docs/CHANGELOG.md
  docs/style.css
  poetry.lock
  pyproject.toml
  tests/test_scrna/CellsDistribution/test.py
  tests/test_scrna/ScFGSEA/test.py
  tests/test_tcr/TCRClusteringStats/test.py
  tests/test_utils/gene/test.py
  tests/test_utils/mutate_helpers/run.env
  tests/test_utils/mutate_helpers/test.py
Due: flake8, versionchecker

💄 [report] Separate enrichr_report
  biopipen/reports/utils/gsea.liq
Due: flake8

💄 [scrna.CellsDistribution] Reorganize report
  biopipen/ns/scrna.py
  biopipen/reports/scrna/CellsDistribution.svelte
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

💄 [scrna.MarkersFinder] Reorganize report
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

💄 [scrna.ScFGSEA] Reorganize report
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

💄 [scrna.TopExpressingGenes] Reorganize report
  biopipen/reports/scrna/TopExpressingGenes.svelte
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

🚨 [scrna.TopExpressingGenes] Fix linting issues in script
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

🚨 Add .lintr for R lintr
  .lintr
Due: none

🔧 [scrna.MarkersFinder] Set envs.prefix_each to True by default
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

🔧 [scrna.TopExpressingGenes] Set envs.prefix_each to True by default
  biopipen/ns/scrna.py
Due: flake8

⬆️ Bump pipen-board to 0.11.1
  poetry.lock
Due: none

✨ [scrna.MetaMarkers] Add proc
  biopipen/ns/scrna.py
  biopipen/reports/scrna/MetaMarkers.svelte
  biopipen/scripts/scrna/MetaMarkers.R
Due: flake8

🔖 0.16.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.16.2 (#66)
  .lintr
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/reports/scrna/CellsDistribution.svelte
  biopipen/reports/scrna/MetaMarkers.svelte
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/reports/scrna/TopExpressingGenes.svelte
  biopipen/reports/utils/gsea.liq
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

📝 [scrna_metabolic_landscape] Update docstring
  biopipen/ns/scrna_metabolic_landscape.py
Due: flake8

✨ [tcr.CDR3AAPhyschem] Allow envs.subset_cols to be separated by comma
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

✨ [scrna.CellTypeAnnotation] Add `envs.newcol` to keep original idents
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
Due: flake8

🔖 0.16.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.16.3 (#67)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/tcr/CDR3AAPhyschem.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🚑 [scrna.CellTypeAnnotation] Hotfix passing `envs.newcol`
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
Due: flake8

🔖 0.16.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker
