Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

feat(scrna.SeuratClusterStats): add 'add_box' parameter to ngenes_defaults for enhanced plotting options
  biopipen/ns/scrna.py
Due: flake8

chore(scrna.SeuratClusterStats): remove commented default variable assignments for dimplots, features, and ngenes
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
Due: flake8

1.2.2 (#215)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

docs(scrna.SeuratMap2Ref): add detailed documentation for preparing Seurat reference for mapping
  biopipen/ns/scrna.py
Due: flake8

docs(scrna.SeuratPreparing): enhance documentation for RNAData column paths and loading methods
  biopipen/ns/scrna.py
Due: flake8

docs(scrna.SeuratPreparing): add missing newline in docstring for clarity (immunopipe collapse followed options)
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.MarkersFinder): make `envs.error` control RunSeuratDEAnalysis errors
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(scrna.TopExpressingGenes): add error handling for subsetting cells
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

feat(scrna.ScFGSEA): add error handling for subsetting and filtering in ScFGSEA process
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

feat(scrna.PseudoBulkDEG): make `envs.error` control AggregateExpressionPseudobulk errors
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/PseudoBulkDEG.R
Due: flake8

chore(scrna.MarkersFinder): defaut `envs.error` to True
  biopipen/ns/scrna.py
Due: flake8

fix(scrna.PseudoBulkDEG): set default `envs.error` handling to True
  biopipen/ns/scrna.py
Due: flake8

test(scrna): add SubsetError case for Seurat process tests
  tests/test_scrna/Seurat/test.py
Due: none

chore: bump pipen-report to 1.1.3 and pipen-poplog to 1.1.6
  poetry.lock
Due: none

1.2.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.2.3 (#216)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

1.2.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

chore(scrna): default `envs.error` flag to false for TopExpressingGenes, ScFGSEA, PseudoBulkDEG and MarkersFinder
  biopipen/ns/scrna.py
Due: flake8

1.2.4 (#217)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

chore(scrna.MarkersFinder): update plot dimensions for Dot Plot visualization
  biopipen/ns/scrna.py
Due: flake8

chore(scrna.SeuratClusterStats): make 3d dimplots share assets
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  tests/test_scrna/Seurat/test.py
Due: flake8

chore(deps): bump pipen-board to 1.1.1 and pipen-report to 1.2.0
  poetry.lock
Due: none

1.2.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.2.5 (#218)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

chore: bump xqute to 2.0.9 and pipen to 1.1.13
  poetry.lock
Due: none

docs(tcr.CDR3Clustering): add clarification on usage for TCR and BCR clustering
  biopipen/ns/tcr.py
Due: flake8

fix(Makefile): update merge commit grep pattern in version rule
  Makefile
Due: none

1.2.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.2.6 (#219)
  Makefile
  biopipen/__init__.py
  biopipen/ns/tcr.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: remove redanduant changelog records
  docs/CHANGELOG.md
Due: none

feat(scrna.SeuratPreparing): add features parameter to LoadSeuratAndPerformQC for renaming features
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

ci: update CACHE_NUMBER for conda environment to force updates
  .github/workflows/ci.yml
Due: none

1.2.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(deps): update r-base to version 4.4 in conda environment
  tests/conda/env_biopipen.yml
Due: none

chore(deps): update meme and motifbreakr to use pwwang channel
  tests/conda/env_biopipen.yml
Due: none

chore(deps): add r-stringfish to resolve shared object loading issue
  tests/conda/env_biopipen.yml
Due: none

1.2.7
  docs/CHANGELOG.md
Due: none

1.2.7 (#220)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
Due: flake8, versionchecker

chore(docker): update Dockerfiles to use mambaorg/micromamba:2.5.0 and add cleanup scripts
  docker/base/Dockerfile
  docker/cellranger_pipeline/Dockerfile
  docker/cellranger_pipeline/env.yml
  docker/cleanup.list
  docker/cleanup.py
  docker/cnvkit_pipeline/Dockerfile
  docker/cnvkit_pipeline/env.yml
  docker/pipseeker_pipeline/Dockerfile
  docker/pipseeker_pipeline/env.yml
  docker/test/Dockerfile
  docker/test/Dockerfile.deps
  tests/conda/env_biopipen.yml
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
