Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

chore(tests): removed duplicate r-tidyseurat dependency
  tests/conda/env_biopipen.yml
Due: none

test(scrna): added contam_correction and qc_plots to Seurat tests
  tests/test_scrna/Seurat/test.py
Due: none

chore(ci): reset CI cache number to 1
  .github/workflows/ci.yml
Due: none

1.3.8
  docs/CHANGELOG.md
  uv.lock
Due: none

1.3.8 (#233)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
  docs/CHANGELOG.md
  tests/conda/env_biopipen.yml
  tests/test_scrna/Seurat/test.py
  uv.lock
Due: flake8, versionchecker

fix(ci): prevent docker workflow from triggering 3x on release
  .github/workflows/docker.yml
Due: none

chore: use uniformed access to plott data by plotthis v0.12.2
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/tcr/ClonalStats.R
Due: flake8

feat(scrna.CellCellCommunicationPlots): add ligand and receptor expression parameters for linked heatmap
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  tests/test_scrna/CellCellCommunication/test.py
Due: flake8

1.3.9
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

test: add PipenShowSessionInfoAfterFail plugin to display session info on test failure
  biopipen/core/testing.py
Due: flake8

test(scrna.ModuleScoreCalculator): add nbin parameter to SomeModule configuration
  tests/test_scrna/Seurat/test.py
Due: none

test(gene.GeneNameConversion): update _testing_proc to accept pipen as parameter for better flexibility
  tests/test_gene/GeneNameConversion/test.py
Due: none

chore(deps): bump pipen-runinfo to 1.1.4
  uv.lock
Due: none

chore: update CHANGELOG for version 1.3.9
  docs/CHANGELOG.md
Due: none

1.3.9 (#234)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/core/testing.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/tcr/ClonalStats.R
  docs/CHANGELOG.md
  tests/test_gene/GeneNameConversion/test.py
  tests/test_scrna/CellCellCommunication/test.py
  tests/test_scrna/Seurat/test.py
  uv.lock
Due: flake8, versionchecker

feat(scrna.CellCellCommunicationPlots): improve default ligand and receptor expression columns determination
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
Due: flake8

feat(scrna.Slingshot): enhance dims parameter handling for Slingshot analysis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/Slingshot.R
Due: flake8

1.3.10
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

1.3.10 (#235)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  biopipen/scripts/scrna/Slingshot.R
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

feat(scrna.Slingshot): add support for multiple cases in Slingshot analysis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/Slingshot.R
  tests/test_scrna/Slingshot/test.py
Due: flake8

1.3.11
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

1.3.11 (#236)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/Slingshot.R
  docs/CHANGELOG.md
  tests/test_scrna/Slingshot/test.py
Due: flake8, versionchecker

fix(scrna.SeuratMap2Ref): make .Rds legal as reference file
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

feat(scrna.CellCellCommunication): add support for multiple cases in CellCellCommunication analysis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunication.py
  tests/test_scrna/CellCellCommunication/test.py
Due: flake8

1.3.12
  biopipen/__init__.py
  docs/CHANGELOG.md
  uv.lock
Due: flake8, versionchecker

1.3.12 (#237)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunication.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
  docs/CHANGELOG.md
  tests/test_scrna/CellCellCommunication/test.py
  uv.lock
Due: flake8, versionchecker

fix(scrna.CellCellCommunication): add monkey-patch for anndata.AnnData to handle dtype keyword
  biopipen/scripts/scrna/CellCellCommunication.py
Due: flake8

feat(scrna.CellCellCommunication): enhance case handling with additional split options
  biopipen/scripts/scrna/CellCellCommunication.py
  tests/test_scrna/CellCellCommunication/test.py
Due: flake8

1.3.13
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

1.3.13 (#238)
  biopipen/__init__.py
  biopipen/scripts/scrna/CellCellCommunication.py
  docs/CHANGELOG.md
  tests/test_scrna/CellCellCommunication/test.py
Due: flake8, versionchecker

feat(scrna.MQuadVcf): add MQuadVcf process for clonal substructure discovery using mitochondrial variants in VCF files
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MQuadVcf.py
Due: flake8

chore: bump up dependencies
  uv.lock
Due: none

feat(misc.File2Proc): enhance File2Proc to support file copying or symlinking based on envs.copy flag
  biopipen/ns/misc.py
  tests/test_misc/File2Proc/test.py
Due: flake8

chore: bump pipen to 1.1.17
  uv.lock
Due: none

fix(vcf.BcftoolsView): correct warning message formatting for samples_file handling
  biopipen/scripts/vcf/BcftoolsView.py
Due: flake8

feat(scrna.CellTypeAnnotation): add support for cell-level annotations
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cell.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/Seurat/data/celltype_annotation.tsv
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(tcr.ScRepCombiningExpression): add support for cell ID transformation functions
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/ScRepCombiningExpression.R
Due: flake8

style(test.bed): format code for better readability and consistency
  tests/test_bed/BedConsensus/test.py
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
