Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

⬆️ Update deps
  poetry.lock
Due: none

🔖 0.17.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.17.1 (#73)
  biopipen/__init__.py
  biopipen/ns/csv.py
  biopipen/ns/delim.py
  biopipen/scripts/csv/BindRows.py
  biopipen/scripts/delim/RowsBinder.R
  biopipen/scripts/delim/SampleInfo.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/utils/mutate_helpers.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_delim/RowsBinder/data/A.txt
  tests/test_delim/RowsBinder/data/B.txt
  tests/test_delim/RowsBinder/run.env
  tests/test_delim/RowsBinder/test.py
  tests/test_utils/mutate_helpers/test.py
Due: flake8, versionchecker

📝 [delim.SampleInfo] Add report
  biopipen/ns/delim.py
  biopipen/reports/delim/SampleInfo.svelte
  tests/test_delim/RowsBinder/test.py
Due: flake8

🔖 0.17.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

✅ [delim.SampleInfo] Fix test
  tests/test_delim/RowsBinder/test.py
Due: none

🔖 0.17.2 (#74)
  biopipen/__init__.py
  biopipen/ns/delim.py
  biopipen/reports/delim/SampleInfo.svelte
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen-report to 0.12.8
  poetry.lock
Due: none

📝 [delim.SampleInfo] Show h1 in report only when stats specified
  biopipen/reports/delim/SampleInfo.svelte
  tests/test_delim/RowsBinder/test.py
Due: flake8

📝 [delim.SampleInfo] Fix parsing excluded_cols in report
  biopipen/reports/delim/SampleInfo.svelte
  tests/test_delim/RowsBinder/test.py
Due: flake8

🔖 0.17.3 (#75)
  biopipen/reports/delim/SampleInfo.svelte
  poetry.lock
  tests/test_delim/RowsBinder/test.py
Due: flake8

🔖 0.17.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

✨ [tcr.TCRClustering] Add `TCR_Cluster_Size` in `out.clusterfile`
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

💥 [scrna.SeuratClusterStats] Rename `envs.exprs` to `envs.features`
  biopipen/ns/scrna.py
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/scripts/scrna/SeuratClusterStats.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

🔖 0.17.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.17.4 (#76)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/tcr/TCRClustering.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8, versionchecker

👷 Do not run CI build for publish job
  .github/workflows/ci.yml
Due: none

🎨 [tcr.TCRClustering] Add `TCR_Cluster_Size1` in addition to `TCR_Cluster_Size` in `out.clusterfile` to represent #cells and #CDR3 seqs
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

⬆️ Bump up dependencies
  poetry.lock
Due: none

🔖 0.17.5 (#77)
  .github/workflows/ci.yml
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TCRClustering.R
  poetry.lock
Due: flake8

🔖 0.17.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

👷 Fix CI for publishing the package
  .github/workflows/ci.yml
Due: none

⬆️ Bump pipen-board to 0.11.5
  poetry.lock
Due: none

🚑 [scrna.SeuratClusterStats] Adjust default width and height for plots
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

🚑 [scrna.CellTypeAnnotation] Keep order of clusters after hitype annotation
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
Due: flake8

🔖 0.17.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.17.6 (#78)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🚑 [tcr.ImmunarchLoading] Fix when `Sample` is the only column in meta
  biopipen/scripts/tcr/ImmunarchLoading.R
Due: flake8

✅ [tests] Allow pass FORCE=true to run local-only tests
  Makefile
  tests/conda/run_test.sh
Due: none

✨ [tcr.TESSA] Add process and test
  biopipen/ns/tcr.py
  biopipen/reports/tcr/TESSA.svelte
  biopipen/scripts/tcr/TESSA.R
  biopipen/scripts/tcr/TESSA_source/Atchley_factors.csv
  biopipen/scripts/tcr/TESSA_source/BriseisEncoder.py
  biopipen/scripts/tcr/TESSA_source/MCMC_control.R
  biopipen/scripts/tcr/TESSA_source/TrainedEncoder.h5
  biopipen/scripts/tcr/TESSA_source/fixed_b.csv
  biopipen/scripts/tcr/TESSA_source/initialization.R
  biopipen/scripts/tcr/TESSA_source/post_analysis.R
  biopipen/scripts/tcr/TESSA_source/real_data.R
  biopipen/scripts/tcr/TESSA_source/update.R
  biopipen/scripts/tcr/TESSA_source/utility.R
  tests/test_bed/Bed2Vcf/test.py
  tests/test_tcr/TESSA/data/expdata.txt.gz
  tests/test_tcr/TESSA/data/tcrdata.RDS
  tests/test_tcr/TESSA/run.env
  tests/test_tcr/TESSA/test.py
Due: flake8

✅ [tests] Fix receiving VERBOSE and FORCE in test script
  .github/workflows/ci.yml
  tests/conda/run_test.sh
Due: none

🐛 [tcr.TESSA] Fix when expression is loaded from a seurat object
  biopipen/scripts/tcr/TESSA.R
  biopipen/scripts/tcr/TESSA_source/post_analysis.R
Due: flake8

⬆️ Bump pipen-board to 0.11.7
  poetry.lock
Due: none

🔖 0.17.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🔖 0.17.7 (#79)
  .github/workflows/ci.yml
  Makefile
  biopipen/__init__.py
  biopipen/ns/tcr.py
  biopipen/reports/tcr/TESSA.svelte
  biopipen/scripts/tcr/ImmunarchLoading.R
  biopipen/scripts/tcr/TESSA.R
  biopipen/scripts/tcr/TESSA_source/Atchley_factors.csv
  biopipen/scripts/tcr/TESSA_source/BriseisEncoder.py
  biopipen/scripts/tcr/TESSA_source/MCMC_control.R
  biopipen/scripts/tcr/TESSA_source/TrainedEncoder.h5
  biopipen/scripts/tcr/TESSA_source/fixed_b.csv
  biopipen/scripts/tcr/TESSA_source/initialization.R
  biopipen/scripts/tcr/TESSA_source/post_analysis.R
  biopipen/scripts/tcr/TESSA_source/real_data.R
  biopipen/scripts/tcr/TESSA_source/update.R
  biopipen/scripts/tcr/TESSA_source/utility.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/run_test.sh
  tests/test_bed/Bed2Vcf/test.py
  tests/test_tcr/TESSA/data/expdata.txt.gz
  tests/test_tcr/TESSA/data/tcrdata.RDS
  tests/test_tcr/TESSA/run.env
  tests/test_tcr/TESSA/test.py
Due: flake8, versionchecker

🚑 [tcr.TESSA] Fix type annotation for envs.max_iter
  biopipen/ns/tcr.py
Due: flake8

✨ [core.filters] Add `skip` argument to `r()`
  biopipen/core/filters.py
  tests/test_core/filters/test.py
Due: flake8

⬆️ Bump pipen to 0.11
  poetry.lock
  pyproject.toml
Due: versionchecker

🔧 Update .gitignore
  .gitignore
Due: none

🐛 [delim.SampleInfo] Allow `unique:` prefix for `on` in stats cases; fix sample order in plots
  biopipen/ns/delim.py
  biopipen/scripts/delim/SampleInfo.R
Due: flake8
