Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

chore: update dependencies
  poetry.lock
Due: none

fix: fix tests
  biopipen/ns/gsea.py
  biopipen/ns/tcr.py
  biopipen/scripts/gsea/FGSEA.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/tcr/TCRClustering.R
  tests/conda/env_biopipen.yml
  tests/test_gsea/FGSEA/test.py
  tests/test_gsea/GSEA/test.py
  tests/test_rnaseq/Simulation/test.py
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_snp/MatrixEQTL/run.env
  tests/test_tcr/CDR3AAPhyschemTESSA/test.py
  tests/test_utils/gene/test.py
Due: flake8

chore: move cyvcf2 to pip in environment file
  tests/conda/env_biopipen.yml
Due: none

fix(core.testing): prevent passing 'report' plugin directly to get_pipeline
  .github/workflows/ci.yml
  biopipen/core/testing.py
  docker/cellranger_pipeline/.cellranger.Dockerfile
Due: flake8

chore(docker/cellranger): update base image to biopipen/cellranger:9.0.1
  docker/cellranger_pipeline/Dockerfile
Due: none

chore(docker): refactor Dockerfiles to streamline base image usage and dependency installation
  .github/workflows/docker.yml
  docker/base/Dockerfile
  docker/cellranger_pipeline/Dockerfile
  docker/cellranger_pipeline/env.yml
  docker/test/Dockerfile
Due: none

fix(docker): update Dockerfiles to streamline dependency installation and improve structure
  docker/base/Dockerfile
  docker/cellranger_pipeline/Dockerfile
  docker/cellranger_pipeline/env.yml
  docker/test/Dockerfile
Due: none

fix(cnvkit): update report paths and improve file handling in Svelte templates; refactor Dockerfile and environment configuration
  biopipen/ns/cnvkit.py
  biopipen/reports/cnvkit/CNVkitDiagram.svelte
  biopipen/reports/cnvkit/CNVkitHeatmap.svelte
  biopipen/reports/cnvkit/CNVkitScatter.svelte
  biopipen/scripts/cnvkit/CNVkitGuessBaits.py
  biopipen/scripts/cnvkit/CNVkitHeatmap.py
  biopipen/scripts/cnvkit/CNVkitReference.py
  docker/cnvkit_pipeline/Dockerfile
  docker/cnvkit_pipeline/cnvkit-export.patch
  docker/cnvkit_pipeline/env.yml
Due: flake8

docs(scrna_metabolic): update CLI command and improve documentation for inputs and configuration options
  biopipen/reports/scrna/DimPlots.svelte
  biopipen/reports/snp/PlinkCallRate.svelte
  biopipen/reports/snp/PlinkFreq.svelte
  biopipen/reports/snp/PlinkHWE.svelte
  biopipen/reports/snp/PlinkHet.svelte
  biopipen/reports/snp/PlinkIBD.svelte
  biopipen/reports/utils/gsea.liq
  docs/pipelines/scrna_metabolic.md
Due: flake8

chore(deps): update xqute version to 0.9.4
  poetry.lock
Due: none

fix(cnvkit): remove unused patch for cbs and clean up Dockerfile
  docker/cnvkit_pipeline/Dockerfile
  docker/cnvkit_pipeline/cnvkit-cbs.patch
Due: none

0.34.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(tcr.ClonalStats): update envs assignment to handle todot parameter
  biopipen/scripts/tcr/ClonalStats.R
Due: flake8

chore(deps): bump up pipen to 0.17.8
  .gitignore
  poetry.lock
Due: none

fix(SeuratClusterStats): fix when features are given as a dict (used in heatmap)
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

feat(MarkersFinder): add enrichment plot across all subsets by each or all ident.1 in group.by
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(ScFGSEA): add support for all pathway plots for all subsets by each
  biopipen/ns/scrna.py
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

chore(TopExpressingGenes): adjust plot height for bar plots
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

docs(SeuratPreparing): update docs for support loading loom files
  biopipen/ns/scrna.py
Due: flake8

0.34.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.1 (#163)
  .gitignore
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/tcr/ClonalStats.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(scrna.ScFGSEA): rename allpathway_plots to alleach_plots
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

chore(scrna/tcr): update parameter naming for consistency
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/tcr/ScRepCombiningExpression.R
Due: flake8

chore(scrna.TopExpressingGenes): use common report template
  biopipen/ns/scrna.py
  biopipen/reports/scrna/TopExpressingGenes.svelte
Due: flake8

feat(scrna): add PseudoBulkDEG process for differential gene expression analysis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/PseudoBulkDEG.R
  tests/conda/env_biopipen.yml
Due: flake8

test(scrna): merge tests for Seurat processes to avoid repeatedly load pbmc3k dataset
  tests/test_scrna/CellTypist/test.py
  tests/test_scrna/LoomTo10X/test.py
  tests/test_scrna/ScCATCH/run.env
  tests/test_scrna/ScCATCH/test.py
  tests/test_scrna/ScFGSEA/run.env
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna/Seurat/data/tcell.sccatch.RDS
  tests/test_scrna/Seurat/run.env
  tests/test_scrna/Seurat/test.py
  tests/test_scrna/SeuratClusterStats/run.env
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_scrna/SeuratFilter/run.env
  tests/test_scrna/SeuratFilter/test.py
  tests/test_scrna/SeuratMap2Ref/run.env
  tests/test_scrna/SeuratMap2Ref/test.py
  tests/test_scrna/SeuratPreparing/run.env
  tests/test_scrna/SeuratPreparing/test.py
  tests/test_scrna/SeuratSubset/run.env
  tests/test_scrna/SeuratSubset/test.py
Due: none

chore(test): update pipeline function to remove report enabling
  tests/test_scrna/Seurat/test.py
Due: none

ci(docker): update Dockerfiles to use dynamic REF_NAME argument
  .github/workflows/docker.yml
  docker/cellranger_pipeline/Dockerfile
  docker/cnvkit_pipeline/Dockerfile
  docker/test/Dockerfile
Due: none

fix(test.Seurat): update pipeline function to set starts for PrepareSeurat
  tests/test_scrna/Seurat/test.py
Due: none

test(scrna): move map2ref tests out of tests/scrna/Seurat for being tested locally only
  tests/test_scrna/Seurat/test.py
  tests/test_scrna/SeuratMap2Ref/run.env
  tests/test_scrna/SeuratMap2Ref/test.py
Due: none

0.34.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

test(scrna): add set.seed to PrepareSeurat script
  tests/test_scrna/Seurat/test.py
Due: none

ci: update build condition and add caching for test intermediates
  .github/workflows/ci.yml
Due: none

fix(ci): remove unnecessary condition for saving test intermediate files - Simplified the condition for saving test intermediate files in CI workflow
  .github/workflows/ci.yml
  docs/CHANGELOG.md
Due: none

ci: enable caching for test intermediate files
  .github/workflows/ci.yml
Due: none

ci: enhance cache management for test intermediates
  .github/workflows/ci.yml
Due: none
