Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

0.27.9 (#139)
  biopipen/__init__.py
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TCRClusterStats.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_tcr/TCRClusterStats/test.py
Due: flake8, versionchecker

tests: add tests for CellTypeAnnotation using scCATCH
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  tests/test_scrna/ScCATCH/data/tcell.sccatch.RDS
  tests/test_scrna/ScCATCH/run.env
  tests/test_scrna/ScCATCH/test.py
Due: flake8

feat: add docker image building for cellranger pipeline
  .github/workflows/docker.yml
  biopipen/ns/cellranger.py
  biopipen/scripts/cellranger/CellRangerCount.py
  biopipen/scripts/cellranger/CellRangerVdj.py
  docker/cellranger_pipeline/.gitignore
  docker/cellranger_pipeline/CellrangerPipeline.config.toml
  docker/cellranger_pipeline/Dockerfile
  docker/cellranger_pipeline/entry.sh
  docker/cellranger_pipeline/make-examples.sh
Due: flake8

choir(cellranger_pipeine): install npm in docker
  docker/cellranger_pipeline/Dockerfile
Due: none

chore: Update Dockerfile to use Ubuntu base image and install necessary dependencies
  docker/cellranger_pipeline/Dockerfile
  docker/cellranger_pipeline/make-examples.sh
Due: none

chore: fix docker image building
  docker/cellranger_pipeline/Dockerfile
Due: none

chore(cellranger.CellRangerCount): add `envs.create_bam` to control whether create bams
  biopipen/ns/cellranger.py
  biopipen/scripts/cellranger/CellRangerCount.py
Due: flake8

docker(cellranger_pipeline): fix docker image building
  docker/cellranger_pipeline/.cellranger.Dockerfile
  docker/cellranger_pipeline/Dockerfile
Due: none

fix(cellranger.CellRangerCount): fix for cellranger v7
  biopipen/ns/cellranger.py
  biopipen/scripts/cellranger/CellRangerCount.py
Due: flake8

docs(cellranger_pipeline): add docs
  docs/pipelines/cellranger_pipeline.md
  mkdocs.yml
Due: none

docs(cellranger_pipeline): add docs
  docs/pipelines/cellranger_pipeline.md
Due: none

0.28.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(cellranger): change `in.sample` to `in.id` as it is supposed to be
  biopipen/ns/cellranger.py
  biopipen/scripts/cellranger/CellRangerCount.py
  biopipen/scripts/cellranger/CellRangerVdj.py
Due: flake8

chore(cnvkit_pipeline): update entry.sh for running via pipen-board in container
  docker/cnvkit_pipeline/entry.sh
Due: none

fix(cellranger_pipeline): fix running the pipeline with pipen-board in container
  biopipen/ns/cellranger_pipeline.py
  docker/cellranger_pipeline/.gitignore
  docker/cellranger_pipeline/board.toml
  docker/cellranger_pipeline/entry.sh
Due: flake8

docs(cellranger_pipeline): update sample ids in input
  docs/pipelines/cellranger_pipeline.md
Due: none

chore(cellranger.CellRangerSummary): set the default value of `report_paging` to 8
  biopipen/ns/cellranger.py
Due: flake8

choir(cellranger_pipeline): add test for vdj pipeline for the docker image
  docker/cellranger_pipeline/CellrangerCountPipeline.config.toml
  docker/cellranger_pipeline/CellrangerVdjPipeline.config.toml
  docker/cellranger_pipeline/make-examples.sh
Due: none

chore(cellranger_pipeline): update CellrangerVdjPipeline.config.toml with correct reference
  docker/cellranger_pipeline/CellrangerVdjPipeline.config.toml
Due: none

docs: update CHANGELOG
  docs/CHANGELOG.md
Due: none

chore(cellranger.CellRangerVdj): update regex to fix web_summary.html script tag
  biopipen/scripts/cellranger/CellRangerVdj.py
Due: flake8

0.28.0 (#140)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/ns/cellranger.py
  biopipen/ns/cellranger_pipeline.py
  biopipen/ns/scrna.py
  biopipen/scripts/cellranger/CellRangerCount.py
  biopipen/scripts/cellranger/CellRangerVdj.py
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  docker/cellranger_pipeline/.cellranger.Dockerfile
  docker/cellranger_pipeline/.gitignore
  docker/cellranger_pipeline/CellrangerCountPipeline.config.toml
  docker/cellranger_pipeline/CellrangerVdjPipeline.config.toml
  docker/cellranger_pipeline/Dockerfile
  docker/cellranger_pipeline/board.toml
  docker/cellranger_pipeline/entry.sh
  docker/cellranger_pipeline/make-examples.sh
  docker/cnvkit_pipeline/entry.sh
  docs/CHANGELOG.md
  docs/pipelines/cellranger_pipeline.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/test_scrna/ScCATCH/data/tcell.sccatch.RDS
  tests/test_scrna/ScCATCH/run.env
  tests/test_scrna/ScCATCH/test.py
Due: flake8, versionchecker

fix(scrna.CellsDistribution): fix `devpars` and `hm_devpars` not working
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

0.28.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

tests: add r-sccatch to conda environment biopipen-r
  tests/conda/env_r.yml
Due: none

0.28.1 (#141)
  biopipen/__init__.py
  biopipen/scripts/scrna/CellsDistribution.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
Due: flake8, versionchecker

refactor(utils.gene): redesign `gene_name_conversion` functions for both python and R
  biopipen/utils/gene.R
  biopipen/utils/gene.py
Due: flake8

tests(utils.gene): update tests for `gene_name_conversion`
  tests/test_gene/GeneNameConversion/test.py
  tests/test_utils/gene/test.py
Due: none

choir(misc.Str2File): add default for `in.name`
  biopipen/ns/misc.py
Due: flake8

refactor(gene.GeneNameConversion): use R for implementation
  biopipen/ns/gene.py
  biopipen/scripts/gene/GeneNameConversion.R
  biopipen/scripts/gene/GeneNameConversion.py
Due: flake8

choir(gene.GeneNameConversion): allow `envs.notfound` to be `ignore` or `skip` when `envs.output` is `append` or `replace`
  biopipen/ns/gene.py
  biopipen/scripts/gene/GeneNameConversion.R
Due: flake8

tests(gene.GeneNameConversion): use right environment for tests
  tests/conda/env_r.yml
  tests/test_gene/GeneNameConversion/run.env
  tests/test_utils/gene/run.env
Due: none

docs(MatrixEQTL): fix choice items of `envs.model`
  biopipen/core/config.toml
  biopipen/ns/snp.py
Due: flake8

feat(snp): add PlinkFromVcf
  biopipen/ns/snp.py
  biopipen/scripts/snp/PlinkFromVcf.py
Due: flake8

feat(snp): add Plink2GTMat for converting PLINK files to genotype matrix
  biopipen/ns/snp.py
  biopipen/scripts/snp/Plink2GTMat.py
Due: flake8

choir(utils.misc.py): flush output for command printing in run_command function
  biopipen/utils/misc.py
Due: flake8

feat(utils.misc.R): add run_command function
  biopipen/utils/misc.R
Due: flake8

fix(utils.reference): avoid index file to be created again for the same infile for `tabix_index` function
  biopipen/utils/reference.py
Due: flake8

feat(snp): add PlinkIBD analysis for identity by descent
  biopipen/ns/snp.py
  biopipen/reports/snp/PlinkIBD.svelte
  biopipen/scripts/snp/PlinkIBD.R
Due: flake8

feat(snp): add PlinkHWE for Hardy-Weinberg Equilibrium test
  biopipen/ns/snp.py
  biopipen/reports/snp/PlinkHWE.svelte
  biopipen/scripts/snp/PlinkHWE.R
Due: flake8
