Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

feat(snp): add PlinkHet for calculating sample heterozygosity
  biopipen/ns/snp.py
  biopipen/reports/snp/PlinkHet.svelte
  biopipen/scripts/snp/PlinkHet.R
Due: flake8

feat(snp): add PlinkCallRate for calculating call rate of samples and variants
  biopipen/ns/snp.py
  biopipen/reports/snp/PlinkCallRate.svelte
  biopipen/scripts/snp/PlinkCallRate.R
Due: flake8

tests(snp): add tests for plink related processes
  tests/conda/env_r.yml
  tests/test_snp/Plink/data/sample.vcf.gz
  tests/test_snp/Plink/run.env
  tests/test_snp/Plink/test.py
Due: none

tests(snp): disable report generation for plink related tests
  tests/test_snp/Plink/test.py
Due: none

tests: add python package mygene to conda environment biopipen-r
  tests/conda/env_r.yml
Due: none

feat(gene): add GenePromoters for retrieving gene promoter regions and tests for it
  biopipen/ns/gene.py
  biopipen/scripts/gene/GenePromoters.R
  tests/conda/env_r.yml
  tests/test_gene/GenePromoters/run.env
  tests/test_gene/GenePromoters/test.py
Due: flake8

deps: update pipen-filters to version 0.13
  poetry.lock
  pyproject.toml
Due: versionchecker

feat(bcftools): add BcftoolsView process for viewing, subsetting, and filtering VCF files
  biopipen/ns/bcftools.py
  biopipen/scripts/bcftools/BcftoolsView.py
Due: flake8

feat(bed): add BedtoolsIntersect process for finding the intersection of two BED files
  biopipen/ns/bed.py
  biopipen/scripts/bed/BedtoolsIntersect.py
Due: flake8

feat(utils.reference): allow `tabix_index` to index infile directly
  biopipen/utils/reference.py
Due: flake8

feat(bcftools.BcftoolsSort): allow sort contigs based on a chrom size file
  biopipen/ns/bcftools.py
  biopipen/scripts/bcftools/BcftoolsSort.py
Due: flake8

feat(BcftoolsFilter): allow indexing output file
  biopipen/ns/bcftools.py
  biopipen/scripts/bcftools/BcftoolsFilter.py
Due: flake8

feat(bcftools.BcftoolsAnnotate): allow providing annotation file as input file and allow indexing output file
  biopipen/ns/bcftools.py
  biopipen/scripts/bcftools/BcftoolsAnnotate.py
Due: flake8

feat(bcftools): add run_bcftools function for running bcftools with given arguments
  biopipen/scripts/bcftools/BcftoolsView.py
  biopipen/scripts/bcftools/utils.py
Due: flake8

feat(gene.GenePromoters): add envs.sort to sort the output file
  biopipen/ns/gene.py
  biopipen/scripts/gene/GenePromoters.R
Due: flake8

choir(utils.misc.py): print command with a new line for run_command function
  biopipen/scripts/__init__.py
  biopipen/scripts/bcftools/__init__.py
  biopipen/scripts/bed/BedtoolsMerge.py
  biopipen/utils/misc.py
Due: flake8

tests: add tests for bcftools processes
  tests/test_bcftools/Bcftools/data/anno.vcf
  tests/test_bcftools/Bcftools/data/regions.bed
  tests/test_bcftools/Bcftools/run.env
  tests/test_bcftools/Bcftools/test.py
Due: none

choir: remove __init__.py in scripts
  biopipen/scripts/__init__.py
  biopipen/scripts/bcftools/__init__.py
Due: flake8

BREAKING: merge namespace bcftools to vcf
  biopipen/ns/bcftools.py
  biopipen/ns/vcf.py
  biopipen/scripts/vcf/BcftoolsAnnotate.py
  biopipen/scripts/vcf/BcftoolsFilter.py
  biopipen/scripts/vcf/BcftoolsSort.py
  biopipen/scripts/vcf/BcftoolsView.py
  biopipen/scripts/vcf/bcftools_utils.py
  pyproject.toml
  tests/test_vcf/Bcftools/data/anno.vcf
  tests/test_vcf/Bcftools/data/regions.bed
  tests/test_vcf/Bcftools/run.env
  tests/test_vcf/Bcftools/test.py
Due: flake8, versionchecker

chore(snp.Plink2GTMat): remove unused import in Plink2GTMat.py
  biopipen/scripts/snp/Plink2GTMat.py
Due: flake8

feat(utils.misc.R): add support for foreground execution in run_command function
  biopipen/scripts/snp/PlinkCallRate.R
  biopipen/scripts/snp/PlinkHWE.R
  biopipen/scripts/snp/PlinkHet.R
  biopipen/scripts/snp/PlinkIBD.R
  biopipen/utils/misc.R
Due: flake8

feat(snp): add PlinkFilter process for filtering PLINK files
  biopipen/ns/snp.py
  biopipen/scripts/snp/PlinkFilter.py
Due: flake8

feat(snp): add PlinkFreq process for calculating and filtering by allele frequencies
  biopipen/ns/snp.py
  biopipen/reports/snp/PlinkFreq.svelte
  biopipen/scripts/snp/PlinkFreq.R
  tests/test_snp/Plink/test.py
Due: flake8

feat(regulator): add the namespace and MotifScan to use fimo for motif scanning
  biopipen/core/config.toml
  biopipen/ns/regulation.py
  biopipen/scripts/regulation/MotifScan.py
  pyproject.toml
  tests/test_regulation/MotifScan/data/motif1.txt
  tests/test_regulation/MotifScan/data/motif2.txt
  tests/test_regulation/MotifScan/data/motifdb.txt
  tests/test_regulation/MotifScan/data/seq.fa
  tests/test_regulation/MotifScan/run.env
  tests/test_regulation/MotifScan/test.py
Due: flake8, versionchecker

deps: add meme to env_bio.yml for tests
  biopipen/ns/scrna.py
  tests/conda/env_bio.yml
Due: flake8

feat(regulation): add MotifAffinityTest to test the affinity of motifs to the sequences and the affinity change due the mutations.
  biopipen/ns/regulation.py
  biopipen/scripts/regulation/MotifAffinityTest.R
  biopipen/scripts/regulation/MotifAffinityTest_AtSNP.R
  biopipen/scripts/regulation/MotifAffinityTest_MotifBreakR.R
  biopipen/scripts/regulation/atSNP.R
  biopipen/scripts/regulation/motifBreakR.R
  tests/conda/env_r.yml
  tests/test_regulation/MotifAffinityTest/data/variants.bed
  tests/test_regulation/MotifAffinityTest/run.env
  tests/test_regulation/MotifAffinityTest/test.py
  tests/test_regulation/MotifScan/data/motif2.txt
  tests/test_regulation/MotifScan/data/motifdb.txt
Due: flake8

tests(regulation): specify envs.genome for MotifAffinityTest
  tests/test_regulation/MotifAffinityTest/test.py
Due: none

tests: do not download reference data for hg38
  tests/data/prep_reference.py
Due: none

feat(tests): add lazy loading for reference data download and --local flag for downloading more references locally
  tests/data/prep_reference.py
Due: none

feat(plot): add to for support for plotting Manhattan plots
  biopipen/ns/plot.py
  biopipen/scripts/plot/Manhattan.R
Due: flake8

tests(plot.Manhattan): add tests
  .gitignore
  tests/conda/env_r.yml
  tests/test_plot/Manhattan/run.env
  tests/test_plot/Manhattan/test.py
Due: none

feat(plot.Manhattan): fix `envs.rescale` not working
  biopipen/ns/plot.py
  biopipen/scripts/plot/Manhattan.R
  tests/test_plot/Manhattan/test.py
Due: flake8

tests: update bioconductor-ggmanh dependency to version 1.9.6
  tests/conda/env_r.yml
Due: none

feat(vcf.BcftoolsSort): allow `~` to be used as user home directory in `envs.chrsize`
  biopipen/scripts/vcf/BcftoolsSort.py
Due: flake8

feat(bed.BedtoolsIntersect): allow `~` to be used as user home directory in `envs.chrsize`
  biopipen/scripts/bed/BedtoolsIntersect.py
Due: flake8

feat(plot.Manhattan): update chromosome plotting logic to use 'auto' for `envs.chroms`
  biopipen/ns/plot.py
  biopipen/scripts/plot/Manhattan.R
Due: flake8

deps: bump pipen-board to 0.15.2
  poetry.lock
Due: none

feat(stats.MetaPvalue): add `envs.keep_single` flag to keep the single p-values
  biopipen/ns/stats.py
  biopipen/scripts/stats/MetaPvalue.R
Due: flake8

feat(stats): add MetaPvalue1 to combine pvalues from the same file
  biopipen/ns/stats.py
  biopipen/scripts/stats/MetaPvalue1.R
  tests/conda/env_r.yml
  tests/test_stats/MetaPvalue/data/pvalues-single.txt
  tests/test_stats/MetaPvalue/data/pvalues1.txt
  tests/test_stats/MetaPvalue/data/pvalues2.txt
  tests/test_stats/MetaPvalue/data/pvalues3.txt
  tests/test_stats/MetaPvalue/run.env
  tests/test_stats/MetaPvalue/test.py
Due: flake8

feat(tcr.TCRClusterStats): fix `envs.shared_clusters.heatmap_meta` being broken by `envs.shared_clusters.sample_order`
  biopipen/scripts/tcr/TCRClusterStats.R
  tests/test_tcr/TCRClusterStats/test.py
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
