Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

feat(scrna.MarkersFinder): allow set max number of genes to plot in dotplots
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.MarkersFinder): support setting detailed arguments for overlapping plots
  biopipen/ns/scrna.py
Due: flake8

depr(scrna.MarkersFinder): remove `use_presto` as it's used by Seurat v5 by default
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.MarkersFinder): support `prefix_group`
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.ScFGSEA): support `prefix_each`
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.RadarPlots): support `prefix_each` and `subset`
  biopipen/ns/scrna.py
Due: flake8

tests: pin scipy to 1.8.0 for clustcr in env_r.yml
  tests/conda/env_r.yml
Due: none

choir(tcr.TCRClustering): print session info for clustcr script
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

docs: add more detailed docs for `envs.section`
  biopipen/ns/scrna.py
  biopipen/utils/common_docstrs.py
Due: flake8

deps: bump pipen to 0.14.5
  poetry.lock
Due: none

tests: refactor tests for core.filters using unittest
  tests/test_core/filters/test.py
Due: none

tests: refactor tests for utils.common_docstrs using unittest
  tests/test_utils/common_docstrs/test.py
Due: none

tests: refactor tests for utils.gene using unittest
  tests/test_utils/gene/test.py
Due: none

tests: refactor tests for utils.mutate_helpers using unittest
  tests/test_utils/mutate_helpers/test.py
Due: none

tests: refactor tests for utils.single_cell using unittest
  tests/test_utils/single_cell/test.py
Due: none

0.27.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

choir(scrna.MarkersFinder): flatten toc when no `section` and no `ident-1` specified
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

enh(scrna.SeuratMap2Ref): rename `envs.name` to `envs.ident` and `envs.MapQuery.refdata` is not required anymore.
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
  tests/conda/env_r.yml
  tests/data/prep_reference.py
  tests/test_scrna/SeuratMap2Ref/run.env
  tests/test_scrna/SeuratMap2Ref/test.py
Due: flake8

tests: keep scrna.SeuratMap2Ref test local only
  tests/test_scrna/SeuratMap2Ref/run.env
Due: none

0.27.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.27.1 (#131)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_r.yml
  tests/data/prep_reference.py
  tests/test_scrna/SeuratMap2Ref/run.env
  tests/test_scrna/SeuratMap2Ref/test.py
Due: flake8, versionchecker

fix(scrna.RadarPlots): fix mutaters not working
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

choir(utils.misc): update level to DEBUG for python logger (leaving the filtering to pipen-poplog)
  biopipen/utils/misc.py
Due: flake8

refactor(snp.PlinkSimulation): make the configuration files as input so multiple simulations could run in parallel easily.
  biopipen/ns/snp.py
  biopipen/scripts/snp/PlinkSimulation.py
Due: flake8

feat(tcr.CloneResidency): support `envs.upset_ymax` to set the max value of y axis in upset bar plot.
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

fix(utils.misc.py): inherit envs when `env` passed for `run_command()`
  biopipen/utils/misc.py
Due: flake8

feat(tcr.TCRDock): add process
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/TCRDock.py
Due: flake8

choir(stats.DiffCoexpr): change log_warn to debug for some verbosal logging messages
  biopipen/scripts/stats/DiffCoexpr.R
Due: flake8

0.27.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.27.2 (#132)
  biopipen/__init__.py
  biopipen/ns/snp.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/RadarPlots.R
  biopipen/scripts/snp/PlinkSimulation.py
  biopipen/scripts/stats/DiffCoexpr.R
  biopipen/scripts/tcr/CloneResidency.R
  biopipen/scripts/tcr/TCRDock.py
  biopipen/utils/misc.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

deps: temporary fix copier breaks with pyyaml-include v2 (copier-org/copier#1568)
  poetry.lock
  pyproject.toml
Due: versionchecker

deps: bump pipen-poplog to 0.1.1
  poetry.lock
  pyproject.toml
Due: versionchecker

deps: bump pipen-poplog to 0.1.2
  poetry.lock
  pyproject.toml
Due: versionchecker

0.27.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

choir(scrna.ScFGSEA): Skip cases when no cells found (pwwang/immunopipe#50)
  biopipen/scripts/scrna/ScFGSEA.R
  tests/test_scrna/ScFGSEA/test.py
Due: flake8

choir(scrna.MarkersFinder): Skip cases when no cells found (pwwang/immunopipe#50)
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

choir(scrna.MetaMarkers): Skip cases when no cells found (pwwang/immunopipe#50)
  biopipen/scripts/scrna/MetaMarkers.R
Due: flake8

docs: update CHANGELOG
  docs/CHANGELOG.md
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
