Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

0.34.10 (#172)
  .github/workflows/ci.yml
  .gitignore
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna_metabolic_landscape): fix report paging issue
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeatures.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayActivity.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.svelte
Due: flake8

docs(scrna.MarkersFinder): fix links in docs
  biopipen/ns/scrna.py
Due: flake8

0.34.11
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.34.11 (#174)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeatures.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayActivity.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.svelte
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: update Dockerfiles to use multi-stage building
  docker/base/Dockerfile
  docker/test/Dockerfile
Due: none

0.34.12
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.34.12 (#175)
  biopipen/__init__.py
  docker/base/Dockerfile
  docker/test/Dockerfile
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.SeuratClusterStats): improve error handling in feature plotting when save_code (due to upgrade to ggplot2 v4)
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

feat(MarkersFinder): use scplotter::MarkersPlot (wrapped by biopipen.utils::VizDEGs to visualize markers
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

ci: update CACHE_NUMBER for conda environment to force install latest dependencies
  .github/workflows/ci.yml
Due: none

0.34.13
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.13 (#176)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.CellTypeAnnotation): update logging for celltypist command execution
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
Due: flake8

fix(scrna.MarkersFinder): fix FindMarkers calling with subsetting when sctransform was used
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

0.34.14
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.14 (#177)
  biopipen/__init__.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

feat(scrna.MarkersFinder): allow using other metadata columns from object for enrichment plot of all subcases
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

chore: update dependencies
  poetry.lock
Due: none

0.34.15
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.15 (#178)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.SeuratClusterStats): update documentation without mentioning table
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.SeuratPreparing): allow seurat object as input
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

chore: bump pipen to 0.17.21
  poetry.lock
Due: none

0.34.16
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.16 (#179)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

docs: improve documentation for SeuratPreparing to make sure new lines in code blocks
  biopipen/ns/scrna.py
Due: flake8

fix(scrna.MarkersFinder): enhance error handling in enrichment plotting and fix all-enrich plots when ident_1 is NULL
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

chore(ci): change CACHE_NUMBER for conda environment to ensure latest biopipen.utils.R is installed
  .github/workflows/ci.yml
Due: none

fix(web.Download): improve URL handling in output filename generation
  biopipen/ns/web.py
Due: flake8

docs(scrna.SeuratClusterStats): enhance documentation for cluster statistics plots
  biopipen/ns/scrna.py
Due: flake8

fix(tcr.ClonalStats): replace deprecated ClonalDynamicsPlot with ClonalStatPlot
  biopipen/scripts/tcr/ClonalStats.R
Due: flake8

docs(tcr.ClonalStats): add exapmle configurations and plots
  biopipen/ns/tcr.py
Due: flake8

docs(scrna.ScFGSEA): add examples and usage details for GSEA plots
  biopipen/ns/scrna.py
Due: flake8

docs(CellCellCommunication): add example output for ligand-receptor interactions
  biopipen/ns/scrna.py
Due: flake8

docs(CellCellCommunicationPlots): add examples for various plot types
  biopipen/ns/scrna.py
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
