Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

scrna.RadarPlots: Add `breakdown` and `test` to break down the cell distribution and run statistic test on the fractions
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

scrna.SeuratClusterStats: Fix data binding for avgheatmap in features
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

scrna.SeuratClusterStats: Remove box for stats
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

0.23.0
  docs/CHANGELOG.md
  poetry.lock
Due: none

scrna.RadarPlots: fix error when generating report for tests when breakdown is not provided
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

0.23.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.23.1 (#107)
  biopipen/__init__.py
  biopipen/scripts/scrna/RadarPlots.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

scrna.RadarPlots: fix test error when not enough observations
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

scrna.RadarPlots: add `n` and `mean` to test table
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

0.23.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.23.2 (#108)
  biopipen/__init__.py
  biopipen/scripts/scrna/RadarPlots.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

tcr.ImmunarchLoading: change mode from single to paired by default
  biopipen/ns/tcr.py
Due: flake8

0.23.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.23.3 (#109)
  biopipen/__init__.py
  biopipen/ns/tcr.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

scrna.TopExpressingGenes: fix colnames while pulling average expression
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

scrna.CellsDistribution: fix when cells_by has multiple column names
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

scrna.CellTypeAnnotation: fix the order of the clusters for direct method
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
Due: flake8

scrna.SeuratClusterStats: add `position` options for bar plots for stats
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

scrna.RadarPlots: add `colors` to set the colors of the loops in radar and bar plots
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

tcr.Immunarch: add `split_by` and `split_order` to put subplots together in one single plots
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/Immunarch-diversity.R
Due: flake8

0.23.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.23.4 (#114)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/RadarPlots.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

scrna.SeuratClusterStats: fix when `frac` or `frac_ofall` is true and no `group-by` nor `split-by` is specified for `stats`
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

core.filters: fix when no enriched items found for report component `enrichr`
  biopipen/core/filters.py
Due: flake8

scrna.MarkersFinder: fix when no enriched items found for report component `enrichr`
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

scrna.MetaMarkers: fix when no enriched items found for report component `enrichr`
  biopipen/scripts/scrna/MetaMarkers.R
Due: flake8

scrna.TopExpressingGenes: fix when no enriched items found for report component `enrichr`
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

utils.gsea.R: fix when no enriched items found for `runEnrichr`
  biopipen/utils/gsea.R
Due: flake8

scrna_metabolic_landscript: fix adding report when ncores > 1
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

0.23.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.23.5 (#115)
  biopipen/__init__.py
  biopipen/core/filters.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/MetaMarkers.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/utils/gsea.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

scrna.SeuratPreparing: correct description of default assay in docstr
  biopipen/ns/scrna.py
Due: flake8

scrna.SeuratClustering: add related issue link to `PrepSCTFindMarkers`
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

scrna.SeuratPreparing: run also the normal normalization procedures when `SCTransform` is used (useful for visualization purposes on RNA assay)
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

scrna.ModuleScoreCalculator: document the names added by cell cycle score (pwwang/immunopipe#34)
  biopipen/ns/scrna.py
Due: flake8

feat: support url for gmtfile wherever GSEA is performed
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/utils/gsea.R
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
Due: flake8

scrna.SeuratPreparing: support sample names as `reference` for `IntegrateLayers`
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

tcr.Immunarch: add error message for empty filtered/subset data in diversity
  biopipen/scripts/tcr/Immunarch-diversity.R
Due: flake8

utils.gsea.R: fix file path in gsea.R
  biopipen/utils/gsea.R
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
