Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

🎨 [scrna.CellsDistribution] Use a different color palette
  biopipen/scripts/scrna/CellsDistribution.R
Due: flake8

🎨 [scrna.SeuratClusterStats] Warn about heatmap without downsampling
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

⬆️ Bump pipen-board to 0.9.1
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.15.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.15.2 (#63)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/reports/scrna/RadarPlots.svelte
  biopipen/reports/scrna/TopExpressingGenes.svelte
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/RadarPlots.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🚨 [core/testing] Remove unused importings
  biopipen/core/testing.py
Due: flake8

🎨 [scrna] Rename RNADir to RNAData for input data
  biopipen/ns/scrna_basic.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna/SeuratLoading.R
  biopipen/scripts/scrna/SeuratPreparing.R
  docs/pipelines/scrna_basic.md
  docs/pipelines/scrna_metabolic.md
Due: flake8

🎨 [tcr.Immunarch] Refactor and split into modules
  biopipen/reports/tcr/Immunarch.svelte
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

🎨 [scrna.CellTypeAnnotation] Rename CellTypeAnnotate to CellTypeAnnotation and add hitype
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotate-direct.R
  biopipen/scripts/scrna/CellTypeAnnotate-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotate.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/sctype.R
  docker/scrna_basic/example.json
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

🎨 [tcr.ImmunarchLoading] Make it compatible with immunarch 0.9
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/ImmunarchLoading.R
Due: flake8

💄 [docs] Update docs styles
  docs/style.css
Due: none

🎨 [scrna.MakersFinder] Support multiple cases
  biopipen/reports/scrna/MarkersFinder.svelte
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

🎨 [scrna.TopExpressionGenes] Support multiple cases
  biopipen/reports/scrna/TopExpressingGenes.svelte
  biopipen/scripts/scrna/TopExpressingGenes.R
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
Due: flake8

🐛 [scrna.RadarPlots] Fix section and devpars not passed to script
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

🐛 [scrna.SeuratClustering] Fix PCA on each sample
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

🎨 [scrna.ExprImpution] Rename from ExprImpute to ExprImputation
  biopipen/core/config.toml
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna/ExprImpute.R
  biopipen/scripts/scrna/ExprImpution-alra.R
  biopipen/scripts/scrna/ExprImpution-rmagic.R
  biopipen/scripts/scrna/ExprImpution-scimpute.R
  biopipen/scripts/scrna/ExprImpution.R
Due: flake8

👷 [scrna.CellTypeAnnotation] Add r-hitype to env_r.yml for testing
  tests/conda/env_r.yml
Due: none

⬆️ Bump pipen-board into 0.9.3
  poetry.lock
Due: none

🐛 [scrna.CellTypeAnnotation] Fix typos for hitype script
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
Due: flake8

🐛 [scrna.CellTypeAnnotation] Fix startsWith in hitype script
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
Due: flake8

⬆️ Bump pipen-board to 0.10
  docker/scrna_basic/env.yml
  docs/pipelines/scrna_basic.md
  poetry.lock
  pyproject.toml
Due: versionchecker

🎨 [scrna_basic] Rename `ScrnaBasicAnnotate` to `ScrnaBasicAnnotation`
  biopipen/ns/scrna_basic.py
Due: flake8

📝 [scrna_basic] Update docs
  .gitignore
  docker/scrna_basic/.gitignore
  docker/scrna_basic/Dockerfile
  docker/scrna_basic/ScrnaBasic.config.toml
  docker/scrna_basic/env.yml
  docker/scrna_basic/example.json
  docker/scrna_basic/make-examples.sh
  docker/scrna_basic/pipen-board.patch
  docs/pipelines/scrna_basic.md
  docs/pipelines/scrna_basic.png
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

📝 [scrna_basic] Fix docs
  .gitignore
  docker/scrna_basic/ScrnaBasic.config.toml
  docs/pipelines/ScrnaBasic.svg
  docs/pipelines/scrna_basic.md
Due: none

🐛 [cnvkit_pipeline] Fix docker image building
  docker/cnvkit_pipeline/.gitignore
  docker/cnvkit_pipeline/CNVkitPipeline.config.toml
  docker/cnvkit_pipeline/Dockerfile
  docker/cnvkit_pipeline/example.json
  docker/cnvkit_pipeline/make-examples.sh
  docker/cnvkit_pipeline/pipen-board.patch
Due: none

🐛 [gsea.GSEA] Replace `doc.string` with `doc_string` to avoid over parsing by pipen-args
  biopipen/ns/gsea.py
  biopipen/scripts/gsea/GSEA.R
Due: flake8

📝 [cnvkit_pipeline] Fix docs
  docker/cnvkit_pipeline/CNVkitPipeline.config.toml
  docs/pipelines/cnvkit_pipeline.md
Due: none

📝 [scrna_basic] Fix docs
  docker/cnvkit_pipeline/.gitignore
  docker/scrna_basic/ScrnaBasic.config.toml
  docker/scrna_basic/env.yml
  docs/pipelines/scrna_basic.md
Due: none

🐛 [gsea.GSEA] Fix `doc.string`
  biopipen/scripts/gsea/GSEA.R
Due: flake8

📝 [scrna_basic] Fix docs
  docs/pipelines/scrna_basic.md
Due: none

🔖 0.16.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🎨 [scrna.CellTypeAnnotation] Rename `seurat_clusters.old` to `seurat_clusters_old` to save the old clusters for sctype
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
Due: flake8

🐛 [scrna.CellTypeAnnotation] Fix saving annotated cell type to text file for sccatch
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
Due: flake8

🎨 [scrna.CellTypeAnnotation] Save old clustering to `seurat_clusters_old` for sccatch
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
Due: flake8

🎨 [scrna.CellTypeAnnotation] Save old clustering to `seurat_clusters_old` for direct method
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
Due: flake8

⬆️ Bump pipen-board to 0.10.1
  poetry.lock
Due: none

📝 [scrna.CellTypeAnnotation] Fix links in docs for sccatch
  biopipen/ns/scrna.py
Due: flake8

✨ [scrna.SeuratClusterStats] Allow `envs.exprs.genes` to be genes directly (separated by ",")
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

💄 [docs] Update API doc styles for dark mode
  docs/style.css
Due: none
