Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

1.1.5 (#203)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/tcr/ClonalStats.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

fix(scrna.MarkersFinder): ensure proper handling of metadata and factor conversion in case processing to keep order of "each"
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

fix(scrna.PseudoBulkDEG): ensure proper handling of metadata and factor conversion in case processing to keep order of "each"
  biopipen/scripts/scrna/PseudoBulkDEG.R
Due: flake8

fix(scrna.ScFGSEA): ensure proper factor conversion for 'each' variable in case processing to keep order
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

fix(scrna.TopExpressingGenes): ensure proper factor conversion for 'each' variable in case processing to keep order
  biopipen/scripts/scrna/TopExpressingGenes.R
Due: flake8

1.1.6
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.1.6 (#204)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

feat(scrna_metabolic_landscape): support multiple subset_by columns in Seurat object expansion
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

chore: bump pipen-runinfo to 1.1.2
  poetry.lock
Due: none

1.1.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.1.7 (#205)
  biopipen/__init__.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.SeuratClusterStats): fix dimplots for clusters from subclustering
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
Due: flake8

1.1.8
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.1.8 (#206)
  biopipen/__init__.py
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.SeuratSubClustering): correct argument references in RunSeuratSubClustering function
  biopipen/scripts/scrna/SeuratSubClustering.R
Due: flake8

fix(scrna.SeuratClusterStats): handle reduction assignment for subclustering based on plot type and identity
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

1.1.9
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.1.9 (#207)
  biopipen/__init__.py
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.SeuratClusterStats): ensure either 'group_by' or 'ident' is specified in dimplots, not both
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
Due: flake8

feat: add version update functionality to Makefile
  Makefile
Due: none

feat(plot): add DensityPlot class for generating density plots
  biopipen/ns/plot.py
  biopipen/scripts/plot/DensityPlot.R
  tests/test_plot/DensityPlot/run.env
  tests/test_plot/DensityPlot/test.py
Due: flake8

fix(stats.MetaPvalue1): adjust p-value adjustment calculation to use distinct id records
  biopipen/scripts/stats/MetaPvalue1.R
Due: flake8

fix(stats.MetaPvalue): adjust p-value adjustment calculation to use distinct records
  biopipen/scripts/stats/MetaPvalue.R
Due: flake8

1.1.10
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.1.10 (#208)
  Makefile
  biopipen/__init__.py
  biopipen/ns/plot.py
  biopipen/scripts/plot/DensityPlot.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/stats/MetaPvalue.R
  biopipen/scripts/stats/MetaPvalue1.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_plot/DensityPlot/run.env
  tests/test_plot/DensityPlot/test.py
Due: flake8, versionchecker

refactor(stats.MetaPvalue1): optimize meta-analysis computation and improve performance
  biopipen/scripts/stats/MetaPvalue1.R
Due: flake8

feat(tcr.ScRepLoading): improve handling of contig file formats for 10X data
  biopipen/scripts/tcr/ScRepLoading.R
Due: flake8

feat(scrna.SeuratPreparing): add cell cycle scoring functionality to Seurat object preparation
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

feat(scrna.SeuratPreparing): add cell cycle scoring arguments to SeuratPreparing
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.SeuratPreparing): set use_sct to FALSE by default for cell cycle scoring
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

fix(scrna.MarkersFinder): improve plot argument handling for subset by group and plot types
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(tcr.ScRepLoading): support loading from prefixed contig files
  biopipen/scripts/tcr/ScRepLoading.R
Due: flake8

fix(scrna.CellTypeAnnotation): fix sctype not working
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  tests/test_scrna/Seurat/data/ScTypeDB_short.xlsx
  tests/test_scrna/Seurat/test.py
Due: flake8

1.1.11
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.1.11 (#209)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/stats/MetaPvalue1.R
  biopipen/scripts/tcr/ScRepLoading.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/Seurat/data/ScTypeDB_short.xlsx
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

fix(tcr.ScRepLoading): remove records with IG? or TR? chains to prevent errors in combineTCR and combineBCR
  biopipen/scripts/tcr/ScRepLoading.R
Due: flake8

chore(scrna.SeuratClusterStats): set default options for pies plot for stats
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

fix(scrna.SeuratClusterStats): improve plot description handling when plot_type is not given
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8
