Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

feat(scrna.VireoSNP): add cell-clone assignment table to report
  biopipen/reports/scrna/VireoSNP.svelte
Due: flake8

chore: bump pipen-report to 1.0.2
  poetry.lock
Due: none

feat(scrna.SeuratMetadataMutater): add support for subsetting cells during metadata mutation
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna/SeuratMetadataMutater.R
Due: flake8

1.0.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.0.1 (#197)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/reports/scrna/MQuad.svelte
  biopipen/reports/scrna/VireoSNP.svelte
  biopipen/scripts/scrna/SeuratMetadataMutater.R
  biopipen/scripts/scrna/VireoSNP.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(deps): bump pipen-filters, pipen-verbose, pipen-poplog, pipen-board, pipen-runinfo, and pipen-log2file to version 1.1
  biopipen/core/filters.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

ci(deps): add numba dependency with version constraint for compatibility
  .github/workflows/ci.yml
Due: none

chore(deps): bump pipen-filters to version 1.1.2 for compatibility
  poetry.lock
  pyproject.toml
Due: versionchecker

fix: add LocalPath import to fix error with as_path filter
  biopipen/scripts/bed/BedConsensus.py
  biopipen/scripts/cellranger/CellRangerCount.py
  biopipen/scripts/cellranger/CellRangerVdj.py
  biopipen/scripts/cnvkit/CNVkitAccess.py
  biopipen/scripts/cnvkit/CNVkitAutobin.py
  biopipen/scripts/cnvkit/CNVkitGuessBaits.py
  biopipen/scripts/vcf/BcftoolsMerge.py
Due: flake8

test(scrna): handle installation error for pbmc3k dataset gracefully
  tests/test_scrna/Seurat/test.py
Due: none

chore: bump pipen-cli-run to 1.0.2
  poetry.lock
Due: none

1.1.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.1.0 (#198)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/core/filters.py
  biopipen/scripts/bed/BedConsensus.py
  biopipen/scripts/cellranger/CellRangerCount.py
  biopipen/scripts/cellranger/CellRangerVdj.py
  biopipen/scripts/cnvkit/CNVkitAccess.py
  biopipen/scripts/cnvkit/CNVkitAutobin.py
  biopipen/scripts/cnvkit/CNVkitGuessBaits.py
  biopipen/scripts/vcf/BcftoolsMerge.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

docs(tcr.ClonalStats): correct typo in documentation for ClonalStatsPlot reference
  biopipen/ns/tcr.py
Due: flake8

chore: bump xqute to 2.0.4
  poetry.lock
Due: none

1.1.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.1.1 (#199)
  biopipen/__init__.py
  biopipen/ns/tcr.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.MarkersFinder): correct database name formatting in enrichment plot processing
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

1.1.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.1.2 (#200)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.MarkersFinder): remove file extension from database names in enrichment processing
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

1.1.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.1.3 (#201)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.MarkersFinder): update database handling in enrichment plots in case it is from gmt files
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

chore(deps): clean up commented dependencies in env_biopipen.yml
  tests/conda/env_biopipen.yml
Due: none

ci(docker): set fetch-depth to 2 for actions/checkout
  .github/workflows/docker.yml
Due: none

chore(deps): update meme dependency to remove version constraint
  tests/conda/env_biopipen.yml
Due: none

fix(scrna.PseudoBulkDEG): update database handling in enrichment plots to use unique databases in case gmt files were used
  biopipen/scripts/scrna/PseudoBulkDEG.R
Due: flake8

chore: bump pipen to 1.1.4
  poetry.lock
Due: none

1.1.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

chore: bump pipen to 1.1.5
  docs/CHANGELOG.md
  poetry.lock
Due: none

chore: bump pipen to 1.1.6
  docs/CHANGELOG.md
  poetry.lock
Due: none

1.1.4 (#202)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
Due: flake8, versionchecker

feat(tcr.ClonalStats): add caching functionality for plots
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/ClonalStats.R
Due: flake8

fix(scrna.CellTypeAnnotation): ensure at least 2 clusters for cell type annotation for scCATCH
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
Due: flake8

feat(scrna.ScFGSEA): add caching functionality for GSEA results
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

feat(scrna.CellTypeAnnotation): enhance cell type annotation functionality to support dict input for direct annotations
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  tests/test_scrna/Seurat/test.py
Due: flake8

chore(deps): update python version comment and adjust r-matrixstats dependency
  tests/conda/env_biopipen.yml
Due: none

1.1.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
