Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

feat: add PDF output options for UMAP plots in SeuratMap2Ref script; update image handling in misc.liq
  biopipen/reports/utils/misc.liq
  biopipen/scripts/scrna/SeuratMap2Ref.R
  tests/test_scrna/SeuratMap2Ref/test.py
Due: flake8

feat: add PDF output options for cluster size distribution, shared clusters, and sample diversity plots; update plotting functions to handle multiple output formats
  biopipen/scripts/tcr/TCRClusterStats.R
  biopipen/utils/plot.R
  tests/test_tcr/TCRClusterStats/test.py
Due: flake8

feat: add PDF output options for various Immunarch scripts; enhance reporting with downloadable PDF files
  biopipen/scripts/tcr/Immunarch-basic.R
  biopipen/scripts/tcr/Immunarch-clonality.R
  biopipen/scripts/tcr/Immunarch-diversity.R
  biopipen/scripts/tcr/Immunarch-geneusage.R
  biopipen/scripts/tcr/Immunarch-kmer.R
  biopipen/scripts/tcr/Immunarch-overlap.R
  biopipen/scripts/tcr/Immunarch-spectratyping.R
  biopipen/scripts/tcr/Immunarch-tracking.R
  biopipen/scripts/tcr/Immunarch-vjjunc.R
  tests/test_tcr/Immunarch/test.py
Due: flake8

feat: add PDF output options for cluster size distribution, dimension plots, and feature plots; enhance reporting with downloadable PDF files
  biopipen/scripts/scrna/SeuratClusterStats-clustree.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-hists.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/tcr/TESSA.R
Due: flake8

feat: add PDF output options for radar and bar plots; enhance reporting with downloadable PDF files
  biopipen/scripts/scrna/RadarPlots.R
Due: flake8

feat: add PDF output options for CloneResidency script; enhance reporting with downloadable PDF files
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

feat: add PDF output options for GSEA table and enrichment plots; enhance reporting with downloadable PDF files
  biopipen/core/filters.py
  biopipen/utils/gsea.R
  tests/test_scrna/ScFGSEA/test.py
Due: flake8

feat: add PDF output options for pie charts, heatmaps, Venn plots, and UpSet plots; enhance reporting with downloadable PDF files
  biopipen/scripts/scrna/CellsDistribution.R
  tests/test_scrna/CellsDistribution/test.py
Due: flake8

feat: add PDF output options for Enrichr plots; enhance reporting with downloadable PDF files
  biopipen/scripts/scrna/MetaMarkers.R
Due: flake8

feat: add PDF output options for estimated coefficients and distribution plots; enhance reporting with downloadable PDF files
  biopipen/scripts/tcr/CDR3AAPhyschem.R
Due: flake8

chore: disable report in ScFGSEA tests
  tests/test_scrna/ScFGSEA/test.py
Due: none

chore: add gcc to cnvkit pipeline docker deps
  docker/cnvkit_pipeline/env.yml
Due: none

0.32.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

chore: add descriptive summaries for fgsea and enrichr results
  biopipen/core/filters.py
  biopipen/scripts/scrna/MarkersFinder.R
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

0.32.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: add descriptive summaries for fgsea and enrichr results (#158)
  biopipen/__init__.py
  biopipen/core/filters.py
  biopipen/scripts/scrna/MarkersFinder.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8, versionchecker

chore(snp.PlinkFromVcf): enhance type annotations and set default for keep_allele_order
  biopipen/scripts/snp/PlinkFromVcf.py
Due: flake8

feat(snp.Plink2GTMat): enhance genotype coding options and improve documentation
  biopipen/ns/snp.py
  biopipen/scripts/snp/Plink2GTMat.py
Due: flake8

feat(stats.ChowTest): separate groups in output and add pvalues for the coefficient for the subregressions
  biopipen/scripts/stats/ChowTest.R
Due: flake8

chore(dependencies): update pipen and related package versions in pyproject.toml
  poetry.lock
  pyproject.toml
Due: versionchecker

chore(dependencies): update pipen-verbose version to ^0.14 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: versionchecker

fix(utils/misc.py): enhance error messages in command execution for better debugging
  biopipen/utils/misc.py
Due: flake8

fix(web.Download): enhance output filename generation by adding URL decoding and improved slugification
  biopipen/ns/web.py
Due: flake8

fix(cellranger.CellRangerCount): fix inconsistency between in.id and in.fastqs
  biopipen/ns/cellranger.py
  biopipen/scripts/cellranger/CellRangerCount.py
Due: flake8

fix(cellranger.CellRangerSummary): use plotthis and biopipen.utils.R for plotting, logging and report content generation
  biopipen/scripts/cellranger/CellRangerSummary.R
Due: flake8

test(cellranger): add tests for CellRangerCount and CellRangerSummary with data download setup
  tests/test_cellranger/CellRanger/run.env
  tests/test_cellranger/CellRanger/test.py
Due: none

test: improve test output grouping for better readability
  Makefile
Due: none

chore: comment out dev-dependencies section in pyproject.toml
  Makefile
  pyproject.toml
Due: versionchecker

ci: add caching for conda environments to improve workflow efficiency
  .github/workflows/ci.yml
  poetry.lock
Due: none

test: update output file names for consistency and readability
  tests/test_gsea/FGSEA/test.py
  tests/test_gsea/GSEA/test.py
  tests/test_scrna/CellTypist/test.py
  tests/test_scrna/ScCATCH/test.py
  tests/test_scrna/SeuratPreparing/test.py
Due: none

chore(snp.PlinkFilter): remove unnecessary docstring from PlinkFilter script
  biopipen/scripts/snp/PlinkFilter.py
Due: flake8

ci: fix conda environment cache paths for consistency
  .github/workflows/ci.yml
Due: none

ci: update permissions for conda environments to ensure accessibility
  .github/workflows/ci.yml
Due: none

ci: update conda environment permissions and add TAR_OPTIONS for consistency
  .github/workflows/ci.yml
Due: none

feat(scrna.CellCellCommunication): add subset and split_by options for CellCellCommunication and update conversion logic
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunication.py
  poetry.lock
Due: flake8

ci: add CACHE_NUMBER to cache keys for conda environments and reference data
  .github/workflows/ci.yml
Due: none

fix(scrna.CellCellCommunication): update logger message formatting in CellCellCommunication script
  biopipen/scripts/scrna/CellCellCommunication.py
Due: flake8
