Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

chore(deps): update pipen version to 0.17.12
  poetry.lock
Due: none

chore(deps): bump pipen-poplog to 0.3.4
  poetry.lock
Due: none

chore(deps): update simplug to version 0.5.1
  poetry.lock
Due: none

chore(deps): bump pipen-args to 0.17.4 to void overriding the default plugin options
  poetry.lock
Due: none

0.34.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.34.6 (#168)
  biopipen/__init__.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/tcr/ScRepCombiningExpression.R
  biopipen/scripts/tcr/ScRepLoading.R
  docker/base/Dockerfile
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(deps): bump pipen-report to 0.23.8
  poetry.lock
Due: none

fix(scrna): update naming convention in expand_each function
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

fix(scrna.PseudoBulkDEG): improve error handling
  biopipen/scripts/scrna/PseudoBulkDEG.R
Due: flake8

chore(deps): bump version to 0.17.14
  poetry.lock
Due: none

0.34.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.7 (#169)
  biopipen/__init__.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.MarkersFinder): improve marker processing and enrichment checks when result has no markers/enrichments
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(scrna.PseudoBulkDEG): add ncores and cache parameters
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/PseudoBulkDEG.R
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.MarkersFinder): enhance heatmap plotting options
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

fix(scrna.ScFGSEA): improve handling of cases with NA gene ranks
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

chore: update package versions
  poetry.lock
Due: none

0.34.8
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.8 (#170)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

chore(deps): update dependencies
  poetry.lock
Due: none

fix(scrna.CellCellCommunication): handle numpy product attribute error
  biopipen/scripts/scrna/CellCellCommunication.py
Due: flake8

feat(ModuleScoreCalculator): add post mutaters functionality to allow compound modules based on added modules
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ModuleScoreCalculator.R
Due: flake8

docs(MarkersFinder): correct URL in documentation
  biopipen/ns/scrna.py
Due: flake8

feat(CellTypeAnnotation): add support for additional direct cell type annotations
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
Due: flake8

feat(scrna.MarkersFinder): enhance enrichment plot descriptions
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

chore(scrna.CellCellCommunicationPlots): set default case to "Cell-Cell Communication"
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
Due: flake8

feat(scrna.CellCellCommunicationPlots): add table output option for ccc data
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
Due: flake8

feat(regulatory.MotifAffinityTest): add variant column support in MotifAffinityTest so only paired variant-motif can be output
  biopipen/ns/regulatory.py
  biopipen/scripts/regulatory/MotifAffinityTest.R
  biopipen/scripts/regulatory/MotifAffinityTest_AtSNP.R
  biopipen/scripts/regulatory/MotifAffinityTest_MotifBreakR.R
  biopipen/scripts/regulatory/motifs-common.R
  tests/test_regulatory/MotifAffinityTest/test.py
  tests/test_regulatory/MotifScan/data/motif2.txt
Due: flake8

fix(regulatory.VariantMotifPlot): correct argument in ensure_regulator_motifs function
  biopipen/scripts/regulatory/VariantMotifPlot.R
Due: flake8

fix(scrna.ModuleScoreCalculator): correct variable name for post_mutaters
  biopipen/scripts/scrna/ModuleScoreCalculator.R
Due: flake8

0.34.9
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.34.9 (#171)
  biopipen/__init__.py
  biopipen/ns/regulatory.py
  biopipen/ns/scrna.py
  biopipen/scripts/regulatory/MotifAffinityTest.R
  biopipen/scripts/regulatory/MotifAffinityTest_AtSNP.R
  biopipen/scripts/regulatory/MotifAffinityTest_MotifBreakR.R
  biopipen/scripts/regulatory/VariantMotifPlot.R
  biopipen/scripts/regulatory/motifs-common.R
  biopipen/scripts/scrna/CellCellCommunication.py
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/ModuleScoreCalculator.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_regulatory/MotifAffinityTest/test.py
  tests/test_regulatory/MotifScan/data/motif2.txt
Due: flake8, versionchecker

ci: correct condition for deleting old test intermediate cache
  .github/workflows/ci.yml
Due: none

docs(scrna.SeuratPreparing): enhance cell_qc parameter description in SeuratPreparing
  biopipen/ns/scrna.py
Due: flake8

docs(scrna.ModuleScoreCalculator): update link format in ModuleScoreCalculator docstring
  biopipen/ns/scrna.py
Due: flake8

0.34.10
  .gitignore
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
