Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

fix(cellranger.CellRangerVdj): exclude additional environment variables in CLI arguments
  biopipen/core/filters.py
  biopipen/scripts/cellranger/CellRangerVdj.py
Due: flake8

ci(docker): change condition for checking changes to use logical AND
  .github/workflows/docker.yml
Due: none

fix(cellranger.CellRangerVdj): handle exceptions during output copying to ensure essential files exist
  biopipen/scripts/cellranger/CellRangerVdj.py
Due: flake8

feat(cellranger.CellRangerCount): handle output directory issues for mounted filesystems
  biopipen/ns/cellranger.py
  biopipen/scripts/cellranger/CellRangerCount.py
Due: flake8

feat(cellranger.CellRangerVdj): print version of cellranger in stdout
  biopipen/scripts/cellranger/CellRangerVdj.py
Due: flake8

docs(scrna): update dbs/gmtfile parameter description for enrichment analysis
  biopipen/ns/scrna.py
Due: flake8

0.34.21
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(deps): update Poetry version to 2.2.1 and adjust markers for Python 3.9 compatibility
  poetry.lock
Due: none

chore: bump biopipen-board to 0.17.3
  poetry.lock
Due: none

0.34.21 (#184)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/core/filters.py
  biopipen/ns/cellranger.py
  biopipen/ns/scrna.py
  biopipen/scripts/cellranger/CellRangerCount.py
  biopipen/scripts/cellranger/CellRangerVdj.py
  docker/base/Dockerfile
  docker/cellranger_pipeline/Dockerfile
  docker/cnvkit_pipeline/Dockerfile
  docker/test/Dockerfile
  docs/CHANGELOG.md
  docs/pipelines/cellranger_pipeline.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(scrna): update future.globals.maxSize to Inf for improved memory handling
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/SeuratSubClustering.R
Due: flake8

feat(tcr.CDR3Clustering): rename TCRClustering to CDR3Clustering and adopt BCR data
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/CDR3Clustering.R
Due: flake8

ci(docker): add cache deletion step to save space in Docker workflows
  .github/workflows/docker.yml
Due: none

0.34.22
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.34.22 (#185)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  biopipen/scripts/tcr/CDR3Clustering.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

docs(scrna.CellTypeAnnotation): clarify renaming of original identity column during cell type annotation
  biopipen/ns/scrna.py
Due: flake8

chore: bump up denpendencies in poetry.lock
  poetry.lock
Due: none

0.34.23
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.23 (#186)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat(tcr.ClonalStats): add save_data parameter to ClonalStats for saving plot data
  biopipen/ns/tcr.py
  biopipen/reports/tcr/ClonalStats.svelte
  biopipen/scripts/tcr/ClonalStats.R
  tests/test_tcr/ScRepertoire/test.py
Due: flake8

docs(scrna): add link to additional databases in multiple classes for enrichment analysis
  biopipen/ns/scrna.py
Due: flake8

0.34.24
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.24 (#187)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/reports/tcr/ClonalStats.svelte
  biopipen/scripts/tcr/ClonalStats.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_tcr/ScRepertoire/test.py
Due: flake8, versionchecker

fix(scrna.PseudoBulkDEG): change default assay from "RNA" to None so that default assay can be used by default
  biopipen/ns/scrna.py
Due: flake8

feat(scrna.ScFGSEA): add assay parameter to allow specification of assay in analysis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

fix(scrna.PseudoBulkDEG): add Seurat library to fix DefaultAssay not found
  biopipen/scripts/scrna/PseudoBulkDEG.R
Due: flake8

fix(scrna.CellTypeAnnotation): correct assignment of identities in rename_idents function
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/Seurat/test.py
Due: flake8

0.34.25
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.25 (#188)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

chore(docker): clean up conda package cache after installations
  docker/base/Dockerfile
  docker/cellranger_pipeline/Dockerfile
  docker/cnvkit_pipeline/Dockerfile
  docker/test/Dockerfile
Due: none

feat(scrna): add CellSNPLite and MQuad processes for single-cell SNP analysis
  biopipen/core/config.toml
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellSNPLite.py
  biopipen/scripts/scrna/MQuad.py
  tests/conda/env_biopipen.yml
Due: flake8

chore(docker): update CellRanger base image to version 10.0.0
  docker/cellranger_pipeline/Dockerfile
Due: none

fix(scrna.CellSNPLite): remove sampleid inference logic and related comments
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellSNPLite.py
Due: flake8

docs(cellranger_pipeline): update documentation for CellRanger pipeline to reflect new version
  docs/pipelines/cellranger_pipeline.md
Due: none

feat(scrna.CellSNPLite): update input parameters to use cellranger output directory
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellSNPLite.py
Due: flake8

feat(deps): add mquad to bioconda dependencies
  tests/conda/env_biopipen.yml
Due: none

chore(docker): update nodejs version to 22 and install all extras for poetry
  docker/base/Dockerfile
Due: none

chore(docker): clean up cache after installing dependencies
  docker/base/Dockerfile
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
