Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
exclude: '.+\.html$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^biopipen/.+$
        pass_filenames: false
        entry: flake8
        args: [biopipen]
        # types: [python]
        # language: system
        language: python
        additional_dependencies: [flake8]
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver biopipen/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|biopipen/__init__\.py$

0.22.3 (#100)
  biopipen/__init__.py
  biopipen/utils/mutate_helpers.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

utils.mutate_helpers: Update docs
  biopipen/utils/common_docstrs.py
Due: flake8

0.22.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.22.4 (#101)
  biopipen/__init__.py
  biopipen/utils/common_docstrs.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

cellranger.CellRangerCount: Update iframe height in report
  biopipen/reports/cellranger/CellRangerCount.svelte
Due: flake8

cellranger.CellRangerVdj: Update iframe height in report
  biopipen/reports/cellranger/CellRangerVdj.svelte
Due: flake8

Bump pipen-board to 0.13.9 (pipen-report to 0.16.1)
  poetry.lock
Due: none

0.22.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.22.5 (#102)
  biopipen/__init__.py
  biopipen/reports/cellranger/CellRangerCount.svelte
  biopipen/reports/cellranger/CellRangerVdj.svelte
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

Bump pipen-board to 0.13.10 (pipen-report to 0.16.2)
  poetry.lock
Due: none

0.22.6
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.22.6 (#103)
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

scrna_metabolic_landscape.MetabolicPathwayActivity: Fix `useNames = NA` being deprecated in matrixStats v1.2
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
Due: flake8

0.22.7
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.22.7 (#104)
  biopipen/__init__.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

scrna_metabolic_landscape.MetabolicPathwayActivity: Fix `useNames = NA` being deprecated in matrixStats v1.2 (one more location)
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
Due: flake8

scrna_metabolic_landscape.MetabolicPathwayActivity: Fix `useNames = NA` being deprecated in matrixStats v1.2 and other fixes
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
Due: flake8

0.22.8
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

scrna_metabolic_landscape.MetabolicFeaturesIntraSubset: Sort groups when being processed
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
Due: flake8

utils.gsea: Fix `useNames = NA` in rowSds for matrixStats v1.2
  biopipen/utils/gsea.R
Due: flake8

docs: Update CHANGELOG for 0.22.8
  docs/CHANGELOG.md
Due: none

utils.mutate_helpers: Fix tests
  tests/test_utils/mutate_helpers/test.py
Due: none

0.22.8 (#105)
  biopipen/__init__.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubset.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/utils/gsea.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_utils/mutate_helpers/test.py
Due: flake8, versionchecker

scrna.MarkersFinder: Add `envs.use_presto` to use presto to speed up finding markers
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

scrna.SeuratPreparing: Fix handling of empty path in RNAData
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

tcr.ImmunarchLoading: Allow empty path in TCRData column in input file
  biopipen/scripts/tcr/ImmunarchLoading.R
Due: flake8

scrna.SeuratClustering: Add options to limit string and numeric output length to have more exact caching signature
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

scrna.SeuratClusterStats: Add `ngenes` to plot the number of genes expressed
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

scrna.SeuratClusterStats: Add barplot for `features` and allow aggregation of features
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

scrna.ModuleScoreCalculator: Fix features not being passed to `AddModuleScore` as a list
  biopipen/scripts/scrna/ModuleScoreCalculator.R
Due: flake8

scrna.SeuratClusterStats: Fix matching kind for plots of features
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

tcr.CloneResidency: Fix stringifying the subject in case it is a factor
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

tcr.CloneResidency: Make `section` works in report
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

scrna.SeuratMap2Ref: Rename `envs.alias` to `envs.name
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

scrna.SeuratMap2Ref: Set default value of `envs.MappingScore.ndim` to 30
  biopipen/ns/scrna.py
Due: flake8

scrna.SeuratMap2Ref: Add `envs.ncores` for parallelization
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

scrna.ScFGSEA: Allow to ignore small group when fgsea fails due to all NAs for pre-ranks
  biopipen/reports/scrna/ScFGSEA.svelte
  biopipen/scripts/scrna/ScFGSEA.R
Due: flake8

scrna.MarkersFinder: Fix a bug when subsetting cells
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

deps: bump pipen to 0.12.5
  poetry.lock
Due: none
