Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

⬆️ Bump pipen-runinfo to 0.1.1
  poetry.lock
  pyproject.toml
Due: versionchecker

✅ Try to fix tests
  biopipen/scripts/bed/Bed2Vcf.py
  poetry.lock
  tests/conda/env_bio.yml
  tests/conda/env_r.yml
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

✅ Try to fix tests
  biopipen/ns/plot.py
  tests/conda/env_r.yml
  tests/test_bam/BamSplitChroms/test.py
Due: flake8

✅ Try to fix tests
  biopipen/ns/plot.py
  poetry.lock
  tests/test_bam/BamSplitChroms/test.py
Due: flake8

✅ Try to fix tests
  biopipen/ns/plot.py
  biopipen/utils/misc.py
  tests/test_bam/BamSplitChroms/test.py
Due: flake8

✅ Try to fix tests
  tests/conda/env_r.yml
Due: none

🐛 [cnvkit] Fix when some arguments are `None`
  biopipen/scripts/cnvkit/CNVkitCall.py
  biopipen/scripts/cnvkit/CNVkitDiagram.py
  biopipen/scripts/cnvkit/CNVkitScatter.py
  biopipen/scripts/cnvkit/CNVkitSegment.py
Due: flake8

📝 Use `flag` instead `action=store_true` in docstring
  biopipen/ns/cnv.py
  biopipen/ns/cnvkit_pipeline.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_basic.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
Due: flake8

📝 [cnv] Update docstring
  biopipen/ns/cnv.py
Due: flake8

📝 [cnvkit_pipeline] Update docstrings to adopt latest pipen-annotate and pipen-board
  biopipen/ns/cnvkit.py
  biopipen/ns/cnvkit_pipeline.py
Due: flake8

⬆️ Bump pipen-board to 0.5.4
  poetry.lock
Due: none

🚑 [cnv.AneuploidyScoreSummary] Fix when envs.group_col is None but in.metafile is given
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
Due: flake8

🎨 [scrna.CellTypeAnnotate] Warn when no cell types are given
  biopipen/scripts/scrna/CellTypeAnnotate-direct.R
Due: flake8

📝 [scrna_basic] Update docstrings to adopt latest pipen-annotate and pipen-board
  biopipen/ns/scrna.py
  biopipen/ns/scrna_basic.py
Due: flake8

📝 [scrna_basic] Add documentation
  docs/pipelines/scrna_basic.md
  docs/pipelines/scrna_basic.png
  mkdocs.yml
Due: none

🔧 [scrna_basic] Update configuration for docker image building
  docker/scrna_basic/Dockerfile
  docker/scrna_basic/entry.sh
  docker/scrna_basic/env.yml
  docker/scrna_basic/example.json
  docker/scrna_basic/make-examples.sh
Due: none

🔧 [scrna_basic] Update configuration for docker image building
  docker/scrna_basic/Dockerfile
Due: none

🔧 [scrna_basic] Update configuration for docker image building
  docker/scrna_basic/env.yml
Due: none

🔧 [scrna_basic] Update configuration for docker image building
  docker/scrna_basic/make-examples.sh
Due: none

✅ [utils.gene] Fix tests
  tests/test_utils/gene/test.py
Due: none

🔧 [scrna_basic] Update configuration for docker image building
  docker/scrna_basic/Dockerfile
  docker/scrna_basic/example.json
  docker/scrna_basic/make-examples.sh
Due: none

🔧 [scrna_basic] Update configuration for docker image building
  docker/scrna_basic/Dockerfile
  docker/scrna_basic/make-examples.sh
  docker/scrna_basic/pipen-board.patch
Due: none

⬆️ Bump pipen-report to 0.12 and pipen-runinfo to 0.2
  docker/scrna_basic/env.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Bump pipen-args to 0.10.2
  poetry.lock
Due: none

🔧 [scrna_basic] Update configuration for docker image building
  biopipen/ns/scrna_basic.py
  docker/scrna_basic/env.yml
  docker/scrna_basic/example.json
Due: flake8

🔧 [scrna_basic] Update configuration for docker image building
  docker/scrna_basic/example.json
Due: none

⬆️ Bump pipen-board to 0.5.5
  poetry.lock
Due: none

📝 [scrna_basic] Update docs
  biopipen/ns/scrna_basic.py
  board.toml
  docker/scrna_basic/board.toml
  docs/pipelines/scrna_basic.md
Due: flake8

⬆️ Bump pipen-board to 0.5.6
  poetry.lock
  pyproject.toml
Due: versionchecker

🔧 [scrna_basic] Update configuration for docker image building
  docker/scrna_basic/board.toml
  docker/scrna_basic/example.json
Due: none

🔖 0.12.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
