Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

ci: update cache number for reference data
  .github/workflows/ci.yml
Due: none

ci: update fetch depth for checkout action
  .github/workflows/ci.yml
Due: none

0.34.2 (#164)
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/reports/scrna/TopExpressingGenes.svelte
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/tcr/ScRepCombiningExpression.R
  docker/cellranger_pipeline/Dockerfile
  docker/cnvkit_pipeline/Dockerfile
  docker/test/Dockerfile
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/CellTypist/test.py
  tests/test_scrna/LoomTo10X/test.py
  tests/test_scrna/ScCATCH/run.env
  tests/test_scrna/ScCATCH/test.py
  tests/test_scrna/ScFGSEA/run.env
  tests/test_scrna/ScFGSEA/test.py
  tests/test_scrna/Seurat/data/tcell.sccatch.RDS
  tests/test_scrna/Seurat/run.env
  tests/test_scrna/Seurat/test.py
  tests/test_scrna/SeuratClusterStats/run.env
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_scrna/SeuratFilter/run.env
  tests/test_scrna/SeuratFilter/test.py
  tests/test_scrna/SeuratMap2Ref/run.env
  tests/test_scrna/SeuratMap2Ref/test.py
  tests/test_scrna/SeuratPreparing/run.env
  tests/test_scrna/SeuratPreparing/test.py
  tests/test_scrna/SeuratSubset/run.env
  tests/test_scrna/SeuratSubset/test.py
Due: flake8, versionchecker

fix(scrna.CellTypeAnnotation): fix identification of default ident if rds or qs is given as input for celltypist
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
Due: flake8

chore(scrna.CellTypeAnnotation): fix dead links for model files for celltypist
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
Due: flake8

fix(scrna.CellTypeAnnotation): ensure n_neighbors is set in neighbors params
  biopipen/scripts/scrna/celltypist-wrapper.py
Due: flake8

chore: remove SCP-plot.R
  biopipen/scripts/scrna/SCP-plot.R
Due: flake8

chore(ci): comment out cache deletion condition
  .github/workflows/ci.yml
Due: none

BREAKING(scrna.MetabolicFeatures): use `:` instead of `,` to separate groups for comparisons
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
Due: flake8

feat(tcr.ScRepCombiningExpression): add TCR presence indicator to combined expression object
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/ScRepCombiningExpression.R
Due: flake8

fix(scrna.SeuratClusterStats): correct typo in group_by variable name
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
Due: flake8

fix(tcr.ScRepLoading): fix an issue where barcode is not the first column when loaded for 10X data
  biopipen/scripts/tcr/ScRepLoading.R
Due: flake8

chore(scrna_metabolic_landscape): enlarge font size for list items in introduction of report templates
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeatures.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayActivity.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.svelte
Due: flake8

chore(scrna.SeuratClusterStats): adjust plot settings for better visualization
  biopipen/ns/scrna.py
Due: flake8

fix(tcr.TCRClustering): fix input collection for clustering
  biopipen/scripts/tcr/TCRClustering.R
Due: flake8

fix(tcr.TESSA): refine TCR input preparation
  biopipen/scripts/tcr/TESSA.R
Due: flake8

chore(tcr.TCRClustering): swap importing BLOSUM62 matrix from newer and older version of biopython for GIANA
  biopipen/scripts/tcr/GIANA/GIANA4.py
Due: flake8

fix(scrna.SeuratClusterStats): exclude NA entities in groupings
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

docs(scrna): update mutater documentation to include clone selectors
  biopipen/ns/scrna.py
Due: flake8

ci: update cache number for conda environments to force updates
  .github/workflows/ci.yml
Due: none

chore(scrna_metabolic_landscape): adjust plot dimensions
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

chore(scrna.SeuratClusterStats): enhance descriptions of plots
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-clustree.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

chore(deps): update versions for copier, pipen-report, and pipen-verbose
  poetry.lock
Due: none

0.34.3
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.3 (#165)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeatures.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayActivity.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.svelte
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/SCP-plot.R
  biopipen/scripts/scrna/SeuratClusterStats-clustree.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/celltypist-wrapper.py
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  biopipen/scripts/tcr/GIANA/GIANA4.py
  biopipen/scripts/tcr/ScRepCombiningExpression.R
  biopipen/scripts/tcr/ScRepLoading.R
  biopipen/scripts/tcr/TCRClustering.R
  biopipen/scripts/tcr/TESSA.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(scrna): update error flag in MarkersFinder and PseudoBulkDEG classes
  biopipen/ns/scrna.py
Due: flake8

chore(deps): bump pipen to 0.17.11
  poetry.lock
Due: none

0.34.4
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.34.4 (#166)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(scrna.SeuratClusterstats): update string formatting for statistical comparison descriptions
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
Due: flake8

ci: revert CACHE_NUMBER to 1 for conda to force install biopipen.utils.R v0.2.9
  .github/workflows/ci.yml
Due: none

0.34.5
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.34.5 (#167)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(scrna.CellTypeAnnotation): print the command for celltypist
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
Due: flake8

feat(tcr.ScRepLoading): enhance to auto-detect data type
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/ScRepLoading.R
Due: flake8

chore(tcr.ScRepCombiningExpression): rename TCR_presence to VDJ_presence in metadata of output Seurat object
  biopipen/scripts/tcr/ScRepCombiningExpression.R
Due: flake8

chore(deps): update xqute to version 0.10.4
  poetry.lock
Due: none

chore(docker): add procps-ng for free command for pipen-runinfo
  docker/base/Dockerfile
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
