Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

fix(docker): update Dockerfile to use multi-stage build for improved efficiency
  docker/test/Dockerfile
Due: none

chore: force updating the docker images for pipelines
  docker/cellranger_pipeline/Dockerfile
  docker/cnvkit_pipeline/Dockerfile
  docker/pipseeker_pipeline/Dockerfile
Due: none

chore(cnvkit): update cnvkit version to 0.9.13 and downgrade python to 3.10
  docker/cnvkit_pipeline/env.yml
Due: none

ci(docker): update change detection to include cleanup.list in Docker workflow
  .github/workflows/docker.yml
Due: none

chore(docker): comment out terminfo path in cleanup list to prevent unnecessary removal
  docker/cleanup.list
Due: none

chore(scrna.SeuratMap2Ref): log default identity of query after mapping
  biopipen/scripts/scrna/SeuratMap2Ref.R
Due: flake8

feat(scrna): allow using "ident" as an alias for the default identity column in multiple processes
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  tests/test_scrna/Seurat/test.py
Due: flake8

1.2.8
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.2.8 (#221)
  .github/workflows/docker.yml
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  docker/base/Dockerfile
  docker/cellranger_pipeline/Dockerfile
  docker/cellranger_pipeline/env.yml
  docker/cleanup.list
  docker/cleanup.py
  docker/cnvkit_pipeline/Dockerfile
  docker/cnvkit_pipeline/env.yml
  docker/pipseeker_pipeline/Dockerfile
  docker/pipseeker_pipeline/env.yml
  docker/test/Dockerfile
  docker/test/Dockerfile.deps
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

docs(scrna.SeuratClusterStats): update image URLs for cluster statistics plots
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
Due: flake8

1.2.9
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.2.9 (#222)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

feat(scrna.MarkersFinder/PseduBulkDEG): add db parameter for allenrich plot database selection
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  tests/test_scrna/Seurat/test.py
Due: flake8

1.2.10
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

1.2.10 (#223)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

test(scrna.PseudoBulkDEG): enhance allenrich plot options with additional heatmap types
  tests/test_scrna/Seurat/test.py
Due: none

feat(scrna): refactor metadata mutation to use MutateSeuratMeta function
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/scripts/scrna/SeuratMetadataMutater.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(tcr.ClonalStats): update mutator function to use MutateScRep for improved logging
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/ClonalStats.R
Due: flake8

chore(deps): update comment for r-biopipen.utils to for ci update conda env
  tests/conda/env_biopipen.yml
Due: none

1.2.11
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

1.2.11 (#224)
  biopipen/__init__.py
  biopipen/ns/scrna.py
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/PseudoBulkDEG.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratMap2Ref.R
  biopipen/scripts/scrna/SeuratMetadataMutater.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/scrna/SeuratSubClustering.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/tcr/ClonalStats.R
  docs/CHANGELOG.md
  pyproject.toml
  tests/conda/env_biopipen.yml
  tests/test_scrna/Seurat/test.py
Due: flake8, versionchecker

chore(scrna): use invisible() for sapply calls to suppress output when applying cases
  biopipen/scripts/gsea/FGSEA.R
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
Due: flake8

docs(vcf.TruvariConsistency): rename output file to output directory for report generation
  biopipen/ns/vcf.py
Due: flake8

refactor: migrate from poetry to uv for dependency management
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  docker/base/Dockerfile
  docker/cnvkit_pipeline/env.yml
  docker/test/Dockerfile
  poetry.lock
  pyproject.toml
  setup.py
  tests/conda/env_biopipen.yml
  tests/conda/run_test.sh
  uv.lock
Due: versionchecker

fix(cnv.AneuploidyScore): rename fill parameter to fill_by in BarPlot function
  biopipen/scripts/cnv/AneuploidyScore.R
Due: flake8

tests: replace 'uv run' with 'python' in run_test.sh for script execution
  tests/conda/run_test.sh
Due: none

fix(regulatory.MotifAffinityTest): fix SNP_id assignment
  biopipen/scripts/regulatory/MotifAffinityTest_MotifBreakR.R
Due: flake8

ci(docker): downgrade setup-buildx-action to v4
  .github/workflows/docker.yml
Due: none

ci(docker): enhance change detection for Docker workflows (force docker-test-deps; force docker-test; force docker-cnvkit-pipeline; force docker-cellranger-pipeline; docker-pipseeker-pipeline)
  .github/workflows/docker.yml
Due: none

ci(docker): correct cache command in Dockerfile installation step (force docker-test)
  docker/test/Dockerfile
Due: none

feat(cellranger): add "cellranger multi" pipeline
  biopipen/ns/cellranger.py
  biopipen/ns/cellranger_pipeline.py
  biopipen/reports/cellranger/CellRangerMulti.svelte
  biopipen/reports/cellranger/CellRangerMultiSummary.svelte
  biopipen/scripts/cellranger/CellRangerMulti.py
  biopipen/scripts/cellranger/CellRangerMultiSummary.R
  docker/cellranger_pipeline/CellrangerMultiPipeline.config.toml
  docs/pipelines/cellranger_pipeline.md
  tests/test_cellranger/CellRangerMulti/run.env
  tests/test_cellranger/CellRangerMulti/test.py
Due: flake8

1.3.0
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: flake8, versionchecker

1.3.0 (#225)
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  biopipen/__init__.py
  biopipen/ns/cellranger.py
  biopipen/ns/cellranger_pipeline.py
  biopipen/ns/vcf.py
  biopipen/reports/cellranger/CellRangerMulti.svelte
  biopipen/reports/cellranger/CellRangerMultiSummary.svelte
  biopipen/scripts/cellranger/CellRangerMulti.py
  biopipen/scripts/cellranger/CellRangerMultiSummary.R
  biopipen/scripts/cnv/AneuploidyScore.R
  biopipen/scripts/gsea/FGSEA.R
  biopipen/scripts/regulatory/MotifAffinityTest_MotifBreakR.R
  biopipen/scripts/scrna/CellCellCommunicationPlots.R
  biopipen/scripts/scrna/CellsDistribution.R
  biopipen/scripts/scrna/ScFGSEA.R
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
  biopipen/scripts/scrna/SeuratClusterStats-ngenes.R
  biopipen/scripts/scrna/SeuratClusterStats-stats.R
  biopipen/scripts/scrna/TopExpressingGenes.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  docker/base/Dockerfile
  docker/cellranger_pipeline/CellrangerMultiPipeline.config.toml
  docker/cnvkit_pipeline/env.yml
  docker/test/Dockerfile
  docs/CHANGELOG.md
  docs/pipelines/cellranger_pipeline.md
  poetry.lock
  pyproject.toml
  setup.py
  tests/conda/env_biopipen.yml
  tests/conda/run_test.sh
  tests/test_cellranger/CellRangerMulti/run.env
  tests/test_cellranger/CellRangerMulti/test.py
  uv.lock
Due: flake8, versionchecker

feat(cellranger): update CellRangerMulti to use multi config CSV for input
  biopipen/ns/cellranger.py
  biopipen/ns/cellranger_pipeline.py
  biopipen/scripts/cellranger/CellRangerMulti.py
  docker/cellranger_pipeline/CellrangerMultiPipeline.config.toml
  tests/test_cellranger/CellRangerMulti/test.py
Due: flake8

feat(cellranger): add --nopreflight option to CellRangerMulti command
  biopipen/scripts/cellranger/CellRangerMulti.py
  tests/test_cellranger/CellRangerMulti/test.py
Due: flake8

fix(tcr.CDR3Clustering): update output filename to reflect CDR3 clustering results
  biopipen/ns/tcr.py
Due: flake8

fix(scrna.SeuratClusterStats): get default dimension reduction from scploter:::default_dimreduc
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratClusterStats-dimplots.R
  biopipen/scripts/scrna/SeuratClusterStats-features.R
Due: flake8

fix(scrna.Slingshot): correct default dimension reduction function reference
  biopipen/scripts/scrna/Slingshot.R
Due: flake8

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
