Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

chore: bump pipen to 1.1.18
  uv.lock
Due: none

fix(scrna.CellTypeAnnotation): ensure ident is correctly set as character type for cell type columns
  biopipen/scripts/scrna/CellTypeAnnotation-cell.R
Due: flake8

1.3.14
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

1.3.14 (#239)
  biopipen/__init__.py
  biopipen/ns/misc.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/scrna/CellTypeAnnotation-cell.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/MQuadVcf.py
  biopipen/scripts/tcr/ScRepCombiningExpression.R
  biopipen/scripts/vcf/BcftoolsView.py
  docs/CHANGELOG.md
  tests/test_bed/BedConsensus/test.py
  tests/test_misc/File2Proc/test.py
  tests/test_scrna/Seurat/data/celltype_annotation.tsv
  tests/test_scrna/Seurat/test.py
  uv.lock
Due: flake8, versionchecker

fix(scrna.CellTypeAnnotation): update identity column handling for cell type annotations
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cell.R
Due: flake8

feat(scrna.CellTypeAnnotation): add support for scSorter tool in cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/conda/env_biopipen.yml
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.CellTypeAnnotation): support multiple case of annotations
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cell.R
  biopipen/scripts/scrna/CellTypeAnnotation-celltypist.R
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
  biopipen/scripts/scrna/CellTypeAnnotation-hitype.R
  biopipen/scripts/scrna/CellTypeAnnotation-sccatch.R
  biopipen/scripts/scrna/CellTypeAnnotation-scsorter.R
  biopipen/scripts/scrna/CellTypeAnnotation-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.CellTypeAnnotation): add support for SCINA in cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-scina.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/conda/env_biopipen.yml
  tests/test_scrna/Seurat/data/scina_signatures.csv
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.CellTypeAnnotation): add assay parameter for analysis and case-specific usage
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

feat(scrna.CellTypeAnnotation): add support for SingleR in cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-singler.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  tests/conda/env_biopipen.yml
  tests/test_scrna/Seurat/data/singler_ref.rds
  tests/test_scrna/Seurat/test.py
Due: flake8

feat(scrna.CellTypeAnnotation): add support for scHDeepInsight in cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-schdeepinsight.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/schdeepinsight-wrapper.py
Due: flake8

feat(scrna.CellTypeAnnotation): add support for GPTCelltype in cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-gptcelltype.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

fix(scrna.CellTypeAnnotation): enhance handling of missing clusters and special values in direct cell type annotation
  biopipen/scripts/scrna/CellTypeAnnotation-direct.R
Due: flake8

feat(scrna.CellTypeAnnotation): add support for saving cluster-to-cell-type mappings
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

feat(scrna.CellTypeAnnotation): add support for cellassign tool in cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

feat(scrna.CellTypeAnnotation): add support for scBERT tool in cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-scbert.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
  biopipen/scripts/scrna/scbert-wrapper.py
Due: flake8

feat(scrna.CellTypeAnnotation): add support for CelliD tool in cell type annotation
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cellid.R
  biopipen/scripts/scrna/CellTypeAnnotation.R
Due: flake8

test(scrna.CellTypeAnnotation): move tool-specific tests to dedicated test_scrna/CellTypeAnnotation
  tests/test_scrna/CellTypeAnnotation/data/ScTypeDB_short.xlsx
  tests/test_scrna/CellTypeAnnotation/data/celltype_annotation.tsv
  tests/test_scrna/CellTypeAnnotation/data/scina_signatures.csv
  tests/test_scrna/CellTypeAnnotation/data/singler_ref.rds
  tests/test_scrna/CellTypeAnnotation/run.env
  tests/test_scrna/CellTypeAnnotation/test.py
  tests/test_scrna/Seurat/data/celltype_annotation.tsv
  tests/test_scrna/Seurat/test.py
Due: none

test(scrna.CellTypeAnnotation): add support for CelliD tool in cell type annotation
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
  tests/conda/env_biopipen.yml
  tests/test_scrna/CellTypeAnnotation/data/cellid_markers.csv
  tests/test_scrna/CellTypeAnnotation/test.py
Due: flake8

chore(scrna.MarkersFinder): set default plot type to heatmap_log2fc for marker plots
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

feat(scrna.SeuratPreparing): enhance sample handling by using orig.ident or a uniformed value when 'Sample' column is missing
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

feat(scrna.CellTypeAnnotation): add support for specifying Python executable in cellassign_args
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotation-cellassign.R
Due: flake8

fix(misc.File2Proc): remove unnecessary touch command before creating symbolic link
  biopipen/ns/misc.py
Due: flake8

feat(tcr.ScRepCombiningExpression): add group-based clonal proportion calculation and enhance clone size handling
  biopipen/scripts/tcr/ScRepCombiningExpression.R
  tests/test_tcr/ScRepertoire/test.py
Due: flake8

chore: bump up deps
  uv.lock
Due: none

1.4.0a1
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

chore(deps): bump python-simpleconf to version 0.9.5
  uv.lock
Due: none

feat(tcr.ScRepCombiningExpression): add logging for clonal proportion and clone size calculations
  biopipen/scripts/tcr/ScRepCombiningExpression.R
Due: flake8

feat(scrna.Slingshot): add support for cell subsetting and splitting in Slingshot analysis
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/Slingshot.R
  tests/test_scrna/Slingshot/test.py
Due: flake8

1.4.0a2
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

fix(scrna.Slingshot): handle varying lineage outputs for case splits
  biopipen/scripts/scrna/Slingshot.R
Due: flake8

chore(deps): bump markdown to version 3.10.3
  uv.lock
Due: none

1.4.0a3
  biopipen/__init__.py
  docs/CHANGELOG.md
Due: flake8, versionchecker

docs(CellTypeAnnotation): update documentation for output file naming
  biopipen/ns/scrna.py
Due: flake8

chore: bump pipen to v1.2
  pyproject.toml
  uv.lock
Due: versionchecker

feat(misc.Glob2Dir): enhance file handling with copy option and improved error messages
  biopipen/ns/misc.py
Due: flake8

feat(bam): add Samplot integration for visualizing BAM files and implement necessary environment setup
  biopipen/core/config.toml
  biopipen/ns/bam.py
  biopipen/scripts/bam/Samplot.py
  tests/test_bam/Samplot/run.env
  tests/test_bam/Samplot/test.py
Due: flake8

chore(deps): update platformdirs to version 4.11.1
  uv.lock
Due: none

docs: update logo
  docs/img/logo.png
Due: none

docs: update logo size for better visibility
  README.md
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
