Repository pwwang/biopipen: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - biopipen
  language: python
  additional_dependencies:
  - flake8

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

✨ [vcf.VcfSampleSplits] Add envs.private to keep only private sites for each sample
  .pre-commit-config.yaml
  biopipen/scripts/vcf/VcfSplitSamples.py
Due: flake8

🔧 Fix setup.py file type
  setup.py
Due: none

✅ Fix tests for utils.gene
  tests/test_utils/gene/test.py
Due: none

🚨 Ignore template strings in python scripts for pyright
  biopipen/scripts/bcftools/BcftoolsAnnotate.py
  biopipen/scripts/bcftools/BcftoolsFilter.py
  biopipen/scripts/gene/GeneNameConversion.py
  biopipen/scripts/misc/Config2File.py
  biopipen/scripts/misc/Str2File.py
  biopipen/scripts/vcf/VcfFilter.py
  biopipen/scripts/web/DownloadList.py
Due: flake8

✨ [tcr.SampleDiversity] Add proc
  biopipen/ns/tcr.py
  biopipen/reports/tcr/SampleDiversity.svelte
  biopipen/scripts/tcr/SampleDiversity.R
Due: flake8

🔖 0.6.1
  biopipen/__init__.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.6.1 (#46)
  .pre-commit-config.yaml
  biopipen/__init__.py
  biopipen/ns/cnvkit.py
  biopipen/ns/cnvkit_pipeline.py
  biopipen/ns/tcr.py
  biopipen/ns/vcf.py
  biopipen/reports/tcr/SampleDiversity.svelte
  biopipen/scripts/bcftools/BcftoolsAnnotate.py
  biopipen/scripts/bcftools/BcftoolsFilter.py
  biopipen/scripts/cnvkit/CNVkitCall.py
  biopipen/scripts/gene/GeneNameConversion.py
  biopipen/scripts/misc/Config2File.py
  biopipen/scripts/misc/Str2File.py
  biopipen/scripts/tcr/ImmunarchSplitIdents.R
  biopipen/scripts/tcr/SampleDiversity.R
  biopipen/scripts/vcf/VcfFilter.py
  biopipen/scripts/vcf/VcfIntersect.py
  biopipen/scripts/vcf/VcfSplitSamples.py
  biopipen/scripts/web/DownloadList.py
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  setup.py
  tests/test_utils/gene/test.py
Due: flake8, versionchecker

🎨 [scripts.utils.vcf] Use format keys for samples
  biopipen/utils/vcf.py
Due: flake8

✨ [vcf.VcfFix] Dedent envs.helpers automatically and allow it to be list of strings
  biopipen/ns/vcf.py
  biopipen/scripts/vcf/VcfFix.py
Due: flake8

🧑‍💻 [tcr.CloneResidency] Add count table and allow grouping samples in the report
  biopipen/ns/tcr.py
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/reports/utils/misc.liq
  biopipen/scripts/tcr/CloneResidency.R
Due: flake8

🧑‍💻 [cnvkit.CNVkitCall] Allow not passing threshold
  biopipen/scripts/cnvkit/CNVkitCall.py
Due: flake8

🧑‍💻 [cnvkit.CNVkitCall] Allow setting cutoff to fetch significant genes for enrichment analysis
  biopipen/scripts/scrna/MarkersFinder.R
Due: flake8

🧑‍💻 [scrna.SeuratPreparing/SeuratClustering] Do QC in SeuratPreparing only and prepare clustering in SeuratClustering
  biopipen/ns/scrna.py
  biopipen/reports/scrna/SeuratPreparing.svelte
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratPreparing.R
Due: flake8

✨ [cnvkit_pipeline] Allow customization of colnames in metafile
  biopipen/ns/cnvkit_pipeline.py
Due: flake8

💚 Fix CI (conda-incubator/setup-miniconda#274)
  .github/workflows/ci.yml
Due: none

🔖 0.6.2
  biopipen/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

0.6.2 (#47)
  .github/workflows/ci.yml
  biopipen/__init__.py
  biopipen/ns/cnvkit_pipeline.py
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/ns/vcf.py
  biopipen/reports/scrna/SeuratPreparing.svelte
  biopipen/reports/tcr/CloneResidency.svelte
  biopipen/reports/utils/misc.liq
  biopipen/scripts/cnvkit/CNVkitCall.py
  biopipen/scripts/scrna/MarkersFinder.R
  biopipen/scripts/scrna/SeuratClusterStats.R
  biopipen/scripts/scrna/SeuratClustering.R
  biopipen/scripts/scrna/SeuratPreparing.R
  biopipen/scripts/tcr/CloneResidency.R
  biopipen/scripts/vcf/VcfFix.py
  biopipen/utils/vcf.py
  docs/CHANGELOG.md
  pyproject.toml
Due: flake8, versionchecker

🧑‍💻 [tcr.Immunarch] Allow separating samples for rarefraction analysis
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

✨ [scrna.SeuratClusterStats] Add expression matrix to output
  biopipen/ns/scrna.py
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

🧑‍💻 [tcr.Immunarch] Allow align_x and log scale for rarefraction analysis
  biopipen/ns/scrna.py
  biopipen/ns/tcr.py
  biopipen/scripts/tcr/Immunarch.R
Due: flake8

✨ [cnv.AneuploidyScoreSummary] Add heatmaps
  biopipen/ns/cnv.py
  biopipen/reports/cnv/AneuploidyScoreSummary.svelte
  biopipen/scripts/cnv/AneuploidyScoreSummary.R
Due: flake8

🐛 [cnv.Aneuploidy] Fix when only one arm has signals for a chromosome
  biopipen/scripts/cnv/AneuploidyScore.R
Due: flake8

✨ [cnvkit.CNVkitGuessBaits] Add proc
  biopipen/ns/cnvkit.py
  biopipen/scripts/cnvkit/CNVkitGuessBaits.py
  biopipen/scripts/cnvkit/guess_baits.py
Due: flake8

♻️ [cnvkit_pipeline] Refactor and add docs
  biopipen/ns/cnvkit_pipeline.py
  docs/pipelines/CNVkit-pipeline.png
  docs/pipelines/cnvkit_pipeline.md
  mkdocs.yml
Due: flake8

⬆️ Upgrade pipen-cli-run to 0.4
  poetry.lock
  pyproject.toml
Due: versionchecker

🎨 [cnvkit_pipeline] Use process decorator to define processes
  biopipen/ns/cnvkit_pipeline.py
Due: flake8

✅ [tests] Add refgenes for testing
  tests/data/prep_reference.py
Due: none

✨ [scrna.SeuratClusterStats] Allow groupby other metadata column than Sample in cell stats
  biopipen/ns/scrna.py
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

✨ [scrna.ExprImput] Add ALRA and set as default
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/ExprImpute-alra.R
  biopipen/scripts/scrna/ExprImpute-rmagic.R
  biopipen/scripts/scrna/ExprImpute-scimpute.R
  biopipen/scripts/scrna/ExprImpute.R
Due: flake8

🎨 [scrna.scrna_metabolic_landscape] Move from scrna_metabolic and use Seurat object directly instead of sce
  biopipen/ns/scrna_metabolic_landscape.py
  biopipen/reports/scrna_metabolic/MetabolicFeatures.svelte
  biopipen/reports/scrna_metabolic/MetabolicPathwayHeterogeneity.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeatures.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicFeaturesIntraSubsets.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayActivity.svelte
  biopipen/reports/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.svelte
  biopipen/scripts/scrna_metabolic/MetabolicExprNormalization.R
  biopipen/scripts/scrna_metabolic/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic/MetabolicFeaturesIntraSubsets.R
  biopipen/scripts/scrna_metabolic/MetabolicInputs.py
  biopipen/scripts/scrna_metabolic/MetabolicPrepareSCE.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeatures.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicFeaturesIntraSubsets.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayActivity.R
  biopipen/scripts/scrna_metabolic_landscape/MetabolicPathwayHeterogeneity.R
  tests/test_scrna_metabolic/main/test.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/run.env
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/scripts/PrepareData.R
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
Due: flake8

🐛 [scrna.SeuratClustering] Fix when there are few cells
  biopipen/scripts/scrna/SeuratClustering.R
Due: flake8

✨ [scrna.CellTypeAnnotate] Add proc and tests
  biopipen/core/config.toml
  biopipen/ns/scrna.py
  biopipen/scripts/scrna/CellTypeAnnotate-direct.R
  biopipen/scripts/scrna/CellTypeAnnotate-sctype.R
  biopipen/scripts/scrna/CellTypeAnnotate.R
  biopipen/scripts/scrna/sctype.R
  tests/test_scrna/SeuratClusterStats/test.py
Due: flake8

✨ [scrna.SeuratClusterStats] Allow subsetting for cell stats
  biopipen/reports/scrna/SeuratClusterStats.svelte
  biopipen/scripts/scrna/SeuratClusterStats.R
Due: flake8

🐛 [tests] Fix reference preparing
  tests/data/prep_reference.py
Due: none

✅ [tests] Add sctype db for tests
  .gitignore
  tests/conda/env_r.yml
  tests/data/prep_reference.py
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/run.env
Due: none

✅ [tests] Try not patch using lastest poetry
  .github/workflows/ci.yml
  poetry.lock
  tests/conda/env_bio.yml
  tests/conda/env_r.yml
  tests/conda/patch_poetry.sh
  tests/conda/poetry.pth
Due: none

✅ [vcf.Vcf2Bed] Fix test
  tests/test_vcf/Vcf2Bed/data/tobed.vcf
  tests/test_vcf/Vcf2Bed/test.py
Due: none

✅ [tests] Build test deps and fix tests
  biopipen/ns/scrna_metabolic.py
  tests/conda/env_r.yml
  tests/test_gsea/FGSEA/test.py
  tests/test_scrna/SeuratClusterStats/test.py
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/test.py
Due: flake8

👷 [tests] Exclude test_scrna_metabolic_landscape from CI
  tests/test_scrna_metabolic_landscape/ScrnaMetabolicLandscape/run.env
Due: none

⬆️ Bump pipen to 3.11
  poetry.lock
Due: none

Path conditions:
  flake8: any of: ^biopipen/.+$, but not: .+\.html$
  versionchecker: any of: ^pyproject\.toml|biopipen/__init__\.py$, but not: .+\.html$
